.academia {
  width: 100%;
  background: linear-gradient(to left, #f2f2f2 50%, #e4e2d5 50%);
}

.academia-wrapper {
  height: 340px;
  position: relative;

  @include mq-info {
    height: auto;
  }

  article {
    display: inline-block;
    height: 340px;
    vertical-align: top;

    &:first-of-type {
      background-color: #e4e2d5;
      width: 253px;
    }

    &:last-of-type {
      background-color: #f2f2f2;
      width: 525px;
    }

    @include mq-info {
      height: auto;

      &:first-of-type, &:last-of-type {
        box-sizing: border-box;
        padding: 30px 10px;
        width: 50%;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    white-space: nowrap;

    @include mq-info {
      white-space: normal;
    }

    &:last-of-type {
      margin-top: 20px;
    }

    li {
      display: inline-block;
      height: 71px;
      width: 30px;
    }
  }
}

.students {
  position: absolute;
  left: 30px;
  top: 92px;

  @include mq-info {
    left: 0;
    position: relative;
    top: 0;

    ul {
      margin: 20px auto;
      text-align: center;
    }
  }
}

.student {
  background: image_url('infographic/icon_student.png');
  margin-right: 21px;
}

.academia-separator {
  border-top: none;
  border-left: 130px solid #e4e2d5;
  border-right: none;
  border-bottom: 340px solid #f2f2f2;
  display: inline-block;
}

.professionals {
  position: absolute;
  top: 98px;
  right: 55px;

  ul {

    &:last-of-type {
      margin-top: 12px;
    }
  }

  @include mq-info {
    position: relative;
    right: 0;
    top: 0;

    ul {
      margin: 20px auto;
      text-align: center;
    }
  }
}

.professional {
  background: image_url('infographic/icon_professionals.png');
  margin-right: 23px;
}
