.consumables {
  width: 100%;
  background: #f2f2f2;
}

.consumables-wrapper {
  background-color: #f2f2f2;
  height: 510px;
  position: relative;

  img {
    display: block;
    position: absolute;
  }
}

.mexican-hot-dogs {
  top: 112px;
  left: 96px;
}

.club-mate {
  top: 85px;
  right: 72px;
}

.sombreros {
  top: 232px;
  left: 350px;
}

.pinatas {
  top: 283px;
  left: 140px;
}

.mechanical-bull {
  top: 293px;
  right: 69px;
}
