.sponsors-fiestas {
  background: white;
  width: 100%;
}

.sponsors-wrapper {
  height: 77px;
  position: relative;
}

.sponsor-hosted-fiestas {
  display: block;
  left: 74px;
  position: absolute;
  top: -70px;
}

.sponsor-onelogin {
  margin: 22px 32px 0 508px;
  vertical-align: top;
}

.sponsor-github {
  margin: 18px 36px 0 0;
}

.sponsor-crowdint {
  margin: 18px 0 0 0;
  vertical-align: top;
}
