//Galaxy S3, S4, Nexus
@media screen and (max-width: 640px) {
  @include grid_generator;

  #about-magma{
    height: 2650px;

    .heading{
      .info-image{
        display: none;
      }

      .invitation{
        margin: 5% 8% 0;
      }

      .advice{
        margin: 0;
      }
    }

    .section{
      display: inline-block;
      max-height: 700px !important;
      width: 100%;
    }

    .content{
      position: relative;
    }

    .content-information{
      text-align: left;
      float: none;
      margin: 0;
      padding: 0;
      width: 100%;
      .title{
        text-align: center;
      }
      .description{
        margin-top: 60%;
        padding: 0 10px;
      }
    }

    .content-image{
      float: none;
      left: 0;
      position: absolute;
      width: 100%;
    }

    #location, #culture{
      .content-image{
        top: 75px;
      }
    }

    #venue{
      .content-image{
        top: 50px;
      }
    }

    #map-container{
      height: 400px;
      max-width: auto;
      .map-legend{
        left: 0px;
        position: absolute;
        padding: 0 10px;
        text-align: left;
        top: 60%;
        width: 57%;
      }
    }

    .register.section{
      text-align: center;
      img.shadow{
        margin-top: 7%;
        padding: 0% 25%;
        width: 171px;
      }

      a{
        margin: 0;
      }
    }

    .controls {
      margin: 0 auto;
      width: 50px;
    }
  }
}


@media screen and (max-width: 360px) {

  #about-magma{
    height: 2780px !important;
    padding-top: 15%;
    padding-bottom: 0% !important;

    .heading{
      .invitation{
        margin: 15% 10% 0;
      }
    }

    .content-information{
      .description{
        margin-top: 105%;
      }
    }

    #map-container{
      .map-legend{
        width: 305px;
      }
    }

    .register.section{
      img.shadow{
        margin-top: 10%;
        padding: 0% 10%;
      }
    }
  }
}
