//Galaxy S3, S4, Nexus
@media screen and (max-width: 640px) {
  @include grid_generator;

  #accommodations{
    padding: 70px 0 20px;
    #heading{
      #beach-image{
        display: none;
      }
      .container{
        height: 150px;
        padding: 0;

        .advice{
          margin: 0;
        }
      }
    }

    #village-info{
      .container{
        position: relative;

        #description{
          padding: 2% 0 15px 0;
          text-align: center;

          .title{
            float: left;
            position: relative;
            width: 300px;
            &:first-child{
              margin-left: 29%;
              padding: 0 5px;
            }
            span{
              float: left;
              position: absolute;
              top: 0;
              left: 0;
              &:last-child{
                left: 41%;
                width: 190px;
              }
            }
          }

          .description-text{
            float: none;
            padding-top: 93%;
            width: 100%;
          }

          .btn-register{
            height: 100px;
            left: -134px;
            margin: 5% 0 0 0;
            padding: 12px 16px;
            top: 2px;
            width: 100px;

            img {
              height: 74px;
            }
          }

          .shadow {
            margin-bottom: 70px;
            top: 50px;
            right: 238px;
            width: 115px;
          }
        }

        #village-image{
          position: absolute;
          top: 5%;
          height: 550px;
          img{
            height: 550px;
            width: 100%;
          }
        }
      }
    }
  }

  #footer.accommodations{
    padding-top: 10px;
  }
}

@media screen and (max-width: 360px) {
  #accommodations{
    #heading{
      height: 200px;
      .invitation{
        margin-top: 55px;
      }
    }

    #village-info{
      .container{
        #description{
          .title{
            font-size: 18px;
            &:first-child{
              margin-left: 20%;
            }
            span:last-child{
              left: 31%;
              width: 149px;
            }
          }

          .description-text{
            padding-top: 370px;
          }

          .btn-register{
            left: -4px;
            top: 17px;
          }

          .shadow {
            right: 108px;
          }
        }

        #village-image{
          height: 350px;
          img{
            height: 350px;
          }
        }
      }
    }
  }
}
