@media screen and (max-width: 640px)  {

  #footer{
    text-align: center;
    #copy-right{
      border: 0;
      margin-top: 20px;
      .title{
        border-top: 1px solid #5f514c;
        padding-top: 10px;
        margin: 31px 0 0;
      }
    }

    .anti{
      padding: 0 10px;

      div{
        float: none;
        width: 100%;
      }

      h3{
        font-size: 110%;
        margin-bottom: -15px;
        text-align: center;
      }

      .footer-legend{
        margin: 20px 0;
        text-align: center;
      }
    }
  }
}