//Galaxy S3, S4, Nexus
@media screen and (max-width: 640px) {
  @include grid_generator;

  #main-section{
    background-repeat: no-repeat;
    background-size: 1043px;
    padding-bottom: 0;
    .container{
      background: none;
      .left{
        #reylero{
          height: 200px;
          margin: 0 0 0 30%;
        }
      }

      .right{
        #info{
          display: none;
        }

        .social{
          border-top: 4px solid #423732;
          margin: 0 0 0 28%;
          padding-top: 25px;
          width: 44%;

          .twitter{
            margin: 0 24% 0;
          }
        }
      }
    }
  }

  #newsletter{
    margin-top: 20px;

    &.sent {
      height: 130px;
    }

    section {
      height: 278px;
      margin: 0 auto;
      width: 320px;
    }
    .banner {
      display: none;
    }

    p {
      line-height: 22px;
      width: 100%;
      &.small {
        font-size: 100%;
      }
      &.big {
        font-size: 155%;
      }
    }

    p, .form-container {
      bottom: 0;
      top: 8px;
      left: 0;
    }

    .form-container {
      width: 100%;
      margin-top: 4px;

      .submit {
        margin-top: 13px;
        float: none;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  @include grid_generator;

  #main-section{
    .container{
      .left{
        #reylero{
          margin: 0 0 0 16%;
        }
      }

      .right{
        .social{
          width: 50%;
          .twitter{
            margin: 0 10% 0;
          }
        }
      }
    }
  }

  #newsletter {
    section {
      height: 298px;
      width: 300px;
    }
  }
}
