@media screen and (max-width: 640px)  {

  #schedule{
    padding-top: 80px;
    .container.fixed {
      padding-top: 67px;

      .head {
        top: 40px;
        width: 81%;
      }

      .arrow {
        position: fixed;
        z-index: 100;
      }

      #right {
        margin: 0;
        right: 10px;
        top: 52px;
      }

      #left {
        top: 50px;
      }

      .line.opening {
        padding-top: 45px;
      }
    }
    .header {
      width: 288px;
      .star, .arena {
        display: inline-block;
      }
      .star {
        background: image_url('sprite.svg');
        background-size: 174px 180px;
        background-position: -155px -142px;
        width: 15px;
        height: 15px;
      }
      .arena {
        width: 230px;
      }
    }
    .left-stars, #left-mask, #right-mask, .right-stars {
      display: none;
    }
    #magma-legend {
      margin: 15px auto -15px;
      width: 292px;
    }

    .head {
      border-top: 0;
      padding: 8px 0 12px;
      &.es {
        padding-bottom: 10px;
      }
    }
    .bottom {
      display: none;
    }

    #time {
      width: 15%;
    }

    .day-image {
      margin-left: 20px;
    }

    #wednesday, #thursday, #friday {
      width: 85%;
      display: none;

      &.active {
        display: block;
      }
    }

    .line {
      .legend, .speaker-name, .language-image.en, .talk-name  {
        margin-left: 20px;
      }
      .speaker-name {
        margin-bottom: 5px;
      }
      .talk-name {
        margin-top: 0px;
        &.en {
          margin-left: 20px;
        }
      }
      &.talk .language-image.en {
        display: none;
      }
      &.talk {
        min-height: 65px;
        padding-bottom: 0;
      }
      .speaker-name {
        color: #2f2c25;
      }

      &.keynote {
        min-height: 55px;
        padding-bottom: 0;
        .keynotes-image {
          margin-left: 20px;
          right: 26px;
        }
        .language-image.en {
          left: 52px;
          margin-left: 0px;
        }
        .keynotes-image, .language-image.en {
          float: right;
          position: relative;
          top: -29px;
          width: 22px;
        }
        span {
          float: none;
          font-size: 120%;
          margin-left: 20px;
        }
      }
    }
    .arrow {
      background: image_url('arrows-sprite.svg') no-repeat;
      background-size: 35px 175px;
      height: 30px;
      position: relative;
      width: 20px;
    }

    #right {
      background-position: -7px -41px;
      display: inline-block;
      float: right;
      margin-bottom: -45px;
      margin-top: 44px;
    }

    #left {
      background-position: -7px 1px;
      display: inline-block;
      top: 44px;
    }
  }


}