@mixin icons($pos-x, $pos-y) {
  width: 47px;
  height: 27px;
  background-position: $pos-x $pos-y;
}

@mixin footer-icons($pos-x, $pos-y) {
  width: 30px;
  height: 25px;
  background-position: $pos-x $pos-y;
}
