.pure-u-2-3.main-content-mobile{ class: I18n.locale.to_s }
  = render 'pages/2017/partials/pages_main_menu'
  .container
    .bgc-gry-ltr.pt30.p0--m
      .pure-g-r
        .pure-u-1-1.ta-c.my30.my15--m.mx10
          .meet-new-friends-ring-icon
            %h2.ready-to-evolve-title
              Evolution has come 
          %h4.getting-to-magma-subtitle
            March 29, 30 & 31 - Manzanillo, Col. MX
    .cfp-container
      %p.meet-new-friends-paragraph
        Technology has transformed our community a lot in the last 50 years. It has brought
        benefits to make our life more comfortable, automatic and entertaining. However technology
        has also isolated us from personal interaction. This is the reason why Reylero has received
        a visit from a special guest from the future. McFly has come to warn him about the abuse of
        technology. He will show him how his four ancestors managed to live disconnected from the
        digital world but connected to reality.
      %p.meet-new-friends-paragraph.bold
        Join Reylero in this new adventure and use technology to evolve wisely!
      %span #InvolveToEvolve
    .reyleros-container.clearfix
      .container-desktop
        .twelve-columns.r-container
          %span Meet the New Friends
          .five-columns
            =image_tag('2017/futuro_rec.svg', class: 'reylero-futuro')
          .seven-columns
            %h2 El viajero
            %h3 - McFly
            %p.reylero-description
              Time traveler, techie and sporty. He likes updating his social media accounts to share
              valuable moments, experiences and useful information. Although he panics when his
              cellphone’s battery is low, he enjoys being disconnected to connect with the real world.
        .twelve-columns.r-container
          .seven-columns
            .reylero-container-left
              %h2 El empleado del mes 
              %h3 - Gómez Godínez
              %p.reylero-description
                24/7 Officer worker, except days off and holidays. He works hard and gets along with
                his co workers. Also he drinks coffee to begin his work days and on weekends, he enjoys
                beer. Drives a red Tsuru and likes puzzling on his free time. He has vision problems.
          .five-columns
            =image_tag('2017/godin_rec.svg', class: 'reylero-futuro')
        .twelve-columns.r-container
          .five-columns
            =image_tag('2017/justiciero_rec.svg', class: 'reylero-futuro')
          .seven-columns
            %h2 El Justiciero Tequilero
            %h3 - Vicente Rodolfo de la Villa Arango
            %p.reylero-description
              Revolutioner, strongman and tequila lover. He likes teamwork and talking with people.
              Everyday he combs his moustache and struggles to keep clean his zarape. Also he
              collects telegraphs and he likes learning new things to revolution his knowledge.
        .twelve-columns.r-container
          .seven-columns
            .reylero-container-left
              %h2 La anguila del Caribe
              %h3 - Vera Cruz
              %p.reylero-description
                Pirate, explorer and treasure hunter. She is good with maps, telescope and sextant.
                She is afraid of storms and hates octopus. Enjoys drinking rum and feeling the sea
                freeze on her face. She lost her leg to a shark attack and her eye in a battle with
                a french pirate.
          .five-columns
            =image_tag('2017/pirata_rec.png', class: 'reylero-pirata')
        .twelve-columns.r-container
          .five-columns
            =image_tag('2017/azteca.svg', class: 'reylero-futuro')
          .seven-columns
            %h2 La serpiente emplumada
            %h3 - Quetzal
            %p.reylero-description
              Aztec warrior, intelligent, analytical and skilled with math and astronomy. He enjoys
              ‘pulque’ and working out. Also likes birdwatching and walking in natural environments
              to meditate. He eats healthy to avoid getting sick. Hates mosquitoes and cloudy nights.
      .container-mobile
        .twelve-columns
          .twelve-columns.ta-c.mt20
            %span Meet the New Friends
          .twelve-columns
            =image_tag('2017/mobile_mcfly.png', class: 'reylero-futuro no-lg')
          .twelve-columns
            %h2 El viajero
            %h3 - McFly
            %p.reylero-description
              Time traveler, techie and sporty. He likes updating his social media accounts to share
              valuable moments, experiences and useful information. Although he panics when his
              cellphone’s battery is low, he enjoys being disconnected to connect with the real world.
            .r-container
        .twelve-columns
          .twelve-columns
            =image_tag('2017/mobile_godin.png', class: 'reylero-futuro')
          .twelve-columns
            %h2 El empleado del mes 
            %h3 - Gómez Godínez
            %p.reylero-description
              24/7 Officer worker, except days off and holidays. He works hard and gets along with
              his co workers. Also he drinks coffee to begin his work days and on weekends, he enjoys
              beer. Drives a red Tsuru and likes puzzling on his free time. He has vision problems.
            .r-container
        .twelve-columns
          .twelve-columns
            =image_tag('2017/mobile_justiciero.png', class: 'reylero-futuro')
          .twelve-columns
            %h2 El Justiciero Tequilero
            %h3 - Vicente Rodolfo de la Villa Arango
            %p.reylero-description
              Revolutioner, strongman and tequila lover. He likes teamwork and talking with people.
              Everyday he combs his moustache and struggles to keep clean his zarape. Also he
              collects telegraphs and he likes learning new things to revolution his knowledge.
            .r-container
        .twelve-columns
          .twelve-columns
            =image_tag('2017/mobile_pirata.png', class: 'reylero-futuro')
          .twelve-columns
            %h2 La anguila del Caribe
            %h3 - Vera Cruz 
            %p.reylero-description
              Pirate, explorer and treasure hunter. She is good with maps, telescope and sextant.
              She is afraid of storms and hates octopus. Enjoys drinking rum and feeling the sea
              freeze on her face. She lost her leg to a shark attack and her eye in a battle with
              a french pirate.
            .r-container
        .twelve-columns
          .twelve-columns
            =image_tag('2017/mobile_quetzal.png', class: 'reylero-futuro')
          .twelve-columns
            %h2 La serpiente emplumada
            %h3 - Quetzal 
            %p.reylero-description
              Aztec warrior, intelligent, analytical and skilled with math and astronomy. He enjoys
              ‘pulque’ and working out. Also likes birdwatching and walking in natural environments
              to meditate. He eats healthy to avoid getting sick. Hates mosquitoes and cloudy nights.
            .r-container
