.pure-u-2-3.main-content-mobile{ class: I18n.locale.to_s }
  = render 'pages/2017/partials/pages_main_menu'
  .container
    .bgc-gry-ltr.pt30.p0--m
      .pure-g-r
        .pure-u-1-1.ta-c.my30.my15--m.mx10
          .meet-new-friends-ring-icon
            %h2.getting-to-magma-title
              Meet the new friends
          %h4.getting-to-magma-subtitle
            March 29, 30 & 31 - Manzanillo, Col. MX
    .cfp-container
      %p.meet-new-friends-paragraph
        Technology has transformed our community a lot in the last 50 years. It has brought
        benefits to make our life more comfortable, automatic and entertaining. However technology
        has also isolated us from personal interaction. This is the reason why Reylero has received
        a visit of a special guest from the future. McFly has come to warn him about the abuse of
        technology. He will show him how his four ancestors managed to live disconnected from the
        digital world but connected to reality.
      %p.meet-new-friends-paragraph.bold
        Join Reylero in this new adventure and use technology to evolve wisely! 
      %span #InvolveToEvolve
    .reyleros-container
      .twelve-columns
        .four-columns
          =image_tag('2017/futuro.png', class: 'reylero-futuro')
        .eight-columns
          %h2 El viajero
          %h3 - McFly
          %p.reylero-description
            Time traveler, techie and sporty. He likes updating his social media accounts to share
            valuable moments, experiences and useful information. Although he panics when his
            cellphone’s battery is low, he enjoys being disconnected to connect with the real world.
      .twelve-columns
        .eight-columns
          .reylero-container-left
            %h2 La anguila del Caribe 
            %h3 - Vera Cruz 
            %p.reylero-description
              Pirate, explorer and treasure hunter. She is good with maps, telescope and sextant.
              She is afraid of storms and hates octopus. Enjoys drinking rum and feeling the sea
              freeze on her face. She lost her leg to a shark attack and her eye in a battle with
              a french pirate.
        .four-columns
          =image_tag('2017/futuro.png', class: 'reylero-futuro')
      .twelve-columns
        .four-columns
          =image_tag('2017/azteca.svg', class: 'reylero-futuro')
        .eight-columns
          %h2 Quetzal 
          %h3 - La serpiente emplumada 
          %p.reylero-description
            Aztec warrior, intelligent, analytical and skilled with math and astronomy. He enjoys
            ‘pulque’ and working out. Also likes birdwatching and walking in natural environments
            to meditate. He eats healthy to avoid getting sick. Hates mosquitoes and cloudy nights.
