.pure-u-2-3.main-content-mobile{ class: I18n.locale.to_s }
  = render 'pages/2015/partials/pages_main_menu'
  .container.bgc-glry
    .pt50.pb80.pt0--t
      .pure-g
        .pure-u-1-1.ta-c.my30.my15--m.mx10
          %h2.fz-40.m0.lh-40.dis-ib.c-mndy.fw-r.teko.fz-30--m.lh-25--m
            pre-magma workshops
          .wp-33.bgc-mndy.m-center.hg2.m5--t.wp-100--t
          %h4.fz-30.m0.c-mndy.fw-l.teko.p0.text-with-stars.fz-20--m
            June 18, 19 & 20 - Manzanillo, Col. MX
      #workshops.pure-g
        .workshop
          .workshop-details
            .speaker-image
              %img{ src: image_path("2015/workshops/davey.png") }
            %p.workshop-title Docker with deis
            %p.workshop-speaker By Davey Shafik
            %p.workshop-location MagmaLabs, Colima, Col. MX
            %p.workshop-date Tuesday June 16th 2015
          .line-break
          .workshop-event
            .details
              %p.register register in:
              %a{href: "https://www.eventbrite.com/e/deploying-docker-to-the-cloud-with-deis-tickets-17213559219"}
                %img{ src: image_path("2015/workshops/eventbrite.png") }
              %p.cost
                Cost:
                %span Free
              %p.availability
                Only
                %span 30 Seats.
            .calendar
              %img{ src: image_path("2015/workshops/16.png") }
        .workshop
          .workshop-details
            .speaker-image
              %img{ src: image_path("2015/workshops/dan.png") }
            %p.workshop-title How to even ci
            %p.workshop-speaker By Dan Buch
            %p.workshop-location MagmaLabs, Colima, Col. MX
            %p.workshop-date Tuesday June 16th 2015
          .line-break
          .workshop-event
            .details
              %p.register register in:
              %a{href: "https://www.eventbrite.com/e/how-to-even-ci-tickets-17362130600"}
                %img{ src: image_path("2015/workshops/eventbrite.png") }
              %p.cost
                Cost:
                %span Free.
              %p.availability
                Only
                %span 30 Seats.
            .calendar
              %img{ src: image_path("2015/workshops/16.png") }
        .workshop
          .workshop-details
            .speaker-image
              %img{ src: image_path("2015/workshops/brent.png") }
            %p.workshop-title Github for developers
            %p.workshop-speaker By Brent Beer
            %p.workshop-location MagmaLabs, Colima, Col. MX
            %p.workshop-date Tuesday June 16th 2015
          .line-break
          .workshop-event
            .details
              %p.register register in:
              %a{href: "https://www.eventbrite.com/e/github-for-developers-tickets-17359433533"}
                %img{ src: image_path("2015/workshops/eventbrite.png") }
              %p.cost
                Cost:
                %span Free.
              %p.availability
                Only
                %span 30 Seats.
            .calendar
              %img{ src: image_path("2015/workshops/16.png") }
        .workshop
          .workshop-details
            .speaker-image
              %img{ src: image_path("2015/workshops/rachel.png") }
            %p.workshop-title Front-end
            %p.workshop-speaker By Rachel Myers
            %p.workshop-location MagmaLabs, Colima, Col. MX
            %p.workshop-date Wednesday June 17th 2015
          .line-break
          .workshop-event
            .details
              %p.register register in:
              %a{href: "https://www.eventbrite.com/e/taller-de-front-end-by-railsbridge-tickets-17313912378"}
                %img{ src: image_path("2015/workshops/eventbrite.png") }
              %p.cost
                Cost:
                %span Free
              %p.availability
                Only
                %span 30 Seats.
            .calendar
              %img{ src: image_path("2015/workshops/17.png") }
        .workshop
          .workshop-details
            .speaker-image
              %img{ src: image_path("2015/workshops/william.png") }
            %p.workshop-title GO
            %p.workshop-speaker By William Kennedy
            %p.workshop-location MagmaLabs, Colima, Col. MX
            %p.workshop-date Wednesday June 17th 2015
          .line-break
          .workshop-event
            .details
              %p.register register in:
              %a{href: "https://www.eventbrite.com/e/deploying-docker-to-the-cloud-with-deis-tickets-17213559219"}
                %img{ src: image_path("2015/workshops/eventbrite.png") }
              %p.cost
                Cost:
                %span $1000.00 MXN.
              %p.availability
                Only
                %span 30 Seats.
            .calendar
              %img{ src: image_path("2015/workshops/17.png") }
