.pure-g-r.schedule-table-row.schedule-table-row__normal
  .pure-u-1-1
    %p.speaker-name= locals[:speaker]
    .schedule-keynote-badge
    .schedule-language-badge.schedule-language-badge__in_keynote
    %span.schedule-keynote-legend Keynote

