%ul.small-stars
  %li
    .schedule-red-star
  %li
    .schedule-red-star
  %li
    .schedule-red-star
  %li
    .schedule-red-star
  %li
    .schedule-red-star
  %li
    .schedule-red-star
  %li
    .schedule-red-star
  %li
    .schedule-red-star
