.pure-g-r.line.talk{ class: locals[:class_name] }
  .pure-u-1-1
    %p.speaker-name
      = locals[:speaker]
    .schedule-language-image
    %p.talk-name{ class: "#{ locals[:language] }" }
      = locals[:talk_name]

