#blog {
  background-color: #dedbd4;

  section {
    height: 230px;

    img.banner {
      position: relative;
      top: -39px;
    }
  }

  p {
    border-bottom: 5px solid #bbb6b0;
    color: #000;
    font-weight: 300;
    font-size: 187.5%;
    line-height: 28px;
    width: 220px;
    position: relative;
    bottom: 220px;
    right: 370px;
    float: right;
  }

  .btn-cfp {
    background: #1F9D9B;
    border: 2px solid #fff;
    box-shadow: 0 0 0 10px #1F9D9B;
    float: right;
    height: 150px;
    margin-right: 180px;
    position: relative;
    top: 38px;
    width: 150px;
    &:hover {
      background: #21AEAC;
      border: 2px solid #fff;
    }
  }
}
