#footer {
  background: #1F1817;
  #copy-right {
    background: #392f2c;
    margin: 0 auto;
    padding: 20px 0;
    padding-left: 5%;
    width: 100%;
    span {
      background: image_url('crowd.svg') no-repeat;
      height: 33px;
      margin-bottom: -6px;
      width: 78px;
    }
    p {
      color: #5f514c;
      font-size: 12px;
      letter-spacing: 1px;
      padding: 0 12px;
      font-family: roboto;
    }
    p, span {
      display: inline-block;
    }
    p:nth-of-type(1) {
      border-right: 1px solid #4E3F39;
      height: 16px;
    }
  }
}

.footer-legend {
  margin: 15px 40px 10px;
  p {
    color: #fff;
    display: block;
    font-weight: 200;
    font-family: roboto;
    line-height: 21px;
    max-width: 850px;
    padding: 0px;
    word-spacing: 0px;
  }
  a {
    text-decoration: underline;
    color: #9B8E76;

    &:hover {
      text-decoration: none;
    }
  }
}

.anti {
  color: $white;
  text-align: right;
  padding: 20px 0;
  width: 100%;
  h3 {
    color: white;
    font-weight: 200;
    padding-top: 6px;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

