#footer {
  padding-top: 20px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &.index {
    .social {
      display: none;
    }
    #copy-right {
      padding-top: 20px;
    }
  }

  &.schedule {
    background: #D8D6C5;
  }
  &.about-magma {
    background: #f2f3ed;
  }

  &.accommodations {
    background: #EDEEE6;
  }

  &.schedule, &.about-magma, &.accommodations {
    .anti  h3, .footer-legend p {
      color: #5f514c
    }
    .footer-legend a {
      color: #000;
    }
    .social a {
      background: #796D60;
    }
  }

  .social {
    margin: 0 auto;
    a {
      background: $social-bkg;
      height: 16px;
      margin: 0 10px;
      width: 30px;
      &:first-child {
        margin-left: 25px;
      }
      &:hover {
        background: $social-hover;
      }
    }
    .facebook {
      i {
        background-position: -76px 0
      }
      &:hover i {
        background-position: -76px -50px;
      }
    }
    .twitter {
      i {
        background-position: -139px 0;
      }
      &:hover i {
        background-position: -139px -50px;
      }
    }
    .google {
      i {
        background-position: -206px 0;
      }
      &:hover i{
        background-position: -206px -50px;
      }
    }
    .facebook, .google, .twitter {
      i {
        margin-top: -9px;
      }
    }
  }

  #copy-right {
    border-bottom: 1px solid #5f514c;
    margin: 0 auto;
    max-width: 1127px;
    padding-bottom: 7px;
    span {
      background: image_url('crowd.svg') no-repeat;
      height: 33px;
      margin-bottom: -6px;
      width: 78px;
    }
    p {
      color: #5f514c;
      font-size: 12px;
      letter-spacing: 1px;
      padding: 0 12px;
      font-family: roboto;
      &:last-child {
        padding-right: 0px;
      }
    }
    p, span {
      display: inline-block;
    }
    p:nth-of-type(1) {
      border-right: 1px solid #4E3F39;
      height: 16px;
    }
  }
}

.footer-legend {
  margin: 15px 10px 15px -25px;
  text-align: left;
  p {
    color: #fff;
    display: block;
    font-weight: 200;
    font-family: roboto;
    font-size: 87.5%;
    line-height: 17px;
    max-width: 704px;
    padding: 0px;
    word-spacing: 0px;
  }
  a {
    text-decoration: underline;
    color: #9B8E76;

    &:hover {
      text-decoration: none;
    }
  }
}

.anti {
  color: $white;
  margin: 0 auto;
  text-align: right;
  width: 1030px;
  h3 {
    color: white;
    font-weight: 200;
    padding-top: 6px;
    font-size: 130%;
    letter-spacing: 1px;
    margin-top: 16px;
    text-align: left;

  }
}

