//HOME

#home {
  background: $main-bkg;
}

#daily {
  #news {
    background: #fff;
    p {
      display: block;
      word-spacing: 0px;
      line-height: 21px;
    }
  }
}

.anti {
  padding: 20px 0;

  h3 {
    font-weight: 400;
    padding-top: 6px;
    font-size: 1.7em;
  }

  p {
    text-align: left;

    a {
      text-decoration: underline;
      color: $fonts;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.anti-harassment {
  h1 {
    font-size: 9em;
    text-align: center;
  }

  h2 {
    font-size: 6.5em;
    text-align: center;
    font-weight: 400;
  }
}
