#location{
  background: #EDEEE6;
  .container {
    max-width: 1200px;
    width: 95%;
  }
  #map_canvas{
    max-width: 1200px;
    width: 100%;
    height: 400px;
    background-color: #CCC;
  }
  #airplane {
    width: 590px;
    margin-left: 138px;
    margin-top: -219px;
    z-index: 99;
    
    img {
      width: 100%;
    }
  }
  .map-legend {
    width: 360px;
    position: relative;
    top: -263px;
    text-align: right;
    left: 95px;
    span {
      font-size: 22px;
      letter-spacing: -1px;
    }
    p {
      letter-spacing: 0;
      font-weight: 300;
      font-size: 16px;
      color: #1F1818;
      line-height: 25px;
    }
  }
  #village-image {
    width: 266px;
    margin: 130px auto 70px;
  }
  #accommadtions-legend {
    width: 200px;
    margin: 0 auto;
    p {
      color: #6D6255;
      font-size: 50px;
      margin-bottom: 30px;
      font-weight: 700;
      &:first-child {
        font-size: 44px;
      }
      &:last-child {
        font-size: 26px;
        font-weight: 300;
      }
    }
  }
  #description {
    text-align: right;
    margin-right: 20px;
    padding-top: 40px;
    .title {
      font-size: 20px;
      margin-bottom: 5px;
    }
    .description-text {
      float: right;
      font-weight: 300;
      font-family: Roboto;
      font-size: 100%;
      margin-top: 20px;
      width: 350px;
    }
    .btn-cfp {
      width: 150px;
      height: 150px;
      position: relative;
      top: 260px;
      left: 260px;
      background: #1F9D9B;
      border: 2px solid #fff;
      box-shadow: 0 0 0 10px #1F9D9B;
      &:hover {
        background: #21AEAC;
        border: 2px solid #fff;
      }
      
      img { width: 100%;}
    }
  }
  #village-info {
    max-width: 1200px;
    border-top: 3px solid #53433D;
  }
  #beach-image {
    width: 350px;
    height: 253px;
    margin: 0 auto;
    margin-top: -114px;
    img {
      padding-left: 104px;
      width: 100%;
    }
  }
}