#main-menu {
  background: image-url('bkg.jpg');
  margin: 0 auto;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  span {
    background: image_url('magma.svg') no-repeat;
    display: block;
    height: 37px;
    margin: 0 auto;
    width: 105px;
    cursor: pointer;
  }
  ul {
    margin: 0 auto;
    width: 870px;
    padding-top: 5px;
    border-top: 1px solid #584E46;
    margin-top: 20px;
    text-align: center;
    li {
      display: inline-block;
      padding-right: 18px;
      padding-left: 18px;
      border-right: 1px solid #584E46;
      &:last-child {
        border: 0;
        padding-right: 0;
      }
      
      a {
        color: #584E46;
        font-size: 14px;
        text-transform: uppercase;
        
        &.buy-ticket-link {
          color: #E2E1D3;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}
