#speakers {
  background-color:#413531;
  padding-top: 50px;
  .speaker-name {
    color: #fff;
    display: block;
    text-align: center;
  }

  .awesome {
    color: #fff;
    border-bottom: 3px solid #b4a898;
    font-family: oswald;
    font-weight: 700;
    font-size: 355%;
    line-height: 52px;
    margin: 0 auto 50px auto;
    max-width: 210px;
    padding-bottom: 10px;
  }

  .check {
    color: $light-brown;
    font-size: 230%;
    font-weight: 300;
    height: 32px;
    margin-top: 50px;
  }
}
