#sponsoring {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  .big-sponsor-box, .normal-box {
    @include rounded(135px);
    background-color: #50433d;
    border: 3px solid #695b52;
    margin: 30px auto;

    span {
      display: block;
      color: #e2e1d5;
      font-size: 150%;
      text-align: center;
      position: relative;
    }
  }

  .big-sponsor-box {
    @include box-shadow(0, 0, 0, 10px, #50433d);
    height: 238px;
    width: 238px;

    span {
      left: 30px;
      top: 102px;
      width: 180px;
    }
  }

  .normal-box {
    @include box-shadow(0, 0, 0, 7px, #50433d);
    height: 148px;
    width: 148px;

    span {
      top: 70px;
      width: 149px;
    }
  }

  #crowdint {
    background: image-url('logo-crowd-sponsors.svg');
    display: block;
    height: 68px;
    left: 28px;
    position: relative;
    top: 78px;
    width: 176px;
  }

  #sponsoring-advice {
    span {
      display: block;
      font-family: oswald;
      font-weight: 700;
      text-align: center;
      color: #fff;
      line-height: 108px;
    }

    .big {
      font-size: 10em;
    }

    .medium {
      font-size: 6em;
    }

    .small {
      line-height: 38px;
      color: #ada193;
      font-weight: 300;
      font-size: 192.5%;
      height: 48px;
      width: 156px;
      margin: 0 auto 25px auto;
      border-bottom: 3px solid #675851;
    }
  }

  #car-image {
    width: 367px;
    height: 275px;
    margin: 0 auto;
  }

  #sponsors-legend {
    width: 293px;
    margin: 30px auto;
    p {
      color: #fff;
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  #sponsors {
    padding-top: 30px;
  }

  #mail-button {
    width: 200px;
    margin: 40px auto;
  }

  #contact-form {
    background: #fff;
    height: 330px;
    .title {
      border-bottom: 1px solid #B7B3AF;
      height: 24px;
      margin: 0 auto;
      margin-top: 46px;
      padding-bottom: 10px;
      text-transform: uppercase;
      width: 1170px;
      span {
        font-family: oswald;
        font-size: 24px;
        font-weight: 400;
      }
     }
    .close-button {
      color: #2eb5b3;
      float: right;
      font-size: 16px;
      width: 64px;
      img {
        margin-left: 6px;
      }
    }
  }
}
