#what-is-magma {

  margin-top: 120px;
  p {
    color: #514640;
    font-family: Roboto;
    font-size: 100%;
  }
  .top-box {
    color: #fff;
    font-family: Oswald;
    font-weight: 700;

    .small {
      color: $light-brown;
      font-size: 128%;
      font-weight: 300;
    }

    .medium {
      font-size: 270%;
      height: 32px;
    }

    .big {
      font-size: 420%;
      line-height: 130px;
      height: 106px;
    }
  }

  .title {
    color: #514642;
    font-size: 150%;
    font-weight: 300;
    margin-bottom: 6px;
  }

  .left-info, .right-info {
    margin-top: 40px;
  }

  .left-info {
    text-align: right;
    padding-right: 20px;
  }

  .right-info {
    text-align: left;
    padding-left: 20px;
  }

  .location, #venue, #culture {
    border-top: 3px solid #514642;
    max-height: 344px;
  }

  .location {
    background-color: #e3e1d5;
  }

  #venue {
    background-color: #b5a898;
  }

  #culture {
    background-color: #8e8075;
    border-bottom: 3px solid #514642;
  }
}
