// GRID -------------
$max-cols: 12;

//Grid Large
$gl-column: 70px;
$gl-gutter: 30px;

//grid Medium
$gm-column: 60px;
$gm-gutter: 20px;

//Colors -----------
$bkg: #312926;
$white: #ffffff;
$main-bkg: asset-url('bkg.jpg') no-repeat top center fixed;
$social-bkg: #443A35;
$social-hover: #b5a898;
$dark-brownn: #51463e;
$fonts: #39322b;
$btn-hover: #e7e4df;
$bkg-close-popup: #1fb6b4;
$light-brown: #ADA193;

