%aside.magma-info.pure-u-1-3.center.js-aside-info
  -if @id == 'sponsors'
    = render "pages/2017/partials/asides/sponsors_info"
  -else
    = render "pages/2017/partials/welcome"
  = render 'pages/2017/partials/thanks_info'
