%meta{charset: "utf-8"}
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0 maximum-scale=1.0'}
%title= 'MagmaConf 2017 | Evolution has come!'
%meta{name: "author", content: "MagmaLabs - http://www.magmalabs.io/"}
%meta{content: 'MagmaConf 2017 | Evolution has come!', property: 'og:title'}
%meta{content: 'http://www.magmaconf.com', property: 'og:url'}
%meta{content: 'MagmaConf is one of the best community tech conferences in Mexico happening on March 29, 30 and 31 in Manzanillo beach. Get involved to evolve!', property: 'og:description'}
%meta{content: 'MagmaConf is one of the best community tech conferences in Mexico happening on March 29, 30 and 31 in Manzanillo beach. Get involved to evolve!', name: 'description'}
%meta{ name: 'theme-color', content: '#070243' }
%meta{name: "keywords", content: "magmaconf, magmaconference, magmarails, web development conference, development talk, ruby on rails event, ruby on rails conference, software development conference, UX UI design conference, UX UI design talk, digital conference, technology conference"}
%link{rel: 'stylesheet', href: "//fonts.googleapis.com/css?family=Oswald:400,300,700|Roboto:700,400,300&subset=latin"}
%link{rel: 'stylesheet', href: "//fonts.googleapis.com/css?family=Teko:300,400,500,600,700&subset=latin"}
%link{rel: 'stylesheet', href: "//fonts.googleapis.com/css?family=Open+Sans:400,300,700"}
%link{rel: 'stylesheet', href: "//fonts.googleapis.com/css?family=Lato:400,300,700|Roboto:700,400,300&subset=latin"}
%link{rel: "shortcut icon", type: "image/vnd.microsoft.icon", href: "#{image_path 'favicon.ico?v=2.0'}"}
%meta{content: "#{image_url('preview_CFP2017.jpg')}", property: "og:image"}

= csrf_meta_tags
:javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-70774244-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

