.logo-container.bgc-blck.js-animated-background
= link_to root_url, class: 'magma-logo' do
  = image_tag('2017/magmaconf2017.png')
= render_reylero_img @id
%div{ class: "side-text #{render_class_name @id}"}
  %span.side-text-get-a-friend Thanks for
  %span.side-text-get-involved Everything!