.accordion-group
  .accordion-heading
    %p.person-name
      %i.bullet
      = locals[:name]
      %i.arrow
  .accordion-body
    %img{src: "#{image_path locals[:img]}"}
    .name
      %i.star
      %span= locals[:name]
      %i.star
    %p= locals[:bio]
