#blog
  %section.pure-g-r.content
    .pure-u-1
      %img.banner{src: "#{image_path 'banner-immage.png'}"}
      %a.btn-cfp{href: 'http://blog.magmaconf.com/', target: '_blank'}
        %img{src: "#{image_path 'el-blog-del-luchador.png'}"}
      %p STAY UP-TO-DATE IN MAGMACONF WITH...

