%section#buy-ticket.pure-g-rw
  .pure-u-1
    %p REGISTER NOW TO GUARANTEE YOUR SPOT AT MAGMACONF 2014!
  .pure-u-1.box-office
    %img{src: "#{image_path 'box-office-image.png'}"}
  .pure-u-1.register
    %a.btn-cfp{href: 'http://magmaconf2014.eventbrite.com/', target: '_blank'}
      %img{src: "#{image_path 'register-now.png'}"}

