#footer
  .container
    .pure-g-r
      .pure-u-1-1
        = partial :social_buttons
    .pure-g-r
      .pure-u-1-1
        #copy-right
          %span#logo-crowd
          %p
            EVENT ORGANISED BY CROWD INTERACTIVE © 2014
          %p
            THIS SITE IS PROTECTED BY COPYRIGHT.UNDER U.S. AND INTERNATIONAL LAW. ALL RIGHTS RESERVED.
    .pure-g-r
      .anti
        .pure-u-1-4
          %h3= t('home.policy.title')
        .pure-u-3-4
          .footer-legend
            %p
              MagmaConf is a harassment-free conference experience for everyone involved. We ask all participants (Speakers,
              Staff, Attendees) to respect one another. Our anti-harassment policy can be found
              %a.open_popup{href: '#'} here >>

#popup
#policy.container
  = haml :popup