.pure-g-r.keynote.line
  .pure-u-1-1
    %p.speaker-name= locals[:speaker]
    %img.keynotes-image{ src: "#{image_path 'keynote-icon.svg'}" }
    %img.language-image{ src: "#{image_path 'en.svg'}" }
    %span Keynote