%p.speaker-name= locals[:speaker]
%img.keynotes-image{src: "#{image_path 'keynote-icon.svg'}"}
%img.language-image{src: "#{image_path 'english-icon.svg'}", class: "#{locals[:language]}"}
%span Keynote