#main-menu.pure-g-r
  .pure-u-1-1
    %span#magma-logo
  .pure-u-1-1
    %ul
      %li 
        %a.speakers-link{href: '#speakers'} speaker
      %li 
        %a.what-is-magma-link{href: '#what-is-magma'} what is magma
      %li 
        %a.schedule-link{href: '#schedule'} schedule
      %li 
        %a.sponsor-link{href: '#sponsoring'} sponsors
      %li 
        %a.blog-link{href: 'http://blog.magmaconf.com/', target: '_blank'} blog
      %li 
        %a.buy-ticket-link{href: 'http://magmaconf2014.eventbrite.com/', target: '_blank'} buy ticket
