#main-menu.pure-g-r
  .pure-u-1-1
    %span#magma-logo
  .pure-u-1-1
    %ul
      %li speaker
      %li what is magma
      %li accommodations
      %li schedule
      %li sponsors
      %li blog
      %li buy ticket
