#main-menu.pure-g-r
  .pure-u-1-1
    %ul
      %li
        %a#speakers-link{href: '#speakers'} speakers
      %li 
        %a#what-is-magma-link{href: '#what-is-magma'} what is magma
      %li
        %a#accommodations-link{href: '#accommodation-section'}  accommodations
      %li#main-section-link
        %span#magma-logo
      %li
        %a#schedule-link{href: '#schedule'} schedule
      %li 
        %a#sponsors-link{href: '#sponsors'} sponsors
      %li 
        %a.blog-link{href: 'http://blog.magmaconf.com/', target: '_blank'} blog
      %li 
        %a.register-now-link{href: 'http://magmaconf2014.eventbrite.com/', target: '_blank'} Register now
