#main-menu.pure-g-r
  .pure-u-1-1
    %ul
      %li.link
        %a#speakers-link{href: '/speakers'} speakers
      %li.link
        %a#schedule-link{href: '/schedule'} schedule
      %li.link
        %a#about-magma-link{href: '/about-magma'} about magma
      %li#main-section-link
        %a{href: '/'}
          #magma-logo
      %li.link
        %a#accommodations-link{href: '/accommodations'}  accommodations
      %li.link
        %a#sponsors-link{href: '/sponsors'} sponsors
      %li.link
        %a.blog-link{href: 'http://blog.magmaconf.com/', target: '_blank'} blog
    %a#btn-menu
      %span
      %span
      %span

#mobile-header.pure-g-r
  .pure-u-1-1
    %a#btn-mobile-header
      %span
      %span
      %span
    %span#menu.link MENU
    %a{href: '/'}
      #magma-logo
    %a#register.link{href: 'http://magmaconf2014.eventbrite.com/', target: '_blank'}
      REGISTER