#main-menu.pure-g-r
  .pure-u-1-1
    %span#magma-logo
  .pure-u-1-1
    %ul
      %li
        %a{href: '#speakers'} speakers
      %li 
        %a{href: '#what-is-magma'} what is magma
      %li
        %a{href: '#accommodation'}  accommodations
      %li
        %a{href: '#schedule-section'} schedule
      %li 
        %a{href: '#sponsors'} sponsors
      %li 
        %a.blog-link{href: 'http://blog.magmaconf.com/', target: '_blank'} blog
      %li 
        %a.buy-ticket-link{href: 'http://magmaconf2014.eventbrite.com/', target: '_blank'} buy ticket
