#schedule
  .pure-g-r
    .pure-u-1-1
      #versus.top-image
        %img{src: "#{image_path 'mascaravsmascara.svg'}"}
  .pure-g-r
    .pure-u-1-1
      .top-image
        %img{src: "#{image_path 'lucha-espectacular.svg'}"}
