#what-is-magma
  .pure-g-r
    .pure-u-5-5.center
      .top-box
        %img{src: "#{image_path 'about-magma-image.png'}"}
        %p.big A GREAT
        %p.medium CONFERENCE
        %p.small DESERVES BEAUTIFUL PLACE
  .pure-g-r.location
    .content
      .pure-u-1-12
      .pure-u-1-3.left-info
        %p.title HOSTED IN BEAUTIFUL
        %p.title MANZANILLO, MEXICO.
        %br
        %p Magma Conf is a Mexico's Premier modern web development conference.
        %br
        %p
          Conference sessions revolve around Ruby, Rails, Front-end design, and more.
          Attendees include developers, designers and engineers with experience, or hopping to
          gain experience, building cutting-edge web apps. Come and learn not only from our
          awesome speakers, but also from our diverse audience.
      .pure-u-1-2
        %img{src: "#{image_path 'manzanillo.jpg'}"}
      .pure-u-1-12
  .pure-g-r#venue
    .content
      .pure-u-1-12
      .pure-u-1-2.right
        %img{src: "#{image_path 'venue.jpg'}"}
      .pure-u-1-3.right-info
        %p.title MAGMACONF VENUE
        %br
        %p Talks and workshop take place at the center of educational technology.
        %br
        %p
          Located in the University of Colima's El Naranjo campus, the centre is a first-class teaching
          facility, featuring comfortable seating, wi-fi, and air conditioning.
      .pure-u-1-12
  .pure-g-r#culture
    .content
      .pure-u-1-12
      .pure-u-1-3.left-info
        %p.title OFF CONFERENCE
        %p.title EXPERIENCE
        %br
        %p Magma Conf offers and amazing opportunity to experience ¡Mexico as never before!.
        %br
        %p
          Evening activities include engaging group dinners followed by traditional dance performances, thrilling
          wrestling matches and the ocational drink-a-thon. It is sure to be an unforgettable experience.
      .pure-u-1-2
        %img{src: "#{image_path 'cultural.jpg'}"}
      .pure-u-1-12
  .pure-g-r#video
