.pure-g-r.schedule-table-row.schedule-table-row__normal{ class: locals[:class_name] }
  .pure-u-1-1
    %p.speaker-name
      = locals[:speaker]
    %p.talk-name{ class: "#{ locals[:language] }" }
      = locals[:talk_name]
