html, body {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;

  &::-webkit-scrollbar {
    display: none;
  }

  p {
    font-family: 'Oswald', sans-serif;
    line-height: 20px;
    padding: 0;
  }

  a:hover { text-decoration: none; }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 100 8em/1.1 'Oswald', sans-serif;
  text-transform: uppercase;
  color: $fonts;
}

h1 {
  font-weight: bold;
  margin-left: -4px;
}

h2 {
  font-size: 3.15em;
}

h3 {
  font-size: 2.17em;
  font-weight: bold;
}

h4 {
  font-size: 3.1em;
  font-weight: 500;
  padding-bottom: 5%;
}

h5 {
  font-size: 5.1em;
  margin-top: 0.2em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

fieldset {
  border: none;
}

input[type=submit] {
  border: none;
}


.layer { list-style: none }

.a {
  &:hover {
    font-family: Arial;
    letter-spacing: 5px;
    word-spacing: 9px;
    background: black;
    color: #fff;
    font-size: 1em;
  }
}

.top-box {
  margin: 20px auto;
  max-width: 265px;
}

.center {
  text-align: center;
}

.cero-width { width: 0; }

.opacity-hidden { opacity: 0 }

.right {
  text-align: right;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-legend a.policy-page {
  display: none;
}

.bottom-copy-right {
  display: none;
}

.organized-label {
  clear: both;
  color: #a02d2e;
  font-family: 'Teko', sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 3px auto 0 auto;
  max-width: 165px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3px;
}


.crowdint-logo {
  width: 69px;
}

#scene {
  margin: 0;
}

.eyes {
  left: 30px;
}

@include font_face('Block', 'BLOKKNeue-Regular');

// Text align
.ta-c { text-align: center; }
.ta-l { text-align: left; }
.ta-r { text-align: right; }

// Font family
.teko { font-family: 'Teko', sans-serif; }
.opens { font-family: 'Open Sans', sans-serif; }
.oswald { font-family: 'Oswald', sans-serif; }
.lato { font-family: 'Lato', sans-serif; }

// Font weight
.fw-r { font-weight: 400; }
.fw-l { font-weight: 200; }
.fw-bld { font-weight: 700; }

// Text transform
.tt-u { text-transform: uppercase; }

// Color
.c-cthr { color: $crown-of-thorns; }
.c-stto { color: $stiletto; }
.c-tpop { color: $tall-poppy; }
.c-mndy { color: $mandy; }
.c-bswt { color: $bittersweet; }
.c-ambr { color: $amber; }
.c-bwht { color: $barley-white; }
.c-bldr { color: $boulder; }
.c-glry { color: $gallery; }
.c-amlo { color: $armadillo; }
.c-whte { color: $white; }
.c-stratos { color: $stratos }
.c-stratos2 { color: $stratos2 }

// Background
.bgc-glry { background-color: $gallery }
.bgc-wld-sand { background-color: $wild-sand }
.bgc-whte { background-color: $white }
.bgc-mndy { background-color: $mandy; }
.bgc-blck { background-color: $black; }
.bgc-stratos { background-color: $stratos; }

// Font size
.fz-10 { font-size: 10px; }
.fz-12 { font-size: 12px; }
.fz-14 { font-size: 14px; }
.fz-15 { font-size: 15px; }
.fz-16 { font-size: 16px; }
.fz-18 { font-size: 18px; }
.fz-20 { font-size: 20px; }
.fz-22 { font-size: 22px; }
.fz-24 { font-size: 24px; }
.fz-30 { font-size: 30px; }
.fz-32 { font-size: 32px; }
.fz-40 { font-size: 40px; }
.fz-50 { font-size: 50px; }
.fz-85 { font-size: 85px; }

.fz-40--m { @include mq-mobile { font-size: 40px; } }
.fz-30--m { @include mq-mobile { font-size: 30px; } }
.fz-25--m { @include mq-mobile { font-size: 25px; } }
.fz-20--m { @include mq-mobile { font-size: 20px; } }
.fz-14--m { @include mq-mobile { font-size: 16px; } }
.fz-40--t { @include mq-tablet { font-size: 40px; } }

// Display
.dis-ib { display: inline-block; }
.dis-b { display: block; }
.dis-i { display: inline; }

.dis-b--m {
  display: none;
  @include mq-mobile { display: block; }
}

.dis-b-n--m {
  display: block;
  @include mq-mobile { display: none; }
}

.dis-b-n--t {
  display: block;
  @include mq-tablet { display: none; }
}

.dis-i-n--m {
  display: inline;
  @include mq-mobile { display: none; }
}

.dis-b--t {
  display: none;
  @include mq-tablet { display: block; }
}

.dis-ib-n--t {
  display: inline-block;
  @include mq-tablet { display: none; }
}

// Padding
.p0 { padding: 0; }
.p10 { padding: 10px; }
.p20 { padding: 20px; }

.pt50 { padding-top: 50px; }
.pb80 { padding-bottom: 80px; }
.pl15 { padding-left: 15px; }
.px20 {
  padding-right: 20px;
  padding-left: 20px;
}

.p0--m { @include mq-mobile { padding: 0; } }
.p10--m { @include mq-mobile { padding: 10px; } }
.p20--m { @include mq-mobile { padding: 20px; } }
.py20--m { @include mq-mobile { padding: 20px 0; } }
.pt20--m { @include mq-mobile { padding: 20px 0 0 0; } }

.pt0--t {
  @include mq-tablet { padding-top: 0; }
}

// Margin
.m-center { margin: 0 auto; }
.m0 { margin: 0; }
.m10 { margin: 10px; }
.mt30 { margin-top: 30px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt35 { margin-top: 35px; }
.mt85 { margin-top: 85px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mx10 {
  margin-left: 10px;
  margin-right: 10px;
}

.my5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my15--m {
  @include mq-mobile {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.my10--m {
  @include mq-mobile {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.mt0--m {
  @include mq-mobile {
    margin-top: 0px;
  }
}

.m0--t {
  @include mq-tablet { margin: 0; }
}

.m5--t {
  @include mq-tablet { margin: 5px 0; }
}


// Line height
.lh-12 { line-height: 12px; }
.lh-15 { line-height: 15px; }
.lh-25 { line-height: 25px; }
.lh-35 { line-height: 35px; }
.lh-40 { line-height: 40px; }

.lh-20--m { @include mq-mobile { line-height: 20px; } }
.lh-25--m { @include mq-mobile { line-height: 25px; } }

// Letter spacing
.ls-0 { letter-spacing: 0; }

// Border
.bdb { border-bottom: 2px solid; }
.bdc-mdy { border-color: $mandy }
.bdt-w-3 { border-top-width: 3px; }
.bdt-w-2 { border-top-width: 2px; }
.bdt-c-ato { border-top-color: $alto; }
.bdt-s-s { border-top-style: solid; }
.bdt-w-0--m { @include mq-mobile { border-top: 0; } }

// Width
.w250 { width: 250px; }

.wp-33 { width: 33%; }
.wp-100 { width: 100%; }

.wp-100--t {
  @include mq-tablet { width: 100%; }
}

// Height
.hg2 { height: 2px; }

// Position
.pos-r { position: relative; }
.pos-a { position: absolute; }
.pos-b10 { bottom: 10px; }
.pos-b20 { bottom: 20px; }
.pos-l20 { left: 20px; }

.has-animated-background {
  transition: background-color 3s ease;
}

.ol-n {
  outline: none;

  &:focus { outline: none; }
}

.td-n { text-decoration: none; }
.td-u { text-decoration: underline; }
.td-h-n { &:hover { text-decoration: none; } }
.td-h-u { &:hover { text-decoration: underline; } }
.pl5 { padding-left: 5px; }
.pt30 { padding-top: 30px; }
.magmaconf-title {
  @extend .c-stratos, .fw-r, .fz-18, .lato, .m0, .tt-u, .dis-b-n--m;
  font-weight: bold;
  margin-bottom: 23px;
}

.magmaconf-title-m {
  @extend .c-stratos, .fw-r, .fz-15, .lato, .m0, .tt-u;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1.1;
  padding: 15px 10px;
  
  @media (min-width: 768px) {
    display: none;
  }
}

.about-container {
  @extend .tide-text, .p20, .p10--m, .pl5, .pt30;
  @include mq-mobile {
    padding: 0;
  }
}

.magmaconf-item-description {
  @extend .m0, .opens, .c-amlo, .fw-r, .fz-14;
  color: $boulder; 
  font-weight: 300;
  line-height: 1.4;
  padding-right: 20px;

  @include mq-mobile {
    padding-left: 10px;
    padding-right: 25px;
  }
}

.about-magma-title {
  color: $bittersweet;
  display: inline-block;
  font-family: 'Lato';
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  margin: 0;

  &.fbg {
    font-size: 46px;
    @include mq-mobile {
      font-size: 23px;
    }
  }

  &.flb {
    font-size: 40px;
    @include mq-mobile {
      font-size: 21.3px;
    }
  }

  &.mtm {
    margin-top: -3px;
    @media only screen and (min-width: 468px) and (max-width: 768px) {
      margin-top: -6px;
    }

    @include mq-mobile {
      margin-top: 0;
    }
  }

  &.sponsors {
    @media only screen and (min-width: 468px) and (max-width: 768px) {
      font-size: 32px;
    }
  }

  @include mq-mobile {
    font-size: 23px;
  }

  &.star {
    &:before {
      background-image: image_url('2015/Star.svg');
      content: '';
      height: 15px;
      left: 47%;
      position: absolute;
      top: 47%;
      transform: translateX(-50%) translateY(-50%);
      width: 15px;
    }
  }
}

.about-magma-subtitle {
  @extend .text-with-stars;
  color: $mandy;
  font-family: 'OpenSans';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-top: 5px;
  margin: 0;
  padding: 0;
  
  @include mq-mobile {
    font-size: 9.6px;
    letter-spacing: 0.2px;
    top: -10px;
  }
}

.ring {
  @include ring-icon('2017/ring_icon.png');
}

.ring-icon {
  @extend .ring;
  background-position: 1px;
  background-size: 472px;
  height: 39px;
  width: 472px;

  @include mq-mobile {
    background-size: 263px;
    width: 263px;
  }
}

.getting-to-magma-title {
  color: $bittersweet;
  display: inline-block;
  font-size: 35px;
  font-family: 'Lato';
  font-weight: bold;
  letter-spacing: -0.8px;
  margin: 0;

  @include mq-mobile {
    font-size: 18.9px;
    letter-spacing: -0.4px;
  }

  &.star {
    &:before {
      background-image: image_url('2015/Star.svg');
      content: '';
      height: 15px;
      left: 47%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 15px;
    }
  }
}

.getting-to-magma-subtitle {
  @extend .text-with-stars;
  color: $mandy;
  font-family: 'OpenSans';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-top: 5px;
  margin: 0;
  padding: 0;
  
  @include mq-mobile {
    font-size: 9.6px;
    letter-spacing: 0.2px;
    margin-top: 2px;
  }
}

.getting-ring-icon {
  @extend .ring;
  background-position: 1% -1px;
  background-size: 523px;
  height: 46px;
  width: 523px;

  @include mq-mobile {
    background-size: 283px;
    height: 18px;
    width: 283px;
  }
}

.schedule-ring-icon {
  @extend .ring;
  background-size: 394px;
  height: 41px;
  width: 394px;

  @include mq-mobile {
    background-position: 1px;
    background-size: 283px;
    width: 283px;
  }
}

.speakers-ring-icon {
  @extend .ring;
  background-size: 385px;
  width: 385px;

  @include mq-mobile {
    background-position: 1px;
    background-size: 283px;
    height: 39px;
    width: 283px;
  }
}

.sponsors-ring-icon {
  @include ring-icon('2017/ring-icon-sponsors.png');
  background-size: 510px;
  background-position: 1% 1px;
  height: 45px;
  width: 510px;

  @media only screen and (min-width: 468px) and (max-width: 768px) {
    background-size: 417px;
    height: 39px;
    width: 417px;
  }

  @include mq-mobile {
    background-position: 1px;
    background-size: 283px;
    height: 39px;
    width: 283px;
  }
}

.ship-icon {
  height: auto !important;
  left: 45px;
  position: absolute;
  top: -25px;
  width: 208px;
  @media only screen and (max-width: 1024px) {
    left: 20px;
    top: 0;
    width: 170px;
  }

  @include mq-tablet {
    display: none;
  }
}

.map-description {
  @extend .p0,.m0,.opens,.magmaconf-item-description;
  color: $armadillo;
  font-size: 12px;
  letter-spacing: -0.3px;
  @media only screen and (max-width: 1024px) {
    padding-right: 20px;
  }
}

//pureimgfix
.pure-g-r img {
  height: 100%;
  @media only screen and (max-width: 1024px) {
    height: auto;
  }
}
