= link_to 'http://www.crowdint.com', class: 'hidden-phone hidden-tablet' do
  = image_tag 'logo-crowd.svg', class: 'pull-left'
%p.pull-left
  event organized by Crowd Interactive    |    © 2013, This site is protected by Copyright. Under U.S and international law. All rights reserved.

.clearfix
