%footer
  .hidden-phone
    = render 'partials/footer_text'
    = link_to 'http://www.crowdint.com' do
      = image_tag 'logo-crowd.svg', class: 'pull-left'
    %p.pull-left
      event organised by Crowd Interactive    |    © 2013, This site is protected by Copyright. Under U.S and international law. All rights reserved.

    .clearfix

