.contain-to-grid.sticky
  %nav.top-bar
    %ul.title-area
      / Title Area
      %li.name
        %h1
          %a{:href => "#"}= image_tag 'logo.svg'
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    .row
      .center.columns.large-6.large-offset-1
        %ul
          = render 'partials/menu_links'
      .social.columns.large-3
        %ul
          = render 'partials/social_links'
