.contain-to-grid.sticky
  %nav.top-bar
    %ul.title-area
      / Title Area
      %li.name
        %h1
          %a.center_logo{:href => "#"}= image_tag 'Logo.svg'
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    .row
      .center.columns.large-8
        %ul
          = render 'partials/menu_links'
      .social.columns.large-2
        %ul
          = render 'partials/social_links'