-# %li
  -# = link_to 'Spotlight', '#spotlight', "data-action" => 'spotlight'
%li.mo
  = link_to 'Schedule', '#schedule', "data-action" => 'schedule', class: 'scrollto'
%li.mo
  = link_to 'Location', '#location', "data-action" => 'location', class: 'scrollto'
%li.mo
  = link_to 'Sponsorship', '#sponsorship', "data-action" => 'sponsorship', class: 'scrollto'
