-# %li
  -# = link_to 'Spotlight', '#spotlight', "data-action" => 'spotlight'
%li.mo
  = link_to 'Keynotes', '#speakers', "data-action" => 'keynotes', class: 'scrollto'
%li.mo
  = link_to 'Venue', '#location', "data-action" => 'venue', class: 'scrollto'
%li.mo
  = link_to 'Pricing', '#pricing', "data-action" => 'pricing', class: 'scrollto'
%li.mo
  = link_to 'Sponsorship', '#sponsorship', "data-action" => 'sponsorship', class: 'scrollto'
