.over
  %span.content-text.sponsored-by
    Proudly Sponsored by
  .mb25.mt20
    %a{href: 'http://www.magmalabs.io/'}
      %img{ src: image_path('2017/logo-magmalabs.svg'), class: 'magmaconf-logo' }

.social
  = link_to '', 'https://www.facebook.com/MagmaConf', target: "_blank", class: 'facebook'
  = link_to '', 'https://twitter.com/magmaconference', target: "_blank",  class: 'twitter'

