%li
  %span
    &nbsp;
%li.fb
  = link_to 'facebook', 'http://www.facebook.com/magmaconf'
%li.twt
  = link_to 'twitter', 'http://twitter.com/magmaconf'
%li.gplus
  = link_to 'google plus', 'https://plus.google.com/108479926406306482358/posts'







