.over
  %span.content-text.sponsored-by
    Proudly Sponsored by
  .mb25.mt20
    %a{href: 'http://www.magmalabs.io/'}
      %img{ src: image_path('2017/magmaconf2017.png'), class: 'magmaconf-logo' }

.social
  %a.facebook{href: 'http://www.facebook.com/magmaconf', target: '_blank'}
    %i.icon-facebook
  %a.twitter{href: 'http://twitter.com/magmaconf', target: '_blank'}
    %i.icon-twitter
  %a.google{href: 'https://plus.google.com/+Magmaconf/posts', target: '_blank'}
    %i.icon-google

