.over
  %span.content-text
    stay tuned:
.social
  %a.facebook{href: 'http://www.facebook.com/magmaconf', target: '_blank'}
    %i.icon-facebook
  %a.twitter{href: 'http://twitter.com/magmaconf', target: '_blank'}
    %i.icon-twitter
  %a.google{href: 'https://plus.google.com/+Magmaconf/posts', target: '_blank'}
    %i.icon-google

