.academia
  %section.academia-wrapper.wrapper
    %article
      .students
        = image_tag('infographic/students.png', class: 'text-image students-text')
        %ul
          %li.student
          %li.student
          %li.student
          %li.student
          %li.student
        %ul
          %li.student
          %li.student
          %li.student
          %li.student
          %li.student
    .academia-separator
    %article
      .professionals
        = image_tag('infographic/professionals.png', class: 'text-image professionals-text')
        %ul
          %li.professional
          %li.professional
          %li.professional
          %li.professional
          %li.professional
          %li.professional
          %li.professional
          %li.professional
          %li.professional
        %ul
          %li.professional
          %li.professional
          %li.professional
          %li.professional
          %li.professional
          %li.professional
          %li.professional
          %li.professional
          %li.professional
