.academia-wrapper
  .wrapper
    %section.academia-container
      %article
        .students-container
          .img-text.students-text
            = image_tag('infographic/students.png')
          %ul.students
            %li.student
            %li.student
            %li.student
            %li.student
            %li.student
          %ul.students
            %li.student
            %li.student
            %li.student
            %li.student
            %li.student
      .academia-separator
      %article
        .professionals-container
          .img-text.professionals-text
            = image_tag('infographic/professionals.png')
          %ul.professionals
            %li.professional
            %li.professional
            %li.professional
            %li.professional
            %li.professional
            %li.professional
            %li.professional
            %li.professional
            %li.professional
          %ul.professionals
            %li.professional
            %li.professional
            %li.professional
            %li.professional
            %li.professional
            %li.professional
            %li.professional
            %li.professional
            %li.professional
