.attendees
  %section.attendees-wrapper.wrapper
    %article
      = image_tag 'infographic/attendees.png', class: 'text-image attendees-text'
      %ul
        %li.attendee
        %li.attendee
        %li.attendee
        %li.attendee
        %li.attendee
        %li.attendee
        %li.attendee
        %li.attendee
        %li.attendee
      %ul
        %li.attendee
        %li.attendee
        %li.attendee
        %li.attendee
        %li.attendee
        %li.attendee
        %li.attendee
        %li.attendee
        %li.attendee
    %article
      .text-image.staff-text
        = image_tag 'infographic/staff.png'
      %ul
        %li.staff
        %li.staff
        %li.staff
        %li.staff
        %li.staff
        %li.staff
        %li.staff
        %li.staff
        %li.staff
      %ul
        %li.staff
        %li.staff
        %li.staff
        %li.staff
        %li.staff
        %li.staff
        %li.staff
        %li.staff
        %li.staff
