.attendees-wrapper
  .wrapper
    %section.attendees-container
      %article
        .img-text
          = image_tag 'infographic/attendees.png'
        %ul.attendees
          %li.attendee
          %li.attendee
          %li.attendee
          %li.attendee
          %li.attendee
          %li.attendee
          %li.attendee
          %li.attendee
          %li.attendee
        %ul.attendees
          %li.attendee
          %li.attendee
          %li.attendee
          %li.attendee
          %li.attendee
          %li.attendee
          %li.attendee
          %li.attendee
          %li.attendee
      %article
        .img-text.staff-text
          = image_tag 'infographic/staff.png'
        %ul.attendees
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
        %ul.attendees
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
          %li.attendee.staff
