.attendees-map-wrapper
  .wrapper
    %section.attendees-map
      %header
        %h1 We had attendees for the following countries
      = image_tag('infographic/attendees-map.png')
      %ul.america.countries
        %li Mexico
        %li
          United States
          %ul.states
            %li San Francisco
            %li New York
            %li Chicago
            %li Washington D.C
            %li Denver
            %li Seattle
            %li Los Angeles
        %li Canada
      %ul.europe.countries
        %li The UK
        %li Germany
        %li Australia
