.lightning-talks-wrapper
  .wrapper
    %section.lightning-talks-container
      .img-text.lightning-talks-text
        = image_tag('infographic/lightning_talks.png')
      %ul.lightning-talks
        %li.lightning-talk
        %li.lightning-talk
        %li.lightning-talk
        %li.lightning-talk
      %ul.lightning-talks
        %li.lightning-talk
        %li.lightning-talk
        %li.lightning-talk
        %li.lightning-talk
