.lightning-talks
  %section.lightning-talks-wrapper.wrapper
    = image_tag('infographic/lightning_talks.png', class: 'text-image lightning-talks-text')
    %ul
      %li.lightning-talk
      %li.lightning-talk
      %li.lightning-talk
      %li.lightning-talk
    %ul
      %li.lightning-talk
      %li.lightning-talk
      %li.lightning-talk
      %li.lightning-talk
