.speakers
  %section.speakers-wrapper.wrapper
    = image_tag 'infographic/speakers.png', class: 'text-image speakers-text'
    %ul.speakers
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
    %ul.speakers
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
