.sponsors-fiestas
  %section.sponsors-wrapper.wrapper
    = image_tag('infographic/sponsor-hosted-fiestas.png', class: 'sponsor-hosted-fiestas')
    = image_tag('infographic/sponsor-onelogin.png', class: 'sponsor-onelogin')
    = image_tag('infographic/sponsor-github.png', class: 'sponsor-github')
    = image_tag('infographic/sponsor-crowdint.png', class: 'sponsor-crowdint')

