// TODO Remove cactu styles and add styles for harassment policy

.container, .row {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .row {
    width: 1200px;
  }

  [class*="-column"] {
    overflow: hidden;
    float: left;
    margin: 0 1.25%;
  }

  .one-column {
    width: 5.83333%;
  }

  .two-columns {
    width: 14.16667%;
  }

  .three-columns {
    width: 22.5%;
  }

  .four-columns {
    width: 30.83333%;
  }

  .five-columns {
    width: 39.16667%;
  }

  .six-columns {
    width: 47.5%;
  }

  .seven-columns {
    width: 55.83333%;
  }

  .eight-columns {
    width: 64.16667%;
  }

  .nine-columns {
    width: 72.5%;
  }

  .ten-columns {
    width: 80.83333%;
  }

  .eleven-columns {
    width: 89.16667%;
  }

  .twelve-columns {
    width: 97.5%;
  }

  .offset-one {
    margin-left: 9.58333%;
  }

  .offset-two {
    margin-left: 17.91667%;
  }

  .offset-three {
    margin-left: 26.25%;
  }

  .offset-four {
    margin-left: 34.58333%;
  }

  .offset-five {
    margin-left: 42.91667%;
  }

  .offset-six {
    margin-left: 51.25%;
  }

  .offset-seven {
    margin-left: 59.58333%;
  }

  .offset-eight {
    margin-left: 67.91667%;
  }

  .offset-nine {
    margin-left: 76.25%;
  }

  .offset-ten {
    margin-left: 84.58333%;
  }

  .offset-eleven {
    margin-left: 92.91667%;
  }

  .centered-one {
    margin: 0 47.08333%;
  }

  .centered-two {
    margin: 0 42.91667%;
  }

  .centered-three {
    margin: 0 38.75%;
  }

  .centered-four {
    margin: 0 34.58333%;
  }

  .centered-five {
    margin: 0 30.41667%;
  }

  .centered-six {
    margin: 0 26.25%;
  }

  .centered-seven {
    margin: 0 22.08333%;
  }

  .centered-eight {
    margin: 0 17.91667%;
  }

  .centered-nine {
    margin: 0 13.75%;
  }

  .centered-ten {
    margin: 0 9.58333%;
  }

  .centered-eleven {
    margin: 0 5.41667%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .row {
    width: 100%;
  }

  [class*="-column"] {
    overflow: hidden;
    float: left;
    margin: 0 1.04167%;
  }

  .one-columns {
    width: 6.25%;
  }

  .two-columns {
    width: 14.58333%;
  }

  .three-columns {
    width: 22.91667%;
  }

  .four-columns {
    width: 31.25%;
  }

  .five-columns {
    width: 39.58333%;
  }

  .six-columns {
    width: 47.91667%;
  }

  .seven-columns {
    width: 56.25%;
  }

  .eight-columns {
    width: 64.58333%;
  }

  .nine-columns {
    width: 72.91667%;
  }

  .ten-columns {
    width: 81.25%;
  }

  .eleven-columns {
    width: 89.58333%;
  }

  .twelve-columns {
    width: 97.91667%;
  }

  .offset-one {
    margin-left: 9.375%;
  }

  .offset-two {
    margin-left: 17.70833%;
  }

  .offset-three {
    margin-left: 26.04167%;
  }

  .offset-four {
    margin-left: 34.375%;
  }

  .offset-five {
    margin-left: 42.70833%;
  }

  .offset-six {
    margin-left: 51.04167%;
  }

  .offset-seven {
    margin-left: 59.375%;
  }

  .offset-eight {
    margin-left: 67.70833%;
  }

  .offset-nine {
    margin-left: 76.04167%;
  }

  .offset-ten {
    margin-left: 84.375%;
  }

  .offset-eleven {
    margin-left: 92.70833%;
  }

  .centered-one {
    margin: 0 46.875%;
  }

  .centered-two {
    margin: 0 42.70833%;
  }

  .centered-three {
    margin: 0 38.54167%;
  }

  .centered-four {
    margin: 0 34.375%;
  }

  .centered-five {
    margin: 0 30.20833%;
  }

  .centered-six {
    margin: 0 26.04167%;
  }

  .centered-seven {
    margin: 0 21.875%;
  }

  .centered-eight {
    margin: 0 17.70833%;
  }

  .centered-nine {
    margin: 0 13.54167%;
  }

  .centered-ten {
    margin: 0 9.375%;
  }

  .centered-eleven {
    margin: 0 5.20833%;
  }
}


@media screen and (max-width: 640px) {
  .row {
    margin: 0 5%;
    width: 90%;
  }

  [class*="-column"] {
    overflow: hidden;
    float: left;
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .row {
    margin: 0 5%;
    width: 90%;
  }

  [class*="-column"] {
    overflow: hidden;
    float: left;
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 568px) and (min-width: 361px) {
  .row {
    margin: 0 5%;
    width: 90%;
  }

  [class*="-column"] {
    overflow: hidden;
    float: left;
    margin: 0;
    width: 100%;
  }
}


@media screen and (max-width: 360px) {
  .row {
    margin: 0 5%;
    width: 90%;
  }

  [class*="-column"] {
    overflow: hidden;
    float: left;
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .row {
    margin: 0 5%;
    width: 90%;
  }

  [class*="-column"] {
    overflow: hidden;
    float: left;
    margin: 0;
    width: 100%;
  }
}
