//ICONS
[class *='icon-'] {
  background: image_url('sprite.svg') no-repeat;
  background-size: 174px 180px;
  display: inline-block;
}

.icon-facebook {
  @include footer-icons(10px, -86px);

  &:hover {
    @include footer-icons(10px, -128px);
  }
}

.icon-twitter {
  @include footer-icons(-45px, -86px);

  &:hover {
    @include footer-icons(-45px, -128px);
  }
}

.icon-google {
  @include footer-icons(-101px, -86px);

  &:hover {
    @include footer-icons(-101px, -128px);
  }
}

.social {
  margin-top: 18px;
  width: 170px;
  a {
    width: 47px;
    height: 32px;
    padding-top: 15px;
    float: left;
    background: $social-bkg;
    border-radius: 50%;
    &.twitter {
      margin: 0 8% 0;
    }
    &:hover {
      background: $social-hover;
    }
  }
}