//ICONS
.icon-facebook {
  @include sprite-icon(0, 0, 24, 12);
  display: block;
  left: 0;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    @include sprite-icon(0, -49, 24, 12);
  }
}

.icon-twitter {
  @include sprite-icon(-76, -4, 18, 16);
  display: block;
  left: 0;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    @include sprite-icon(-75, -53, 18, 16);
  }
}

.icon-google {
  @include sprite-icon(-157, -3, 21, 21);
  display: block;
  left: 0;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    @include sprite-icon(-157, -52, 21, 21);
  }
}

.social {
  margin-top: 25px;
  margin-bottom: 30px;
  width: 170px;

  a {
    float: left;
  }
}

@-moz-document url-prefix() {
  .social {
    margin-bottom: 45px;
  }
}

.facebook {
  @include sprite-icon-file('2017/assets', -435, -441, 43, 43);
  @extend .social-shares;
  margin-right: 10px;
  &:hover {
    @include sprite-icon-file('2017/assets', -588, -441, 43, 43);
  }
}

.twitter {
  @include sprite-icon-file('2017/assets', -505, -441, 43, 43);
  @extend .social-shares;
  &:hover {
    @include sprite-icon-file('2017/assets', -658, -441, 43, 43);
  }
}
