html, body {
  background-color: black !important;
  transition: background-color 3s ease;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;

  &.hover {
    background-color: $bkg !important;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  p {
    font-family: 'Oswald', sans-serif;
    line-height: 20px;
    padding: 0;
  }

  a:hover { text-decoration: none; }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 100 8em/1.1 'Oswald', sans-serif;
  text-transform: uppercase;
  color: $fonts;
}

h1 {
  font-weight: bold;
  margin-left: -4px;
}

h2 {
  font-size: 3.15em;
}

h3 {
  font-size: 2.17em;
  font-weight: bold;
}

h4 {
  font-size: 3.1em;
  font-weight: 500;
  padding-bottom: 5%;
}

h5 {
  font-size: 5.1em;
  margin-top: 0.2em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

fieldset {
  border: none;
}

input[type=submit] {
  border: none;
}

.layer { list-style: none }

.a {
  &:hover {
    font-family: Arial;
    letter-spacing: 5px;
    word-spacing: 9px;
    background: black;
    color: #fff;
    font-size: 1em;
  }
}

.top-box {
  margin: 20px auto;
  max-width: 265px;
}

.center {
  text-align: center;
}

.cero-width { width: 0; }

.opacity-hidden { opacity: 0 }

.right {
  text-align: right;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.normal-box {
  margin: 20px auto;
  max-width: 170px;
}

#keynotes, #speaker-cards {
  .accordion-group {
    display: none;
  }
}

.footer-legend a.policy-page {
  display: none;
}

.bottom-copy-right {
  display: none;
}

.organized-label {
  clear: both;
  color: #a02d2e;
  font-family: 'Teko', sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 3px auto 0 auto;
  max-width: 165px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3px;
}


.crowdint-logo {
  width: 69px;
}

#scene {
  margin: 0;
}

.eyes {
  left: 30px;
}

@include font_face('Block', 'BLOKKNeue-Regular');
