html, body {
  background-color: black !important;
  transition: background-color 3s ease;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;

  &.hover {
    background-color: $bkg !important;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  p {
    font-family: 'Oswald', sans-serif;
    line-height: 20px;
    padding: 0;
  }

  a:hover { text-decoration: none; }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 100 8em/1.1 'Oswald', sans-serif;
  text-transform: uppercase;
  color: $fonts;
}

h1 {
  font-weight: bold;
  margin-left: -4px;
}

h2 {
  font-size: 3.15em;
}

h3 {
  font-size: 2.17em;
  font-weight: bold;
}

h4 {
  font-size: 3.1em;
  font-weight: 500;
  padding-bottom: 5%;
}

h5 {
  font-size: 5.1em;
  margin-top: 0.2em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

fieldset {
  border: none;
}

input[type=submit] {
  border: none;
}

.logo-container {
  background-color: black;
  transition: background-color 3s ease;

  &.hover {
    background-color: $bkg;
  }
}

.layer { list-style: none }

.a {
  &:hover {
    font-family: Arial;
    letter-spacing: 5px;
    word-spacing: 9px;
    background: black;
    color: #fff;
    font-size: 1em;
  }
}

.top-box {
  margin: 20px auto;
  max-width: 265px;
}

.center {
  text-align: center;
}

.cero-width { width: 0; }

.opacity-hidden { opacity: 0 }

.right {
  text-align: right;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.normal-box {
  margin: 20px auto;
  max-width: 170px;
}

#keynotes, #speaker-cards {
  .accordion-group {
    display: none;
  }
}

.footer-legend a.policy-page {
  display: none;
}

.bottom-copy-right {
  display: none;
}

.organized-label {
  clear: both;
  color: #a02d2e;
  font-family: 'Teko', sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 3px auto 0 auto;
  max-width: 165px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3px;
}


.crowdint-logo {
  width: 69px;
}

#scene {
  margin: 0;
}

.eyes {
  left: 30px;
}

@include font_face('Block', 'BLOKKNeue-Regular');


.ta-c { text-align: center; }
.ta-l { text-align: left; }
.ta-r { text-align: right; }
.teko { font-family: 'Teko', sans-serif; }
.tt-u { text-transform: uppercase; }
.opens { font-family: 'Open Sans', sans-serif; }
.fw-r { font-weight: 400; }
.fw-l { font-weight: 200; }
.c-mdy { color: $mandy; }
.bgc-gly { background-color: $gallery }
.c-amlo { color: $armadillo; }
.fz-50 { font-size: 50px; }
.fz-30 { font-size: 30px; }
.fz-20 { font-size: 20px; }
.fz-14 { font-size: 14px; }
.fz-10 { font-size: 10px; }
.dis-ib { display: inline-block; }
.dis-b { display: block; }
.dis-i { display: inline; }
.m0 { margin: 0; }
.p0 { padding: 0; }
.pt50 { padding-top: 50px; }
.px20 { padding: 0 20px; }
.p20 { padding: 20px; }
.mt30 { margin-top: 30px; }
.mb30 { margin-bottom: 30px; }
.my30 { margin: 30px 0; }
.lh-40 { line-height: 40px; }
.bdb { border-bottom: 2px solid; }
.bdc-mdy { border-color: $mandy }

.bdt-w-3 { border-top-width: 3px; }
.bdt-w-2 { border-top-width: 2px; }
.bdt-c-ato { border-top-color: $alto; }
.bdt-s-s { border-top-style: solid; }

.pos-r { position: relative; }
.pos-a { position: absolute; }
.pos-b10 { bottom: 10px; }
