// GRID -------------
$max-cols: 12;

//Grid Large
$gl-column: 70px;
$gl-gutter: 30px;

//grid Medium
$gm-column: 60px;
$gm-gutter: 20px;

//Colors -----------
$alto:            #D2D2D2;
$alto2:           #D8D8D8;
$amber:           #FFC200;
$armadillo:       #514640;
$barley-white:    #FFF3CC;
$bittersweet:     #FF6666;
$black:           #000000;
$boulder:         #767676;
$crown-of-thorns: #A02D2E;
$gallery:         #EBEBEB;
$kabul:           #5D4D47;
$koromiko:        #FFBE66;
$mandy:           #E65253;
$mine-shaft:      #262626;
$picton-blue:     #33A3EB;
$stiletto:        #A02D2E;
$stratos:         #070243;
$tall-poppy:      #BA2B32;
$white:           #FFFFFF;
$wild-sand:       #F6F6F6;


//Components-colors -----
$active-link-color: #F60A25;
$aqua-button: #00a496;
$arrow-disabled: #C0C0C0;
$arrow-enabled: #DDD8D1;
$arrow-hover: #D7D0C9;
$bg: #f6f6f6;
$bkg-close-popup: #1fb6b4;
$bkg: #e65253;
$black-text: #000;
$border-line: #CCCCCC;
$breadcrumb-color: #F0BCAC;
$btn-hover: #e7e4df;
$button-color: #D1481D;
$button-login: #78c2c3;
$checkout-labels: #333;
$checkout-step: #AAAAAA;
$content-background: #EBEBEB;
$dark-brownn: #51463e;
$disable-tab: #80D2CD;
$facebook-bg: #3f5f9c;
$font-color: #B1B1B1;
$fonts: #39322b;
$github-bg: #575757;
$header-color: #272727;
$label-color: #999;
$light-brown: #ADA193;
$link-color: #07B4B4;
$login-bg: #159D9B;
$login-labels: #999999;
$login-main-bg: #EDEDED;
$main-bg: #CCE5E2;
$main-bkg: asset-url('bkg.jpg') no-repeat top center fixed;
$product-title: #221F1F;
$row-selected: #FAFAF5;
$social-bkg: #ff6666;
$social-hover: #ffffff;
$table-text: #545454;
$title_text_color: #404042;
$twitter-bg: #00a9e5;
$white: #FFF;

//Global variables
$condensed-bold: 'Open Sans Condensed', sans-serif;
