%section#main
  = image_tag 'poster.png', class: 'poster'
  %ul
    %li.find_us
      &nbsp;
    %li.fb
      = link_to '','http://www.facebook.com/comunidadmagmarails'
    %li.twt
      = link_to '','http://twitter.com/magmarails'
    %li.gplus
      = link_to '','https://plus.google.com/108479926406306482358/posts'
    %li.clearfix


