//ICONS
[class *='icon-'] {
  background: url('sprite_tmp.svg') no-repeat;
  background-size: 174px 180px;
  display: inline-block;
}

.icon-facebook {
  @include footer-icons(10px, -86px);

  &:hover {
    @include footer-icons(10px, -128px);
  }
}

.icon-twitter {
  @include footer-icons(-45px, -86px);

  &:hover {
    @include footer-icons(-45px, -128px);
  }
}

.icon-google {
  @include footer-icons(-101px, -86px);

  &:hover {
    @include footer-icons(-101px, -128px);
  }
}
