//ICONS
[class *='icon-'] {
  background: url('sprite.svg') no-repeat;
  background-size: 174px 180px;
  display: inline-block;
}

.icon-facebook {
  @include icons(1px, -100px);

  &:hover {
    @include icons(1px, -150px);
  }
}

.icon-twitter {
  @include icons(-63px, -100px);

  &:hover {
    @include icons(-63px, -150px);
  }
}

.icon-google {
  @include icons(-129px, -100px);

  &:hover {
    @include icons(-129px, -150px);
  }
}
