#main-section.pure-u-2-3
  = render 'pages/2015/partials/pages_main_menu'
  .container
    #photo-gallery
      #gallery-inner
        #home-info.gallery-box.large
          .inner-box
            .content-information
              %p.title MAGMACONF
              %p.description= t('home.one_of_the_most_important')
              %p.description= t('home.magma_welcome_dev')
      .spinner.js-spinner-is-expanded
        %a#load-more-items{ href: '#' }

:coffee
  $(document).ready ->
    $('.magma-info').addClass('js-full-width')
    gallery = new Gallery('#gallery-inner')
    $('.white-background li').hide()
    gallery.start()

