.pure-u-2-3{ class: I18n.locale.to_s }
  = render 'pages/2015/partials/pages_main_menu'
  .container
    .bgc-whte.pt50.pb80
      .pure-g-r
        .pure-u-1-1.ta-c.my30.my15--m.mx10
          %h2.fz-40.m0.lh-40.dis-ib.c-mndy.fw-r.teko.fz-30--m.lh-25--m
            We need your support
          .wp-33.bgc-mndy.m-center.hg2.m5--t.wp-100--t
          %h4.fz-30.m0.c-mndy.fw-l.teko.p0.text-with-stars.fz-20--m
            June 18, 19 & 20 - Manzanillo, Col. MX
      .pure-g-r
        .pure-u-1-2
          %a.sponsor-logo-link{ href: 'http://www.crowdint.com/', target: '_blank' }
            .sponsor-logo.sponsor-logo__big.sponsor-logo-crowd.ol-n
        .pure-u-1-2
          %a.sponsor-logo-link{ href: 'https://www.github.com/', target: '_blank' }
            .sponsor-logo.sponsor-logo__big.sponsor-logo-github

      .pure-g-r.mt85.m0--t
        .pure-u-1-3
          %a.sponsor-logo-link{ href: 'https://www.ardanlabs.com/', target: '_blank' }
            .sponsor-logo.sponsor-logo__medium.sponsor-logo-ardan-labs
        .pure-u-1-3
          .sponsor-logo.sponsor-logo__medium.sponsor-logo-placeholder__medium
        .pure-u-1-3
          .sponsor-logo.sponsor-logo__medium.sponsor-logo-placeholder__medium

      .pure-g-r.mt85.m0--t.dis-b-n--t
        .pure-u-1-3
          .sponsor-logo.sponsor-logo__small.sponsor-logo-placeholder__small
        .pure-u-1-3
          .sponsor-logo.sponsor-logo__small.sponsor-logo-placeholder__small
        .pure-u-1-3
          .sponsor-logo.sponsor-logo__small.sponsor-logo-placeholder__small

      .pure-g-r.mt85.m0--t.dis-b-n--t
        .pure-u-1-3
          .sponsor-logo.sponsor-logo__small.sponsor-logo-placeholder__small
        .pure-u-1-3
          .sponsor-logo.sponsor-logo__medium.sponsor-logo-contact-button
        .pure-u-1-3
          .sponsor-logo.sponsor-logo__small.sponsor-logo-placeholder__small

      .pure-g-r.dis-b--t
        .pure-u-1-1
          .sponsor-logo.sponsor-logo__medium.sponsor-logo-contact-button
