- if @message[:alert]
  $('.alert').text("#{escape_javascript @message[:alert]}");
  $('.alert').toggle()
- else
  $('.notice p').html("<p>#{escape_javascript @message[:notice]}</p>");
  $('form').remove();
