.gallery-box
  .inner-box
    %img{ src: data.thumbnail }
    %a.fancybox{ href: data.url, rel: 'gallery' }
      .mask
    .desc
      .photo-info
        %p= data.description.html_safe
      = render 'pages/2017/partials/gallery/share_buttons', data: data

    = render 'pages/2017/partials/gallery/share_buttons', data: data
