.top-box {
  margin: 20px auto;
  max-width: 265px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.normal-box {
  margin: 20px auto;
  max-width: 170px;
}

#mobile-contact-button {
  display: none;
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}
