%meta{charset: "utf-8"}
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0 maximum-scale=1.0'}
%title= 'Web Development Conference June 18, 19, 20 2015 Manzanillo, Mexico'
%meta{name: "author", content: "MagmaLabs - http://www.magmalabs.io/"}
%meta{content: 'Get ready for MagmaConf 2015', property: 'og:title'}
%meta{content: 'http://www.magmaconf.com', property: 'og:url'}
%meta{content: 'MagmaConf is an annual Web Development Conference happening June 18, 19 & 20 2015 in the coastline city Manzanillo, Colima, Mexico', property: 'og:description'}
%meta{content: 'MagmaConf is an annual Web Development Conference happening June 18, 19 & 20 2015 in the coastline city Manzanillo, Colima, Mexico.', name: 'description'}
%meta{ name: 'theme-color', content: '#E65253' }
%meta{name: "keywords", content: "magmaconf, rails, ruby, UI, UX, web development, frontend, manzanillo, conference, 2015, june, junio, github, sinatra, design, conferencia, tecnologia"}
%link{rel: 'stylesheet', href: "//fonts.googleapis.com/css?family=Oswald:400,300,700|Roboto:700,400,300&subset=latin"}
%link{rel: 'stylesheet', href: "//fonts.googleapis.com/css?family=Lato:400,300,700|Roboto:700,400,300&subset=latin"}
%link{rel: 'stylesheet', href: "//fonts.googleapis.com/css?family=Teko:300,400,500,600,700&subset=latin"}
%link{rel: 'stylesheet', href: "//fonts.googleapis.com/css?family=Open+Sans:400,300,700"}
%link{rel: "shortcut icon", type: "image/vnd.microsoft.icon", href: "#{image_path 'favicon.ico?v=2.0'}"}

= csrf_meta_tags
:javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22515126-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

