.box {
  width:280px;
  min-width:280px;
  float:left;
  overflow:visible;

  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;

  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;

  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;

  &:hover {
    .inner-box > img {
      -webkit-transform: scale(1.4) rotate(9deg);
      -moz-transform:scale(1.4) rotate(9deg);
      transform: scale(1.4) rotate(9deg);

      -moz-opacity:0.6;
      -webkit-opacity:0.6;
      -o-opacity:0.6;opacity:0.6;

      -webkit-transition-duration: 0.5s;
    }

    h1 {
      top:30%;
      transition: all 0.5s;
    }

    .mask {
      top:-300px;
      left:-300px;
      transition: all 0.5s;
    }

    .konstantin-water-mark {
      bottom: 20px;
      transition: all 0.5s;
    }

    .share-buttons {
      right: 20px;
      transition: all 0.5s;
    }
  }

  h1 {
    top: 900px;
    left:0;
    position:absolute;
    font-size:20px;
    text-align:center;
    line-height:28px;
    font-weight:normal;
    text-transform:uppercase;
    color:#fff;
    padding:0 2%;
    width:96%;
    display:block;
    transition: all 0.3s;
  }

}

.inner-box {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;

  img {
    max-width: 100%;
    margin: 0;
    width: 100%;
    transition: all 0.5s;
    vertical-align: middle;
  }
}

.mask {
  width: 1123px;
  height: 1029px;
  background: image_url('mask.png');
  position: absolute;
  top: 105%;
  left: 105%;
  transition: all 0.3s;
}

.konstantino {
  background: #fff;
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.konstantin-water-mark {
  position: absolute;
  bottom: -200px;
  left: 50%;
  margin-left: -65px;
  transition: all 0.3s;

  h2 {
    color: white;
    font-size: 1em;
    text-transform: none;
    font-family: Roboto;
    font-weight: 400;
  }

  &:before {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
  }
}

.konstantin-avatar-container {
  width: 65px;
  height: 70px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}

.konstantino-avatar {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin: 0 auto;
  overflow: hidden;
  border: 5px solid white;

  > img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
  }
}

.photo-info {
  display: inline-block;
  vertical-align: top;
}

.share-buttons {
  position: absolute;
  bottom: 20px;
  right: -100px;

  a {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background: #23A8A5;
    border-radius: 50%;
    margin-right: 15px;
    transition: all 1s;

    .icon-twitter {
      @include footer-icons(-52px, -57px);
    }

    .icon-facebook {
      @include footer-icons(2px, -23px);
    }
  }
}

.desc {
  display: none;
}
