.tweet {
  background: white;
  min-height: 150px;
}

.tweet-avatar {
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  vertical-align: middle;

  img {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
  }
}

.tweet-content {
  display: inline-block;
  width: 79%;
  box-sizing: border-box;
  vertical-align: middle;
  padding-right: 40px;
}

.tweet-header {
  padding: 20px 0 10px;
  border-bottom: 1px solid #8C7F71;

  p {
    margin: 0;
    display: inline-block;
  }
}

.tweet-fullname {
  font-family: Oswald;
  font-weight: 400;
  color: #8C7F71;
}

.tweet-username {
  font-family: Roboto;
  font-weight: 400;
  color: #23A8A5;
}

.tweet-body {
  p {
    font-family: Roboto;
    font-weight: 400;
  }

  span {
    color: #23A8A5;
  }

  a {
    color: #23A8A5;
    text-decoration: none;
  }


}

.twitter-share-buttons {
  display: inline-block;
  position: absolute;
  right: 10px;
}

.twitter-favorite-button {
  height: 23px;
  width: 23px;
  background: image_url('social-sprite.png') no-repeat -210px -101px;
  display: inline-block;
  margin-bottom: 5px;
}

.twitter-retweet-button {
  height: 23px;
  width: 23px;
  background: image_url('social-sprite.png') no-repeat -210px -81px;
  display: inline-block;
  margin-bottom: 5px;
}

.twitter-replay-button {
  height: 23px;
  width: 23px;
  display: inline-block;
  background: image_url('social-sprite.png') no-repeat -187px -56px;
  margin-bottom: 5px;
}
