.side-text-thanks{
  font-size: 60px;
}
.side-text-for{
  font-size: 130px;
  line-height: 60px;
}
.side-text-everything{
  font-size: 40px;
}

.thanks-info{
  .separator.separator-normal{
    width: 140px;
  }

  .rights{
    color: #a63132;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    width: 210px;
    margin: 0 auto 88px;
  }
}
