.side-text {
  margin: 20px auto;
  max-width: 243px;
}

.side-text-have{
  font-size: 58px;
  line-height: 58px;
}

.side-text-iphone{
  font-size: 58px;
  line-height: 34px;
}

.side-text-got{
  font-size: 44px;
  line-height: 40px;
}

.side-text-app{
  font-size: 38px;
  line-height: 25px;
}

.side-text-we-need { font-size: 53px; }
.side-text-your { font-size: 88px; }
.side-text-support { font-size: 52px; }
.side-text-welcome {
  @include span-cfp($white, 33.8px, 'Oswald', 300, uppercase);
}
.side-text-hottest {
  @include span-cfp($koromiko, 30.8px, 'Oswald', 400, uppercase);
}

.side-text-tech {
  @include span-cfp($bittersweet, 79.2px, 'Oswald', bold, uppercase);
}

.side-text-conference {
  @include span-cfp($koromiko, 32px, 'Oswald', 400, uppercase);
}

.side-text-in-all-mx {
  @include span-cfp($white, 25.6px, 'Oswald', 300, uppercase);
}

.side-text-march {
  @include span-cfp($koromiko, 43.7px, 'Oswald', bold, uppercase);
  letter-spacing: -0.8px;
  &:before {
    background: asset_url('2017/star_grey_1.png');
    background-size: 22px;
    content: ' ';
    display: inline-block;
    height: 20px;
    margin: 15px;
    width: 20px;
  }

  &:after {
    background: asset_url('2017/star_grey_1.png');
    background-size: 22px;
    content: ' ';
    display: inline-block;
    height: 20px;
    margin: 10px;
    margin-left: 10px;
    width: 20px;
  }
}

.side-text-date {
  @include span-cfp($bittersweet, 43.7px, 'Oswald', bold, none);
  letter-spacing: -0.8px;
  margin-top: 5px;
}

.side-text-cfp-place {
  @include span-cfp($white, 25.7px, 'Oswald', bold, none);
  letter-spacing: -0.5px;
  margin-top: 10px;
}

.btn-register-circular {
  background-color: $white;
  border-radius: 50%;
  height: 209px;
  margin: 50px auto;
  position: relative;
  width: 209px;

  .register {
    @include span-cfp($stratos, 46px, 'Teko', 400, uppercase);
    left: 50%;
    position: absolute;
    top: 31%;
    transform: translateY(-31%) translateX(-50%);
  }

  .now {
    @include span-cfp($stratos, 84px, 'Teko', 500, uppercase);
    position: absolute;
    top: 71%;
    transform: translateY(-70%) translateX(-50%);
  }
}

.dotted-circle {
  border-radius: 50%;
  border-style: dotted;
  height: 184px;
  left: 10px;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  width: 184px;
}

@-moz-document url-prefix(){
 .magma-info{ background: $mandy; }
}
.magma-info {
  float: left;
  min-height: 927px;

  @include mq-tablet {
    margin-bottom: 0px;
    min-height: 880px;
    padding-bottom: 20px;
  }

  &.js-full-width { width: 100%; }
  &.js-width-transition { transition: width 1s }

  .thanks {
    margin: 30px 0 -8px;
    width: 253px;
    @media screen and (min-width: 767px) and (max-width: 1150px) {
      margin-top: 20px;
    }

    &.iphone{ margin: 30px 0 12px -50px; }
  }

  .reylero-beach {
    height: 220px;
    width: 280px;

    &.iphone{ margin: 30px 0 12px -50px; }
  }

  .hero-text {
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    line-height: 45px;
    font-weight: 400;
    margin: 12px 0 0 0;
    display: block;

    &.line1 {
      font-size: 43px;
      margin-top: 0;
    }

    &.line2 { font-size: 99px; }

    &.line3 { font-size: 62px; }

    &.line1.about { font-size: 37px; }
    &.line2.about { font-size: 94px; }
    &.line3.about {
      font-size: 35px;
      margin-top: 2px;
      line-height: 35px;
    }
  }

  .social {
    width: 100%;

    a {
      display: inline-block;
      float: none;

      &.twitter { margin: 0 35px 0; }
    }
  }

  .over {
    color: #fff3cc;
    display: block;
    font-size: 165%;
    font-family: oswald;
    font-weight: 300;
    margin: 20px auto;
    max-width: 212px;
    padding-bottom: 5px;
    text-transform: uppercase;

    &.es {
      max-width: 230px;
    }

    .dates-text {
      font-family: 'Teko', sans-serif;
      font-size: 32px;
      line-height: 20px;
      font-weight: 100;
      display: block;
      margin: 13px 0 8px 0;
    }

    .venues-text {
      font-family: 'Teko', sans-serif;
      font-size: 21px;
      line-height: 20px;
      font-weight: 100;
      display: block;
      margin: 8px 0 3px 0;
      color: white;
      letter-spacing: .3px;

      &.line1 {
        font-size: 40px;
        margin-top: 16px;
      }

      &.line1.about {
        font-size: 34px;
        margin-top: 0;
      }

      &.line2 {
        font-size: 32px;
        margin-bottom: 10px;
      }
    }

    .content-text {
      color: white;
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 18px;

      &.highlight {
        font-weight: bold;
        margin: 5px 0 0 0;
      }
    }

    .sponsored-by {
      color: $picton-blue;
      display: block;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      letter-spacing: -0.4px;
      line-height: 18px;
      padding-top: 15px;
    }

    .sub-content-text {
      color: white;
      display: block;
      font-family: 'Teko', sans-serif;
      font-size: 21px;
      line-height: 30px;

      &.expanded {
        letter-spacing: 1px;
        margin-top: 5px;
      }
    }

    .keynote-text {
      margin: 7px 0 0 0;
      display: block;
    }

    .keynote-text,
    .keynote-text2 {
      font-size: 27px;
      color: #792323;
      line-height: 25px;
      font-family: 'Teko', sans-serif;

      .star {
        width: 15px;
      }
    }

    .keynote-text3 {
      font-family: 'Teko', sans-serif;
      font-size: 20px;
      color: #792323;
      display: block;
    }

    .conference-date {
      font-size: 27px;

      .dates-text {
        display: inline-block;
      }

      .star {
        width: 15px;
        margin-bottom: 5px;
      }
    }

    .join-text {
      font-family: 'Teko', sans-serif;
      font-size: 25px;
      color: white;
      margin-top: 16px;
      display: block;
      letter-spacing: .5px;
    }

    .tuned-text {
      font-family: 'Open Sans', sans-serif;
      color: white;
      font-size: 12px;
      line-height: 8px;

      &:first-child{
        margin: 18px 0 0 0;
        display: block;
      }

      &.highlight {
        font-weight: 600;
      }
    }
  }

  .over-small {
    font-size: 120%;

    &.over-sized {
      margin: 35px auto 15px auto;
      width: 210px;
      max-width: 210px;
    }
  }

  .over.over-small.about {
    max-width: 212px;
  }
}

.main-content-mobile {
  padding-top: 48px;
}

.logo-container {
  position: fixed;
  width: inherit;
  z-index: 999;
  transform: translateZ(0);
  @media screen and (min-width: 767px) and (max-width: 1150px) {
    margin: 80px auto 0;
    position: relative;
  }
}

.logo-container-mobile {
  width: 100%;
}

.magma-logo {
  display: block;
  height: 50px;
  margin: 10px auto 10px;
  width: 143px;
}

.magma-logo-mobile{
  height: 33px;
  margin: 10px auto 5px;
  width: 90px;
  text-align: center;
  > img { width: 70px; }
}

.magmaconf-logo {
  height: 43px;
  margin-top: 5px;
  width: 124px;
}
