#footer {
  padding-top: 20px;
  border-top: 0.5px solid white;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
  }

  &.index {
    .social {
      display: none;
    }

    #copy-right {
      //padding-top: 20px;
    }
  }

  &.about-magma {
    background: #382e2c;
  }

  &.about-magma {
    .anti  h3, .footer-legend p {
      color: #fff;
    }
    .footer-legend a {
      color: #9B8E76;
    }
    .social a {
      background: #B0A392;
      &:hover {
        background: #90806b;
      }
    }
  }

  &.speakers, &.gallery {

    .anti  h3, .footer-legend p {
      color: #5f514c;
    }

    .footer-legend a {
      color: #000;
    }
  }

  .social {
    margin: 0 auto;
    a {
      height: 16px;
      margin: 0 10px;
      width: 30px;
      &:first-child {
        margin-left: 20px;
      }
    }

    [class *='icon-'] {
      margin-top: -9px;
    }

    .icon-facebook {
      @include footer-icons(1px, -28px);

      &:hover {
        @include footer-icons(1px, -62px);
      }
    }

    .icon-twitter {
      @include footer-icons(-54px, -28px);

      &:hover {
        @include footer-icons(-54px, -62px);
      }
    }

    .icon-google {
      @include footer-icons(-110px, -28px);

      &:hover {
        @include footer-icons(-110px, -62px);
      }
    }
  }

  #copy-right {
    color: #fff;
    border-bottom: 1px solid #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0 auto 0;
    max-width: 1127px;
    padding-bottom: 15px;
    text-align: center;

    a {
      display: inline-block;
      height: 40px;
      margin-right: 10px;
      position: relative;
      top: 11px;
      #logo-magmalabs {
        display: block;
        height: 33px;
        left: 12px;
        position: relative;
        top: -4px;
        width: 78px;
      }
    }
    .title {
      display: inline-block;
      text-transform: uppercase;
      p {
        color: #fff;
        display: inline;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        letter-spacing: .8px;
        text-transform: none;
        &:last-child {
          padding-left: 12px;
        }
      }
    }

    &.es .title {
      margin-top: -4px;
      max-width: 90%;
    }

    &.en .title {
      margin-top: -7px;
    }
  }
}

.footer-legend {
  margin: 15px 10px 15px -25px;
  text-align: left;

  p {
    color: #fff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 200;
    line-height: 17px;
    max-width: 704px;
    padding: 0px;
    word-spacing: 0px;
  }
  a {
    color: #F0515A;
    text-decoration: none;

    &:hover {
      color: #0078a0;
    }
  }
}

.anti {
  color: $white;
  margin: 0 auto;
  text-align: right;
  width: 1030px;
  h3 {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 14px; 
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 16px;
    padding-top: 6px;
    text-align: left;
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.magma-in-the-past-text {
  color: white;
}

.inline-list {
  display: inline-block;
  font-family: 'Helvetica Neue';
  font-size: 15px;
  margin: 20px auto;

  @media only screen and (max-width: 768px) {
    display: none;
  }

  li {
    display: block;
    float: left;
    list-style: none;
    margin-left: 1.375rem;

    a {
      color: #F0515A;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #footer {
    padding: 20px 0 10px;

    #copy-right {
      a { top: 12px; }
      .title { max-width: 87%; }
      &.en .title { margin-top: -4px; }
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 915px) {
  #footer {
    .anti h3 {
      font-size: 95%;
    }

    #copy-right.es {
      .title {
        max-width: 85%;
      }
    }
  }
}

@media screen and (max-width: 640px)  {

  #footer{
    text-align: center;
    padding-top: 35px;

    #copy-right{
      border: 0;

      .title{
        border-top: 1px solid #a63132;
        padding-top: 10px;
        margin: 5px 0 0 !important;
      }
    }

    .anti{
      padding: 0 10px;

      div{
        float: none;
        width: 100%;
      }

      h3{
        font-size: 110%;
        margin-bottom: -15px;
        text-align: center;
      }

      .footer-legend{
        margin: 20px 0;
        text-align: center;
      }
    }

    &.index #copy-right {
      margin: 0;
      padding: 0;
    }
  }
}
