.gallery-heading {
  padding: 60px 0 30px;
  background: #dcddcc;
  text-align: center;
}

.reylero-container {
  position: relative;
}

.gallery-reylero-beach {
  width: 250px;
  position: absolute;
  top: -90px;
  left: 50%;
  z-index: 1;
}

.gallery-title {
  color: #8C7F71;
  display: inline-block;
  font-family: oswald;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  font-size: 21px;
  border-bottom: 2px solid #523E43;

  span {
    color: #000;
    display: inline-block;
    font-weight: 300;
    height: 28px;
    margin: 50px 0 0 0;
    text-transform: uppercase;
    font-size: 21px;
  }
}

.gallery-subtitle {
  color: #ada193;
  font-size: 14px;
  font-weight: 300;
  max-width: 230px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;

  &:before, &:after {
    content: '';
    display: inline-block;
    height: 14px;
    width: 14px;
    background: image_url('star.png');
    background-size: 15px;
    margin: 0 10px;
  }
}

.gallery-container {
  background: #dcddcc;
  height: 400px;
}

#gallery {
  background: #fff;
  overflow:hidden;
}

#gallery-inner {
  overflow:hidden;
  position:relative;
  margin:0 auto;
  color:#333;
  position:relative;
  padding-top: 1px;
}

.box {
  width:280px;
  min-width:280px;
  float:left;
  overflow:visible;

  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;

  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;

  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;

  &:hover {
    img {
      -webkit-transform: scale(1.4) rotate(9deg);
      -moz-transform:scale(1.4) rotate(9deg);
      transform: scale(1.4) rotate(9deg);

      -moz-opacity:0.6;
      -webkit-opacity:0.6;
      -o-opacity:0.6;opacity:0.6;

      -webkit-transition-duration: 0.5s;
    }

    h1 {
      top:30%;
      transition: all 0.5s;
    }

    .mask {
      top:-300px;
      left:-300px;
      transition: all 0.5s;
    }

    .konstantino {
      bottom: 20px;
      transition: all 0.5s;
    }

    .share-buttons {
      right: 20px;
      transition: all 0.5s;
    }
  }

  h1 {
    top: 900px;
    left:0;
    position:absolute;
    font-size:20px;
    text-align:center;
    line-height:28px;
    font-weight:normal;
    text-transform:uppercase;
    color:#fff;
    padding:0 2%;
    width:96%;
    display:block;
    transition: all 0.3s;
  }

}

.inner-box {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
    margin: 0;
    width: 100%;
    transition: all 0.5s;
  }
}

.mask {
  width: 1123px;
  height: 1029px;
  background: image_url('mask.png');
  position: absolute;
  top: 105%;
  left: 105%;
  transition: all 0.3s;
}

.konstantino {
  color: white;
  position: absolute;
  bottom: -200px;
  left: 50%;
  font-size: 1em;
  text-transform: none;
  font-family: Roboto;
  font-weight: 400;
  margin-left: -65px;
  transition: all 0.3s;

  &:before {
    content: '';
    background: #fff;
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    margin: 0 auto 10px;
  }
}

.share-buttons {
  position: absolute;
  bottom: 20px;
  right: -100px;

  a {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background: #23A8A5;
    border-radius: 50%;
    margin-right: 15px;
    transition: all 1s;

    .icon-twitter {
      @include footer-icons(-52px, -57px);
    }

    .icon-facebook {
      @include footer-icons(2px, -23px);
    }
  }
}
