#main-section {
  background-position: 0 -198px;
  position: absolute;
  right: -70%;
  transition: all 1s;
  margin-top: 40px;
  @include mq(768px) { position: inherit }

  #photo-gallery {
    background-color: #ebebeb;
    height: 970px;
    overflow: overlay;
  }

  .spinner, .js-spinner-is-expanded a {
    background-color: #ebebeb;
    height: 10px;
    padding: 0;
  }

  .content-information {
    margin-right: auto;
    padding: 50px 40px;
    text-align: left;

    .description {
      font-family: roboto;
      font-size: 110%;
      font-weight: 100;
    }

    .title {
      color: $bkg;
      font-size: 129%;
      font-weight: 400;
      line-height: 24px;
      width: 84%;
    }
  }

  .share-buttons a {
    background-color: #e65253;

    &:hover {
      background-color: white;

      &.share-via-twitter:after {
        background: image_url('sprite.svg') no-repeat -60px -80px;
        width: 20px;
        height: 12px;
        background-size: 180px;
      }

      &.share-via-facebook:after {
        background: image_url('sprite.svg') no-repeat 0 -72px;
        background-size: 168px;
      }
    }
  }
}
