#main-section {
  background: url(/assets/bkg.jpg) no-repeat;
  background-position: 0 -198px;
  padding: 44px 0;

  .container {
    margin: 60px auto;
    max-width: 1200px;

    .center {
      .social {
        margin: 10px auto;
        overflow: hidden;

        [class *='icon-'] {
          padding: 20px 0 0 17px;
          margin-top: -13px;
        }
      }

      #thanks {
        margin: 60px 0;
        width: 253px;
      }

      .over {
        color: #7d7164;
        display: block;
        font-size: 165%;
        font-family: oswald;
        font-weight: 300;
        margin: 0 auto;
        max-width: 179px;
        padding-bottom: 5px;
        text-transform: uppercase;

        &.es {
          max-width: 230px;
        }

      }

      .over-small { font-size: 120%; }
    }
  }

  .encore-button {
    position: relative;
    padding: 20px 0;
  }

  .btn-register.small {
    border-color: #302216;
    height: 120px;
    margin-top: 35px;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    width: 120px;
    z-index: 2;

    img {
      width: 80px;
    }
  }

  .shadow {
    @include rounded(50%);

    background: #000;
    display: block;
    height: 140px;
    left: 50%;
    margin-left: -70px;
    opacity: 0.1;
    position: absolute;
    top: 80px;
    width: 140px;
    z-index: 1;
  }
}
