#main-menu, #mobile-header {
  &.speakers, &.gallery {
    background: #dcddcc;

    #magma-logo {
      background: image-url('logo-magma.svg') no-repeat;
    }
  }
}

#mobile-header { display: none; }

#main-menu {
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;

  .nav-menu {
    background-color: $white;
    overflow: auto;
    width: 100%;

    .link-text { color: $kabul; }
    .link {
      border-right: 1px solid $bkg;
      &:last-child{ border: none; }
    }


    a, span {
      &:hover, &.active { color: $bittersweet; }
      &.active { font-weight: bold; }
    }
  }

  #magma-logo {
    background: image-url('2015/logo-magma.svg') no-repeat;
    cursor: pointer;
    display: block;
    height: 37px;
    margin: 0 auto;
    width: 105px;
  }

  ul {
    margin: 0 auto;
    padding: 20px 0 20px;
    text-align: left;

    li {
      border-right: 1px solid #ada193;
      display: inline-block;
      height: 15px;
      padding: 0 15px;

      @media screen and (max-width: 839px){ padding: 0 9px; }

      a , span, &:after {
        color: #ada193;
        display: block;
        font-family: 'Lato';
        font-size: 16px; 
        font-weight: 300;
        letter-spacing: -0.5px;
        margin-top: -2px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover, &.active, &.register-now-link {
          color: #fff;
        }

        &.active {
          border-bottom: 2px solid #fff;
        }

        @media only screen and (min-width: 468px) and (max-width: 768px) {
          font-size: 9.6px;
        }

        @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
          font-size: 9.6px;
        }
      }

      span {
        cursor: pointer;
      }
    }

  }

  &.about-magma, &.policies {
    .link {
      border-right: 1px solid #ada193;
      &:hover:after {color: #fff;}
      a, span, &:after {
        color:  #ada193;
        &:hover, &.active {
          color: #fff;
        }
        &.active {
          border-bottom: 2px solid #fff;
        }
      }
    }
    .without-border {
      border-right: 0;
    }
  }
}

.transition-width { transition: width 1s; }

@media screen and (max-width: 767px)  {

  #main-section {
    padding-top: 0;
    position: initial;
  }

  #btn-menu, #btn-mobile-header {
    padding: 11px 10px;
    top: 3px;

    span {
      background-color: white;
      display: block;
      height: 2px;
      margin-bottom: 5px;
      width: 18px;
    }
  }

  #mobile-header {
    display: block;
    height: 50px;
    width: 100%;
    z-index: 1003;

    &.about-magma, &.speakers {
      .link {
        color: #6c5a53;
      }
      #btn-mobile-header span {
        background-color: #6c5a53;
      }
    }

    .link {
      color: #ada193;
      font-size: 130%;
      font-family: oswald;
      letter-spacing: 1px;
      font-weight: 300;
    }

    #btn-mobile-header {
      display: inline-table;
      padding: 15px 5px 5px 15px;

      span {
        background-color: #ada193;
      }
    }
  }

  #menu {
    display: block;
    left: 42px;
    position: absolute;
    top: 13px;
  }
  #register {
    display: block;
    position: absolute;
    right: 15px;
    top: 13px;
  }
  #magma-logo {
    background: image-url('2015/logo-magma.svg') no-repeat;
    position: absolute;
    height: 40px;
    left: 0;
    margin: 0 auto;
    right: 0;
    top: 10px;
    width: 105px;
  }

  #main-menu {
    background: #f2f3ed !important;
    height: 100%;
    min-height: 465px;
    position: fixed;
    right: 100%;
    top: 0;
    transition: 0;
    z-index: 1004;

    #magma-logo {
      background: image-url('logo-magma.svg') no-repeat;
    }

    #btn-menu {
      position: fixed;
      top: 0;
      right: 0;
      cursor: pointer;

    }
    #btn-menu.active {
      right: 12px;

      span { background-color: #e65253; }
    }

    .nav-menu {
      .link { border: none; }
      .link-text { color: $stratos; }
    }

    ul {
      padding: 0;
      margin-top: 43px;
      margin-left: 12.4%;
      margin-bottom: 80px;
      display: block;
      list-style: none;

      .link-text {
        font-family: 'Teko', sans-serif;
        font-weight: 100;
        font-size: 24px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: -25px;
          top: 8px;
          width: 15px;
          height: 15px;
          background: url('2015/small_yellow_star.png');
        }
      }

      .link {
        display: list-item;
        height: auto;
        padding: 0;
      }
    }
  }
}


.nav-menu-separator {
  display: none;

  @include mq-tablet {
    display: block;
    height: 2px;
    width: 95%;
    background-color: $alto;
    margin: 0 auto 33px;
  }
}

.policy-legend-mobile {
  color: $boulder;
  display: block;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 17px;
  max-width: 704px;
  padding: 13px 12px 35px;
  letter-spacing: 0px;
  margin: 0;
  word-spacing: 0px;

  > a {
    color: $boulder;
    font-weight: bold;
    text-decoration: none;
  }
}

.btn-register-mobile {
  display: none;

  @include mq-tablet {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 22px;
    letter-spacing: 0px;
    font-weight: 300;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: white !important;
    }
  }
}

.getting-to-desktop {
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    display: none !important;
  }
}

.getting-to-tbt {
  display: none !important;
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    display: block !important;
  }
}
