#newsletter {
  background-color: white;

  &.sent {
    .before {
      display: none;
    }

    .after {
      display: block;
    }
  }

  .before {
    display: block;
  }

  .after {
    display: none;
  }

  section {
    max-width: 1200px;
    height: 230px;
    margin: 0 auto;

    .banner {
      position: relative;
      top: -4px;
      width: 655px;;
    }
  }

  .content {
    height: 230px;

    @include mq-tablet {
      padding: 30px 10px;
      height: auto;
    }
  }

  p {
    bottom: 289px;
    color: #792222;
    font-family: 'Teko', sans-serif;
    left: 45%;
    line-height: 28px;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    width: 650px;

    &.big {
      font-size: 200%;

      @include mq-tablet { font-size: 28px; }
    }

    &.small {
      font-weight: 300;
      font-size: 140%;
      margin-top: 20px;

      @include mq-tablet { font-size: 18px; }
    }
  }

  #thanks {
    width: 279px;
    line-height: 31px;
  }

  #keep {
    border-top: 5px solid #b7b3af;
    margin-top: 3px;
    padding-top: 5px;
    width: 279px;
  }

  .form-container {
    bottom: 270px;
    left: 45%;
    margin-top: -16px;
    padding-top: 5px;
    position: relative;
    width: 650px;

    label {
      @include mq-tablet {
        font-family: 'Teko', sans-serif;
        font-size: 25px;
        color: #514640;
        margin-top: 15px;
        display: inline-block;

        &.error{
          color: #e65253;
        }
      }
    }
    .field {
      display: inline-table;

      input {
        height: 35px;
        margin-top: 5px;
        padding-left: 10px;
        width: 225px;

        &.error {
          outline-color: #e65253;
        }
      }

      &.name {
        margin-right: 30px;

        @include mq(640px) {
          margin-right: auto;
        }
      }

    }

    .submit {
      font-size: 160%;
      height: 37px;
      margin-top: 30px;
      text-transform: uppercase;
      width: 110px;
    }
  }
}

@media screen and (min-width: 1025px) {
  #newsletter {

    #thanks, #keep {
      bottom: 262px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #newsletter {
    section {
      height: 200px;

      .banner {
        top: -19px;
        width: 320px;
        display: none;
      }
    }

    p {
      bottom: 198px;
      left: 34%;
      line-height: 22px;
    }

    #thanks, #keep {
      left: 40%;
    }

    #subscribe {
      padding-bottom: 3px;
    }

    p {
      width: 700px;
      bottom: 0;
      left: 50%;
      top: 25px;
      margin-left: -350px;
    }

    .form-container {
      bottom: 0;
      float: none;
      left: 50%;
      margin-right: 0;
      padding-top: 5px;
      top: 45px;
      width: 700px;
      margin-left: -350px;

      label {
        font-size: 100%;

        &.error { font-size: 80%; }
      }

      .field {
        input {
          height: 25px;
          margin-top: 2px;
        }
      }

      .submit {
        height: 30px;
        margin-top: 23px;
      }
    }

  }
}


@media screen and (max-width: 767px) {

  #newsletter{
    &.sent {
      height: 130px;
    }

    section {
      height: auto;
      margin: 0 auto;
    }

    .banner {
      display: none;
    }

    p {
      line-height: 22px;
      width: 100%;

      &.small { margin-top: 0 }
    }

    p, .form-container {
      bottom: 0;
      left: 0;
      top: 8px;
    }

    .form-container {
      margin-top: 4px;
      width: 100%;

      .submit {
        float: none;
        margin-top: 60px;
        width: 100%;
      }

      .field {
        width: 83%;
        margin: 0 auto;
        display: block;

        input {
          height: 39px;
          margin-top: 0;
          padding-left: 10px;
          box-sizing: border-box;
          width: 100%;
        }

        &.name {
          margin-right: auto;
        }
      }
    }
  }

  #photo-gallery { margin-top: 30px; }

  #footer {
    .container {
      #copy-right{
        margin: 0;
        padding: 0;
      }
    }
  }
}
