.schedule-container {
  padding: 50px 25px 0;
  box-sizing: border-box;
  overflow: scroll;
}

.schedule-ta-c {
  text-align: center;
}

.small-stars {
  list-style: none;
  padding: 0;
  margin: 15px 0 0;

  @media (max-width: 767px) {
    display: none;
  }

  > li {
    margin: 0 5px;
    display: inline-block;
  }
}

.magma-legend {
  background: #e65253;
  margin: 10px 0;

  p {
    color: white;
    font-size: 21px;
    font-weight: 300;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
  }
}

.schedule-text-arena-magma {
  background: image_url('2015/sprite_magma_schedule.png') no-repeat -10px -15px;
  width: 201px;
  height: 21px;
  display: inline-block;
}

.schedule-red-star {
  background: image_url('2015/sprite_magma_schedule.png') no-repeat -10px -49px;
  width: 15px;
  height: 15px;
}

.schedule-yellow-star {
  background: image_url('2015/sprite_magma_schedule.png') no-repeat -35px -49px;
  width: 15px;
  height: 14px;
}

.schedule-keynote-star {
  background: image_url('2015/sprite_magma_schedule.png') no-repeat -59px -46px;
  width: 21px;
  height: 21px;
}

.schedule-table-header {
  background-color: #ebebeb;
  border-bottom: 2px solid #e65253;
  margin: 10px 0;
  min-height: 23px;
  padding: 10px 0 5px;
  width: 100%;

  &.es {
    img {
      height: 20px;
    }
  }
}

.schedule-table-time {
  color: #7E7B79;
  font-size: 100%;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.schedule-table-legend {
  letter-spacing: 1px;
  margin-left: 60px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.schedule-place-text {
  font-size: 25px;
  margin: 8px 0 0;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  color: #e65253;
  display: inline-block;
  position: relative;

  &:before, &:after {
    background: image_url('2015/sprite_magma_schedule.png') no-repeat -10px -49px;
    width: 15px;
    height: 15px;
    content: '';
    display: block;
    position: absolute;
    top: 4px;
  }

  &:before { left: -25px; }

  &:after { right: -25px; }
}

#schedule {
  background: #ebebeb;
  padding-top: 48px;

  .schedule-container {

    .bottom {
      border-bottom: 2px solid #e65253;

      .images {
        background-color: #ebebeb;
        height: 43px;
        text-align: center;
        margin: 24px auto -26px;
        width: 270px;
      }

      .register {
        max-height: 180px;
        margin: 100px auto 0px;
        width: 173px;
        .btn-register {
          bottom: 208px;
          margin-left: 11px;
          position: relative;
          img {
            height: 96px;
            width: 82px;
          }
        }
      }

      &.fixed {

        .line.opening {
          padding-top: 76px;
        }

        .schedule-table-header {
          max-width: 400px;
          position: fixed;
          top: 48px;
          width: 31.7%;
          z-index: 99;
        }
      }
    }
    .header {
      margin: 0 auto;
      width: 455px;
      .arena, .star {
        display: block;
        float: left;
      }
      .arena {
        margin: 0 14px;
      }
      .star {
        background: image_url('star.png');
        height: 20px;
        width: 21px;
      }
    }
    #right-mask {
      margin-top: 3px;
      text-align: right;
    }
    .right-stars li {
      margin-left: 12px;
    }
    .left-stars li {
      margin-right: 12px;
    }
    
    
    .day-image {
      margin: 0 auto;
      text-align: center;

      h2 {
        font-size: 32px;
        margin: 0;
        font-family: 'Teko', sans-serif;
        font-weight: 500;
        color: #e65253;
        display: inline-block;
        position: relative;

        &:before, &:after {
          background: image_url('2015/sprite_magma_schedule.png') no-repeat -35px -49px;
          width: 15px;
          height: 14px;
          content: '';
          display: block;
          position: absolute;
          top: 6px;
        }

        &:before { left: -25px; }

        &:after { right: -25px; }
      }
    }
    
    .line {
      border-bottom: 1px solid #ccc;
      padding: 14px 0;
      .speaker-name {
        font-family: 'Teko', sans-serif;
        font-size: 140%;
        margin: 0px 0px 6px 60px;
        text-transform: uppercase;
      }
      .link {
        color: inherit;
      }

      .time {
        color: #7E7B79;
        font-size: 100%;
        margin-left: 5px;
        text-align: center;
      }

      .talk-name {
        font-family: 'Open Sans', sans-serif;
        color: #7E7B79;
        font-weight: 400;
        font-size: 98%;
        margin-left: 60px;
        margin-top: 12px;
        &.en {
          margin-left: 90px;
          margin-bottom: 0px;
          margin-top: 0px;
        }
      }

      .schedule-language-image {
        display: block;
        background: image_url('2015/sprite_magma_schedule.png') no-repeat -59px -46px;
        float: left;
        width: 21px;
        height: 21px;
        margin-left: 60px;
        margin-right: 10px;
        &.sp {
          margin-left: 0;
        }
      }

      &.break, &.opening {

        .schedule-table-legend {
          font-family: 'Teko', sans-serif;
          font-size: 140%;
          text-transform: uppercase;
        }
      }

      &.announcements .schedule-table-legend {
        font-family: 'Teko', sans-serif;
        font-size: 20px;
      }

      &.talk, &.keynote {
        min-height: 86px;
      }
      &.opening {
        min-height: 30px;
      }
      &.double {
        min-height: 105px;
      }
      &.break {
        min-height: 20px;
      }
    }
    .keynote {
      .schedule-keynotes-image {
        background: image_url('2015/sprite_magma_schedule.png') no-repeat -90px -45px;
        width: 22px;
        height: 22px;
        margin-left: 60px;
        margin-right: 8px;
        float: left;
      }
      span {
        background: transparent;
        font-family: oswald;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;
        margin-left: 7px;
        margin-top: 5px;
        float: left;
      }
      span {
        float: left;
      }
      .schedule-language-image {
        margin-left: 0;
        margin-top: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .schedule-container {
    padding: 20px 10px 0;
  }

  .schedule-table-legend {
    margin-left: 30px;
  }
   
  .small-stars {
    > li:nth-child(even) {
      display: none;
    }
  }

  #schedule .schedule-container .day-image h2:before { left: -20px; }
  #schedule .schedule-container .day-image h2:after { right: -20px; }

  #schedule .schedule-container .line .speaker-name {
    margin: 0px 0px 6px 30px;
  }

  #schedule .schedule-container .line .schedule-language-image {
    display: none;
  }

  #schedule .schedule-container .keynote .schedule-keynotes-image {
    display: none;
  }

  #schedule .schedule-container .keynote span {
    margin-left: 30px;
    font-size: 16px;
  }

  #schedule .schedule-container .line .talk-name.en {
   margin-left: 30px;
  }

  #schedule .schedule-container .line.announcements .schedule-table-legend {
    font-size: 16px;
  }

  #schedule .schedule-container .line .talk-name {
    margin-left: 30px;
    font-size: 95%;
  }

  #schedule .schedule-container .line.double {
    min-height: 126px;
  }

  #schedule .schedule-container .line.talk {
    min-height: 126px;
  }

}

@media screen and (max-width: 767px)  {

  #schedule {
    padding-top: 20px;

    .schedule-container {
      width: 100%;
      padding: 0;

      &.fixed {

        .line.opening {
          padding-top: 20px;
        }

        #time .schedule-table-header {
          width: 100%;
        }

        .schedule-table-header {
          max-width: none;
          top: 40px;
          width: 100%;
        }

        .arrow {
          position: fixed;
        }

        #right {
          margin-bottom: 0;
          right: 0;
          top: 6px;
        }

        #left {
          top: 50px;
        }
      }
    }

    .header {
      width: 288px;

      .star, .arena {
        display: inline-block;
      }
      .star {
        background: image_url('sprite.svg');
        background-size: 174px 180px;
        background-position: -155px -142px;
        height: 15px;
        width: 15px;
      }
      .arena {
        width: 230px;
      }
    }
    .left-stars, #left-mask, #right-mask, .right-stars {
      display: none;
    }

    .magma-legend {
      margin: 15px auto;
      width: 292px;
    }

    .schedule-table-header {
      border-top: 0;
      padding: 8px 0 12px;
      &.es {
        padding-bottom: 10px;
      }
    }
    .bottom {
      display: none;
    }

    #time {
      background: #ebebeb;
      padding-left: 2%;
      width: 13%;
      z-index: 998;
    }

    .schedule-container .day-image {
      margin-left: -65px;
    }

    #wednesday, #thursday, #friday {
      background: #ebebeb;
      top: auto;
      width: 83%;
      z-index: 997;
    }

    #wednesday {
      position: relative;
    }

    #thursday, #friday {
      left: -100%;
      position: absolute;
    }

    .schedule-container .line {
      .schedule-table-legend, .speaker-name, .talk-name  {
        margin-left: 20px;
      }
      .speaker-name {
        margin-bottom: 5px;
        min-height: 0;
      }
      .talk-name {
        margin-top: 0px;
        &.en {
          margin-left: 20px;
        }
      }
      &.talk .schedule-language-image {
        display: none;
      }
      &.talk {
        min-height: 85px;
        padding-bottom: 0;
      }
      .speaker-name {
        color: #2f2c25;
      }

      &.keynote {
        min-height: 55px;
        padding-bottom: 0;

        .schedule-keynotes-image {
          margin-left: 20px;
          right: 26px;
        }

        .schedule-language-image {
          left: 52px;
          margin-left: 0px;
        }

        .schedule-keynotes-image, .schedule-language-image {
          float: right;
          position: relative;
          top: -29px;
        }

        span {
          float: none;
          font-size: 120%;
          margin-left: 20px;
        }
      }

      &.break { min-height: 20px; }
    }
    .arrow {
      background: image_url('arrows-sprite.svg') no-repeat;
      background-color: #ebebeb;
      background-size: 35px 175px;
      height: 30px;
      position: relative;
      width: 20px;
      z-index: 997;
    }

    #right {
      background-position: -7px -41px;
      display: inline-block;
      float: right;
      margin-top: 44px;
      margin-left: -8%;
      padding-right: 2%;
    }

    #left {
      background-position: -7px 1px;
      display: inline-block;
      left: 2%;
      top: 44px;
    }
  }
}

@media screen and (max-width: 430px) {
  #schedule .line.double {
    min-height: 85px;
  }
}

