.schedule-container {
  padding: 50px 25px 0;
  box-sizing: border-box;
  overflow-y: scroll;

  @include mq-laptop {
    padding: 20px 10px 0;
  }

  @include mq-tablet {
    width: 100%;
    position: relative;
    padding: 0;
  }
}

.small-stars {
  list-style: none;
  padding: 0;
  margin: 15px 0 0;

  @include mq-laptop {
    > li:nth-child(even) {
      display: none;
    }
  }

  @media (max-width: 767px) { display: none; }

  > li {
    margin: 0 5px;
    display: inline-block;
  }
}

.schedule-title {
  color: white;
  font-size: 21px;
  font-weight: 300;
  font-family: 'Teko', sans-serif;
  letter-spacing: 2px;
  line-height: 30px;
  margin: 10px auto;
  text-align: center;
  text-transform: uppercase;
  background: #e65253;
  box-sizing: border-box;
  padding: 0 10px;

  @include mq-tablet {
    margin: 15px auto;
    width: 292px;
  }
}

.schedule-text-arena-magma {
  background: image_url('2015/sprite_magma_schedule.png') no-repeat -10px -15px;
  width: 201px;
  height: 21px;
  display: inline-block;

  @include retina {
     background: image_url('2015/sprite_magma_schedule@2x.png') no-repeat -10px -15px;
     background-size: 220px 100px;
   }
 }

.schedule-red-star {
  background: image_url('2015/sprite_magma_schedule.png') no-repeat -10px -49px;
  width: 15px;
  height: 15px;

  @include retina {
    background: image_url('2015/sprite_magma_schedule@2x.png') no-repeat -10px -49px;
    background-size: 220px 100px;
  }
}

.schedule-table-header {
  background-color: #ebebeb;
  border-bottom: 2px solid #e65253;
  margin: 10px 0;
  min-height: 23px;
  padding: 10px 0 5px;
  width: 100%;
}

.schedule-time-legend {
  color: #7E7B79;
  font-size: 140%;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-weight: 300;
}

.schedule-table-legend {
  font-size: 140%;
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  letter-spacing: 1px;
  margin-left: 60px;
  margin-bottom: 0px;
  margin-top: 0px;

  @include mq-laptop {
    margin-left: 25px;
    font-size: 135%;
  }

  @include mq-tablet {
    margin-left: 20px;
  }
}

.schedule-place-container {
  background-color: #ebebeb;
  height: 43px;
  text-align: center;
  margin: 24px auto -26px;
  width: 270px;
}

.schedule-place-text {
  font-size: 25px;
  margin: 8px 0 0;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  color: #e65253;
  display: inline-block;
  position: relative;

  &:before, &:after {
    background: image_url('2015/sprite_magma_schedule.png') no-repeat -10px -49px;
    width: 15px;
    height: 15px;
    content: '';
    display: block;
    position: absolute;
    top: 4px;

    @include retina {
      background: image_url('2015/sprite_magma_schedule@2x.png') no-repeat -35px -49px;
      background-size: 220px 100px;
    }
  }

  &:before { left: -25px; }

  &:after { right: -25px; }
}

.schedule-footer {
  border-bottom: 2px solid #e65253;

  @include mq-tablet {
    display: none;
  }
}

.schedule-day-container {
  margin: 0 auto;
  text-align: center;

  @include mq-tablet { margin-left: -65px; }
}

.schedule-day-name {
  font-size: 32px;
  margin: 0;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  color: #e65253;
  display: inline-block;
  position: relative;

  &:before,
  &:after {
    background: image_url('2015/sprite_magma_schedule.png') no-repeat -35px -49px;
    width: 15px;
    height: 14px;
    content: '';
    display: block;
    position: absolute;
    top: 6px;

    @include retina {
      background: image_url('2015/sprite_magma_schedule@2x.png') no-repeat -35px -49px;
      background-size: 220px 100px;
    }
  }

  &:before {
    left: -25px;

    @include mq-laptop {
      left: -20px;
    }
  }

  &:after {
    right: -25px;

    @include mq-laptop {
      right: -20px;
    }
  }
}

.speaker-name {
  font-family: 'Teko', sans-serif;
  font-size: 140%;
  margin: 0px 0px 6px 60px;
  text-transform: uppercase;

  @include mq-laptop {
    margin: 0px 25px 6px 25px;
  }

  @include mq-tablet {
    margin-bottom: 5px;
    margin-left: 20px;
    min-height: 0;
  }
}

.talk-name {
  font-family: 'Open Sans', sans-serif;
  color: #7E7B79;
  font-weight: 400;
  font-size: 98%;
  margin-left: 60px;
  margin-top: 0;
  margin-bottom: 0;

  @include mq-laptop {
    margin-left: 25px;
    font-size: 95%;
  }

  @include mq-tablet {
    margin-left: 20px;
  }
}

.schedule-language-badge {
  display: block;
  background: image_url('2015/sprite_magma_schedule.png') no-repeat -59px -46px;
  float: left;
  width: 21px;
  height: 21px;
  margin-left: 60px;
  margin-right: 10px;

  @include retina {
    background: image_url('2015/sprite_magma_schedule@2x.png') no-repeat -59px -46px;
    background-size: 220px 100px;
  }

  @include mq-laptop {
    position: absolute;
    top: 10px;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  @include mq-tablet {
    float: right;
    position: relative;
    top: -29px;
  }

  &.es {
    display: none;
  }
}

.schedule-language-badge__in_keynote {
  margin-left: 0px;

  @include mq-tablet {
    top: -28px;
    left: 52px;
    float: right;
    position: relative;
  }
}

.schedule-keynote-legend {
  background: transparent;
  font-family: 'Teko', sans-serif;;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 7px;

  @include mq-laptop {
    margin-left: 30px;
  }

  @include mq-tablet {
    float: none;
    font-size: 120%;
    margin-left: 20px;
  }
}

.schedule-keynote-badge {
  background: image_url('2015/sprite_magma_schedule.png') no-repeat -90px -45px;
  width: 22px;
  height: 22px;
  margin-left: 60px;
  margin-right: 8px;
  float: left;

  @include retina {
    background: image_url('2015/sprite_magma_schedule@2x.png') no-repeat -90px -45px;
    background-size: 220px 100px;
  }

  @include mq-laptop {
    position: absolute;
    top: 10px;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  @include mq-tablet {
    float: right;
    position: relative;
    margin-left: 20px;
    right: 0px;
    top: -29px;
  }
}

.schedule-table-row {
  border-bottom: 1px solid #ccc;
  padding: 14px 0;
}

.schedule-table-row__small {
  min-height: 20px;
}

.schedule-table-row__normal {
  min-height: 86px;

  @include mq-laptop {
    position: relative;
    min-height: 66px;
  }

  @include mq-tablet {
    min-height: 50px;
  }
}

.schedule-table-row__big {
  min-height: 106px;

  @include mq-laptop {
    min-height: 146px;
  }

  @include mq-tablet {
    min-height: 65px;
  }

  @media screen and (max-width: 430px) {
    min-height: 86px;
  }
}

.schedule-table-col-time {
  @include mq-tablet {
    background: #ebebeb;
    width: 17% !important;
    z-index: 997;
    position: absolute;
  }
}

.schedule-table-col-first-day,
.schedule-table-col-second-day,
.schedule-table-col-third-day {
  @include mq-tablet {
    background: #ebebeb;
    top: auto;
    width: 83% !important;
    z-index: 996;
  }
}

.schedule-table-col-first-day {
  @include mq-tablet {
    position: relative;
    margin-left: 17%;
  }
}

.schedule-table-col-second-day,
.schedule-table-col-third-day {
  @include mq-tablet {
    left: -100%;
    position: absolute;
  }
}

.schedule-arrow-next,
.schedule-arrow-prev {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 100px;
  width: 40px;
  z-index: 998;

  @include mq-tablet {
    display: block;
  }
}

.schedule-arrow-next {
  right: 0px;
}

.schedule-arrow-prev {
  left: 5px;
}

.schedule-arrow-line {
  @include mq-tablet {
    width: 3px;
    background: #e65253;
    height: 20px;
  }
}

.schedule-arrow-next__right {
  @include mq-tablet {
    -webkit-transform: rotate(-45deg) translateX(7px) translateY(5px);
    transform: rotate(-45deg) translateX(7px) translateY(5px);
  }
}

.schedule-arrow-next__left {
  @include mq-tablet {
    -webkit-transform: rotate(45deg) translate(0px, -12px);
    transform: rotate(45deg) translate(0px, -12px);
  }
}



.schedule-arrow-prev__right {
  @include mq-tablet {
    -webkit-transform: rotate(45deg) translate(9px, -11px);
    transform: rotate(45deg) translate(9px, -11px);
  }
}

.schedule-arrow-prev__left {
  @include mq-tablet {
    -webkit-transform: rotate(-45deg) translate(16px, 4px);
    transform: rotate(-45deg) translate(16px, 4px);
  }
}

#schedule {
  background: #ebebeb;
  padding-top: 48px;

  .schedule-container {
    &.fixed {
      padding-top: 110px ;

      .schedule-table-header {
        position: fixed;
        margin: 0;
        top: 47px;
        width: 20%;
        z-index: 99;
      }
    }
  }
}

@media screen and (max-width: 767px)  {

  #schedule {
    padding-top: 20px;

    .schedule-container {
      &.fixed {

        .schedule-table-col-time .schedule-table-header { width: 100%; }

        .schedule-table-header {
          max-width: none;
          top: 40px;
          width: 100%;
        }

        .arrow { position: fixed; }

        #right {
          margin-bottom: 0;
          right: 0;
          top: 6px;
        }

        #left { top: 50px; }
      }

    }

    .arrow {
      background: image_url('arrows-sprite.svg') no-repeat;
      background-color: #ebebeb;
      background-size: 35px 175px;
      height: 30px;
      position: relative;
      width: 20px;
      z-index: 998;
    }

    #right {
      background-position: -7px -41px;
      display: inline-block;
      float: right;
      margin-top: 44px;
      margin-left: -8%;
      padding-right: 2%;
    }

    #left {
      background-position: -7px 1px;
      display: inline-block;
      left: 2%;
      top: 44px;
    }
  }
}
