.keynote-star {
  @extend .oswald;
  color: $curious-blue;
  font-size: 15px;
  text-transform: uppercase;
  &:before {
    background-image: image_url('2017/keynote_star.png');
    content: '';
    display: inline-block;
    height: 26px;
    left: -3px;
    position: relative;
    top: 6px;
    width: 25px;
  }
}

#keynotes .normal-box img{
  width: 200px;
  height: 200px;
}

#keynotes,
#speaker-cards {
  .accordion-group {
    display: none;
  }

  > .content { margin-top: 68px; }
}

#keynotes,
#speaker-cards {
  .center img {
    margin-top: 20px;
  }
}

#speaker-cards {

  .normal-box img{
    width: 150px;
    @include mq(768px){
      width: 140px;
      height: 140px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .pure-g-r {

    .content {
      max-width: 1201px !important;
    }
  }

  .speakers-title {
    height: 100px;
  }

  padding-bottom: 30px;
  margin-bottom: 40px;
}

/* flip cards logic */
.speaker-box {
  @extend .pure-u-1-4, .teko;
  @include mq(1024px){ width: 33%; }
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  height: 230px;
  margin-bottom: 65px;
  &.keynote{
    .bio{ height: 250px; }
    width: 50%;
  }
}

@-moz-document url-prefix() {
  .luchador-name-md, .luchador-nickname-md, .luchador-keynote, .more{ transition: opacity 0.2s 0.2s; }

  .speaker-box.flipped .normal-box{
    .masked, .unmasked{ opacity: 0 !important; }
    .luchador-name-md, .luchador-nickname-md, .luchador-keynote, .more{ opacity: 0 !important; }
  }
}

.speaker-box-large{
  @extend .speaker-box, .pure-u-1-2, .teko;
  .flipper .big-box .twin-image{
    display: inline-block;
    width: 150px;
    margin: 0 10px;
    position: relative;

    .unmasked{
      top: 0;
      left: 0;
    }
  }
}

.luchador-name-md {
  @extend .oswald;
  color: $stratos;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: -0.7px;
  text-transform: uppercase;

  @include mq(768px) {
    font-size: 22px; 
    line-height: 30px;
  }
}

.luchador-name-lg {
  @extend .luchador-name-md, .oswald;
  color: $stratos;
  font-size: 25.2px;
  font-weight: bold;
  letter-spacing: -0.8px;
}

.luchador-nickname-md {
  @extend .lato, .lh-25, .tt-u;
  color: $boulder;
  font-size: 15px;
  font-weight: 300;

  @include mq(768px) { font-size: 20px; }

  &:before, &:after {
    background-image: image_url('2015/Star.svg');
    content: '';
    display: inline-block;
    height: 15px;
    margin: 0 6px -1px;
    width: 15px;
  }
}

.luchador-nickname-lg {
  @extend .lato, .fz-18;
  color: $boulder;
  font-weight: 300;
  text-transform: uppercase;

  &:before, &:after {
    background-image: image_url('2015/Star.svg');
    background-size: 18px;
    content: '';
    display: inline-block;
    height: 18px;
    margin: 0 6px -1px;
    width: 18px;
  }

}

.more {
  @extend .lato;
  color: $bittersweet;
  cursor: pointer;
  font-size: 11px;
  font-weight: 300;
}

.bio {
  @extend .opens;
  font-size: 11px;
  font-weight: 300;
  height: 153px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  overflow: auto;
  padding: 10px 10px;
  padding-left: 20px;
}

.speaker-box.flipped .flipper,
.speaker-box-large.flipped .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

.normal-box {
  background-color: transparent;
  position: relative;
  transition: background-color 0.6s;
  img { transition: opacity 0.7s; }

  .masked{
    opacity: 1;
    &.overflow-8{ margin-top: -11px; }
    &.overflow-13{ margin-top: -13px; }
    &.overflow-15{ margin-top: -15px; }
  }

  .unmasked{
    left: 30px;
    opacity: 0;
    position: absolute;
    top: 9px;
    @include mq(768px){ left: 10px; }
  }

  .more{
    opacity: 0;
    transition: opacity 0.6s;
  }
}

.speaker-box:hover .normal-box{
  background-color: $white;
  cursor: pointer;
  .masked{ opacity: 0; }
  .more, .unmasked{ opacity: 1; }
}

.flipper {
  margin: 0 auto;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  position: relative;

  .normal-box,
  .info-box, {
    min-height: 250px;
    text-align: center;
    padding-top: 9px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .big-box{
    @extend .normal-box;
    left: 0;
    max-width: 100% !important;
    position: relative;
    width: 450px;
  }

  .info-box.big{
    margin-left: -225px;
    max-width: 100% !important;
    width: 450px;
  }
}

.flipper-lg {
  @extend .flipper;
  .normal-box, .info-box {
    height: 340px;
    margin-left: -115px;
    width: 230px;
  }

  .normal-box .unmasked{ left: 15px; }
}

.flipper-md {
  @extend .flipper;
  .normal-box, .info-box {
    @include mq(768px){
      margin-left: -80px;
      width: 160px;
    }
    height: 260px;
    margin-left: -100px;
    width: 210px;
  }
}

.normal-box {
  z-index: 2;
}

.normal-box,
.info-box {
  margin: 0 auto;
  max-width: 236px;
  box-sizing: border-box;
}

.info-box {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);

  background-color: $white;
}
/* end of flip cards */

#keynotes {
  height: auto;
}


#registration {
  background-color: #312926;

  .top-box {
    text-align: center;
  }

  .btn-register {
    margin-bottom: 0px;
    padding-left: 25px;
    top: -71px;
    img {
      height: 100px;
    }
  }
  .shadow {
    display: block;
    left: 46px;
    margin-bottom: -69px;
    position: relative;
    top: 64px;
  }
  .social {
    margin: 0 auto;
    overflow: hidden;
    width: 170px;
    a {
      width: 47px;
      height: 32px;
      padding-top: 15px;
      float: left;
      background: $social-bkg;
      border-radius: 50%;
      &.twitter {
        margin: 0 8% 0;
      }
      &:hover {
        background: $social-hover;
      }
    }
    .facebook:hover i {
      background-position: -68px -50px;
    }

    .twitter:hover i {
      background-position: -132px -50px;
    }

    .google:hover i {
      background-position: -198px -50px;
    }
  }
}

@media screen and (max-width: 767px) {

  #keynotes {
    height: initial;

    .accordion-heading .luchador-name-md:before {
      background-image: image_url('2015/keynote.svg');
      height: 22px;
      margin: 0 4px;
      width: 22px;
    }
  }

  .luchador-name-md {
    @extend .oswald, .lh-25;
    color: $stratos;
    display: inline-block;
    font-size: 21px;
    margin: 0;

    &:before, &:after{
      background-image: image_url('2015/Star.svg');
      content: '';
      display: inline-block;
      height: 15px;
      margin: 0 6px 3px;
      width: 15px;
    }
  }

  .luchador-nickname-md {
    display: inline-block;
    position: relative;
    top: -3px;

    &:before, &:after{ content: none; }
  }

  .bio{
    height: auto;
    max-height: 180px;
    font-size: 14px;
    margin: 20px 0;
    padding: 0;
  }

  .speaker-box, .speaker-box-large{
    height: auto;
    margin-bottom: 0;
    width: 100% !important;
  }

  #keynotes, #speaker-cards {

    > .content { margin-top: 0; }

    .flipper { display: none;  }

    .accordion-heading.active {
      .arrow {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        background-position: 9px 7px;
      }

      .luchador-name-md, .luchador-nickname-md{ display: none; }
    }

    .accordion-group {
      border-bottom: 2px solid $alto;
      display: block;

      .arrow {
        background: image_url('2015/down_arrows.svg') no-repeat;
        background-size: 17px;
        background-position: 4px 5px;
        display: inline-block;
        width: 30px;
        height: 30px;
        float: right;
      }

      .accordion-heading {
        height: 30px;
        padding: 10px 0;
      }

      .accordion-body {
        display: none;
        text-align: center;
        padding: 4px 20px 20px;

        img {
          width: 150px;
          display: block;
          margin: 0 auto 17px;
        }
      }
    }
  }

  #keynotes .speaker-box:first-child .accordion-group{
    border-top: 2px solid $alto;
  }

  #keynotes .speaker-box .accordion-body .bio{
    height: 180px;
  }
}

//iPhone 5 styles

@media screen and (max-width: 320px) {

  .luchador-name-md{
    font-size: 18px;
  }

  .luchador-nickname-md{
    font-size: 16px;
  }

}

.company-name {
  @extend .oswald;
  border-top: 2px solid $bittersweet;
  bottom: 0;
  font-size: 13px;
  left: 5%;
  margin: 0 auto;
  padding: 10px 0;
  position: absolute;
  text-transform: uppercase;
  width: 90%;
}

.close-icon {
  color: $alto2;
  float: right;
  font-size: 60px;
  font-weight: 300;
  position: relative;
  right: 5px;
  top: -30px;

  &:hover {
    cursor: pointer;
  }
}

.speaker-img {
  height: auto !important;
}

.reylero-sponsor {
  height: auto !important;
}
