@import '../base/variables.css.scss';

.keynote-star {
}



#keynotes,
#speaker-cards {
  .accordion-group {
    display: none;
  }
}

#keynotes,
#speaker-cards {
  .center img {
    margin-top: 20px;
  }
}

#speaker-cards {

  .pure-g-r {
    height: 230px;

    .content {
      max-width: 1201px !important;
    }
  }

  .speakers-title {
    height: 100px;
  }

  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 40px;
}

/* flip cards logic */
.speaker-box {
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
}

.speaker-box:hover .flipper,
.speaker-box.hover .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.flipper {
  margin: 0 auto;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  position: relative;

  .normal-box,
  .info-box {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -118px;
  }
}

.normal-box {
  z-index: 2;
}

.normal-box,
.info-box {
  margin: 0 auto;
  max-width: 236px;
  padding: 11px 14px 15px;
  box-sizing: border-box;
}

.info-box {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);

  background-color: $white;
}
/* end of flip cards */

#keynotes {
  height: 340px;
}


#registration {
  background-color: #312926;

  .top-box {
    text-align: center;
  }

  .btn-register {
    margin-bottom: 0px;
    padding-left: 25px;
    top: -71px;
    img {
      height: 100px;
    }
  }
  .shadow {
    display: block;
    left: 46px;
    margin-bottom: -69px;
    position: relative;
    top: 64px;
  }
  .social {
    margin: 0 auto;
    overflow: hidden;
    width: 170px;
    a {
      width: 47px;
      height: 32px;
      padding-top: 15px;
      float: left;
      background: $social-bkg;
      border-radius: 50%;
      &.twitter {
        margin: 0 8% 0;
      }
      &:hover {
        background: $social-hover;
      }
    }
    .facebook:hover i {
      background-position: -68px -50px;
    }

    .twitter:hover i {
      background-position: -132px -50px;
    }

    .google:hover i {
      background-position: -198px -50px;
    }
  }
}

