.keynote-star:before {
  content: '';
  width: 22px;
  height: 22px;
  display: inline-block;
  background-image: image_url('2015/keynote.svg');
  position: relative;
  left: -3px;
  top: 4px;
}

#keynotes .normal-box img{
  width: 200px;
  height: 200px;
}

#keynotes,
#speaker-cards {
  .accordion-group {
    display: none;
  }

  > .content { margin-top: 68px; }
}

#keynotes,
#speaker-cards {
  .center img {
    margin-top: 20px;
  }
}

#speaker-cards {

  .normal-box img{
    width: 150px;
    height: 150px;
    @include mq(768px){
      width: 140px;
      height: 140px;
    }
  }

  .pure-g-r {

    .content {
      max-width: 1201px !important;
    }
  }

  .speakers-title {
    height: 100px;
  }

  padding-bottom: 30px;
  margin-bottom: 40px;
}

/* flip cards logic */
.speaker-box {
  @extend .pure-u-1-4, .teko;
  @include mq(1024px){ width: 33%; }
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  height: 230px;
  margin-bottom: 65px;
  &.keynote{ width: 50%; }
}

.speaker-box-large{
  @extend .speaker-box, .pure-u-1-2, .teko;
  .flipper .big-box .twin-image{
    display: inline-block;
    width: 150px;
    margin: 0 10px;
    position: relative;

    .unmasked{
      top: 0;
      left: 0;
    }
  }
}

.speaker-box.flipped .flipper,
.speaker-box-large.flipped .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.normal-box{
  position: relative;
  transition: background-color 0.6s;
  background-color: transparent;
  img{ transition: opacity 0.7s; }
  .masked{ opacity: 1; }
  .unmasked{
    position: absolute;
    opacity: 0;
    top: 9px;
    left: 25px;
    @include mq(768px){ left: 10px; }
  }

  .more{
    transition: opacity 0.6s;
    opacity: 0;
  }
}

.speaker-box:hover .normal-box{
  background-color: $white;
  .masked{ opacity: 0; }
  .more, .unmasked{ opacity: 1; }
}

.flipper {
  margin: 0 auto;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  position: relative;

  .normal-box,
  .info-box, {
    min-height: 250px;
    text-align: center;
    padding-top: 9px;

    .luchador-name-md{
      @extend .c-mndy, .fw-r, .lh-35, .mt-10, .fz-30, .tt-u;
      @include mq(768px){ font-size: 25px; }
    }

    .luchador-name-lg{
      @extend .luchador-name-md, .fz-40;
    }

    .luchador-nickname-md{
      @extend .c-bldr, .fz-24, .fw-r, .lh-25, .tt-u;
      @include mq(768px){ font-size: 20px; }

      &:before, &:after{
        content: '';
        width: 15px;
        height: 15px;
        display: inline-block;
        margin: 0 6px 0;
        background-image: image_url('2015/Star.svg');
      }
    }

    .luchador-nickname-lg{
      @extend .luchador-nickname-md, .fz-32;

      &:before, &:after{
        background-size: 18px;
        width: 18px;
        height: 18px;
      }
    }

    .more{
      @extend .opens, .fz-12, .fw-r, .c-bldr;
      cursor: pointer;
    }
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .big-box{
    @extend .normal-box;
    max-width: 100% !important;
    width: 450px;
    left: 0;
    position: relative;
  }

  .info-box.big{
    max-width: 100% !important;
    width: 450px;
    margin-left: -225px;
  }
}

.flipper-lg {
  @extend .flipper;
  .normal-box, .info-box {
    width: 230px;
    height: 364px;
    margin-left: -115px;
  }

  .normal-box .unmasked{ left: 15px; }
}

.flipper-md {
  @extend .flipper;
  .normal-box, .info-box {
    @include mq(768px){
      width: 160px;
      margin-left: -80px;
    }
    width: 200px;
    height: 250px;
    margin-left: -100px;
  }
}

.normal-box {
  z-index: 2;
}

.normal-box,
.info-box {
  margin: 0 auto;
  max-width: 236px;
  box-sizing: border-box;
}

.info-box {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);

  background-color: $white;
}
/* end of flip cards */

#keynotes {
  height: 340px;
}


#registration {
  background-color: #312926;

  .top-box {
    text-align: center;
  }

  .btn-register {
    margin-bottom: 0px;
    padding-left: 25px;
    top: -71px;
    img {
      height: 100px;
    }
  }
  .shadow {
    display: block;
    left: 46px;
    margin-bottom: -69px;
    position: relative;
    top: 64px;
  }
  .social {
    margin: 0 auto;
    overflow: hidden;
    width: 170px;
    a {
      width: 47px;
      height: 32px;
      padding-top: 15px;
      float: left;
      background: $social-bkg;
      border-radius: 50%;
      &.twitter {
        margin: 0 8% 0;
      }
      &:hover {
        background: $social-hover;
      }
    }
    .facebook:hover i {
      background-position: -68px -50px;
    }

    .twitter:hover i {
      background-position: -132px -50px;
    }

    .google:hover i {
      background-position: -198px -50px;
    }
  }
}

