@-moz-document url-prefix(){
 .sponsors{ min-height: 1025px; }
}

.main-sponsor {
  float: left;
  width: 33.3%;
  @media screen and (max-width: 767px) { width: 100%; }
  &.right {
    float: right;
  }
}

.sponsor {
  float: left;
  width: 25%;
  @media screen and (min-width: 769px) and (max-width: 1300px){
    margin: 40px 0;
    width: 50%;
  }

  @media screen and (min-width: 468px) and (max-width: 768px) {
    margin: 40px 0;
    margin-bottom: 0;
    width: 33.3%;
  }

  @media screen and (max-width: 468px) {
    clear: both;
    width: 100%;
  }
}

.logo-sp {
  display: block;
  margin: 0 auto;
  background-size: cover;
  @include mq-tablet { margin-top: 30px; }
}

.sponsor-logo-link {
  outline: none;
  &:focus { outline: none; }
}

.sponsor-logo__big {
  height: 227px;
  width: 227px;

  @media only screen and (min-width: 1024px) and (max-width: 1151px) {
    height: 225px;
    width: 225px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    height: 150px;
    width: 150px;
  }

  @include mq-mobile {
    height: 202px;
    width: 202px;
  }
}

.sponsor-logo__medium {
  height: 182px;
  width: 182px;

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    height: 110px;
    width: 110px;
  }

  @media only screen and (min-width: 468px) and (max-width: 767px) {
    height: 182px;
    width: 182px;
  }

  @media only screen and (max-width: 468px) { 
    height: 170px;
    width: 170px;
  }
}

.sponsor-logo__small {
  width: 177px;
  height: 191px;
}

.sponsor-logo-magmalabs {
  background-image: url('2017/sponsors/magmalabs-sponsor@2x.png');
  @include retina { background-image: url('2017/sponsors/magmalabs-sponsor@2x.png'); }
  &:hover {
    background-image: url('2017/sponsors/magmalabs-sponsor-hover@2x.png');
  }
}

.sponsor-logo-ccolima {
  background-image: url('2017/sponsors/cc_blue.png');
  &:hover {
    background-image: url('2017/sponsors/cc_red.png');
  }
}

.sponsor-logo-density-labs {
  background-image: url('2017/sponsors/density_labs.png');
  @include retina { background-image: url('2017/sponsors/density_labs.png'); }
  &:hover {
    background-image: url('2017/sponsors/density_labs_red.png');
  }
}

.sponsor-logo-cookpad {
  background-image: url('2017/sponsors/cookpad.png');
  @include retina { background-image: url('2017/sponsors/cookpad.png'); }
  &:hover {
    background-image: url('2017/sponsors/cookpad-hover.png');
  }
}

.sponsor-logo-your-logo {
  background-image: url('2017/sponsors/your-logo@2x.png');
  @include retina { background-image: url('2017/sponsors/your-logo@2x.png'); }
  &:hover {
    background-image: url('2017/sponsors/your_logo-hover@2x.png');
  }
}

.sponsor-logo-or-here {
  background-image: url('2017/sponsors/or-here@2x.png');
  @include retina { background-image: url('2017/sponsors/or-here@2x.png'); }
  &:hover {
    background-image: url('2017/sponsors/or-here-hover@2x.png');
  }
}

.sponsor-logo-github {
  background-image: url('2017/sponsors/git-hub@2x.png');
  @include retina { background-image: url('2017/sponsors/git-hub@2x.png'); }
  &:hover {
    background-image: url('2017/sponsors/git-hub-hover@2x.png');
  }
}

.sponsor-logo-ardan-labs {
  background-image: url('2017/sponsors/ardan-labs@2x.png');
  @include retina { background-image: url('2017/sponsors/ardan-labs@2x.png'); }
  &:hover {
    background-image: url('2017/sponsors/ardan-labs-hover@2x.png');
  }
}

.sponsor-logo-sg {
  background-image: url('2017/sponsors/guru-logo@2x.png');
  @include retina { background-image: url('2017/sponsors/guru-logo@2x.png'); }
  &:hover {
    background-image: url('2017/sponsors/guru-logo-hover@2x.png');
  }
}

.sponsor-logo-travis {
  background-image: url('2017/sponsors/travis-ci@2x.png');
  @include retina { background-image: url('2017/sponsors/travis-ci@2x.png'); }
  &:hover {
    background-image: url('2017/sponsors/travis-ci-hover@2x.png');
  }
}

.sponsor-logo-wix {
  background-image: url('2017/sponsors/wix-logo@2x.png');
  @include retina { background-image: url('2017/sponsors/wix-logo@2x.png'); }
  &:hover {
    background-image: url('2017/sponsors/wix-logo-hover@2x.png');
  }
}

.sponsor-logo-placeholder__medium {
  background-image: url('2017/sponsors/your_logo_could@2x.jpg');
  @include retina { background-image: url('2017/sponsors/your_logo_could@2x.jpg'); }
}

.sponsor-logo-placeholder__small {
  background-image: url('2017/sponsors/or_here@2x.jpg');
  @include retina { background-image: url('2017/sponsors/or_here@2x.jpg'); }
}

.sponsor-logo-contact-button {
  background-image: url('2017/sponsors/contact_sponsor@2x.jpg');
  @include retina { background-image: url('2017/sponsors/contact_sponsor@2x.jpg'); }
}
//Media sponsors
.stickermule {
  background-image: url('2017/sponsors/stickermule.png');
}

.m-sponsor {
  float: left;
  width: 33.3%;
}

.centered {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
