.tide {
  border-bottom: 2px solid $alto;

  @include mq-mobile { border-bottom: none; }

  @media screen and (max-width: 1024px){
    > div{ width: 100%; }
  }
}

.tide-image-container {
  position: relative;
  overflow: hidden;
  height: 348px;

  @include mq-mobile { height: auto; }
}

.tide-image-container-small {
  height: 348px;

  @include mq-mobile {
    height: auto;
  }
}

.tide-text-container {
  &:before {
    content: " ";
    display: inline-block;
    height: 348px;
    vertical-align: middle;

    @media (min-width: 768px) and (max-width: 1024px) { 
      height: 200px;
    }

    @media (min-width: 568px) and (max-width: 768px) {
      height: auto;
    }

    @include mq-mobile { display: none; }
  }
}

.tide-text {
  display: inline-block;
  vertical-align: middle;
  width: 98%;
  box-sizing: border-box;

  @include mq-mobile { width: 100%; }
}

.tide-image { max-width: 100% !important; }

.tide-text a {
  color: $mandy;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}
