.share-buttons
  %a.share-via-facebook{ href: "#", data: { photo: data.id } }
    %i.icon-facebook
  %a.share-via-twitter{ href: "https://twitter.com/intent/tweet?text=#{data.title}&url=#{CGI.escape data.url}&via=magmaconf"}
    %i.icon-twitter
