.share-buttons
  %a.share-via-facebook{ href: "https://twitter.com/intent/retweet?tweet_id=480341416048996352"}
    %i.icon-facebook
  %a.share-via-twitter{ href: "https://twitter.com/intent/tweet?text=#{photo.title}&url=#{CGI.escape photo.url}&via=magmaconf"}
    %i.icon-twitter
