.twitter-share-buttons
  %a.share-via-twitter{ href: "https://twitter.com/intent/favorite?tweet_id=#{tweet.id}"}
    %i.icon-twitter
  %a.share-via-twitter{ href: "https://twitter.com/intent/retweet?tweet_id=#{tweet.id}"}
    %i.icon-twitter
  %a.share-via-twitter{ href: "https://twitter.com/#{tweet.username}/status/#{tweet.id}"}
    %i.icon-twitter
