.twitter-share-buttons
  %a.twitter-favorite-button{ href: "https://twitter.com/intent/favorite?tweet_id=#{tweet.id}"}
  %a.twitter-retweet-button{ href: "https://twitter.com/intent/retweet?tweet_id=#{tweet.id}"}
  %a.twitter-replay-button{ href: "https://twitter.com/#{tweet.username}/status/#{tweet.id}"}
