.speakers
  %section.speakers-wrapper.wrapper
    = image_tag 'infographic/speakers.png', class: 'text-image speakers-text'
    %ul
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker.is-desktop
      %li.speaker.is-desktop
      %li.speaker.is-desktop
      %li.speaker.is-desktop
      %li.speaker.is-desktop
    %ul
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
      %li.speaker
