@media screen and (max-width: 767px) {
  @include grid_generator;

  #footer {

    .footer-legend {

      .open-popup {
        display: none;
      }

      .policy-page {
        display: inline-block;
      }
    }
  }

  #harassment .close-popup {
    display: none;
  }

}
