@media screen and (min-width: 768px) and (max-width: 1199px) {
  @include grid_generator($gm-column, $gm-gutter);

  @include grid_offset($gm-column, $gm-gutter);

  @include grid_centered($gm-column, $gm-gutter);
  
  #accommodations {
    #beach-image {
      img {
        padding-left: 0;
      }
    }
    
    #description {
      .btn-cfp {
        top: 178px;
        left: 260px;
      }
    }
  }
  
  #blog {
    .btn-cfp {
      margin-right: 80px;
    }
    
    p {
      right: 280px;
    }
  }

}
