@media screen and (min-width: 768px) and (max-width: 1024px) {
  @include grid_generator($gm-column, $gm-gutter);

  @include grid_offset($gm-column, $gm-gutter);

  @include grid_centered($gm-column, $gm-gutter);


  #main-section {
    padding-top: 40px;
    .container {
      background-position: -199px -107px;
      .center {
        .shadow {
          left: 43px;
        }
      }
      .left {
        #reylero {
          margin-top: 201px;
        }
      }
    }
  }

  #newsletter {
    section {
      height: 150px;
      .banner {
        top: -26px;
        width: 431px;
      }
    }

    p {
      bottom: 198px;
      left: 34%;
      line-height: 22px;
      &.small {
        font-size: 100%;
      }
      &.big {
        font-size: 155%;
      }
    }

    #thanks, #keep {
      left: 40%;
    }

    #subscribe {
      padding-bottom: 3px;
    }

    .form-container {
      bottom: 180px;
      float: none;
      left: 34%;
      margin-right: 0;
      padding-top: 5px;

      label {
        font-size: 100%;
      }

      .field input {
        height: 25px;
        margin-top: 2px;
      }

      .submit {
        height: 30px;
        margin-top: 21px;
      }
    }

  }

  #accommodations {
    #beach-image {
      img {
        padding-left: 0;
      }
    }

    #description {
      .btn-cfp {
        top: 178px;
        left: 260px;
      }
    }
  }

  #footer {
    padding: 20px 0 10px;
    #copy-right {
      a {
        margin-bottom: -5px;
      }
      .title {
        margin-left: 90px;
        p:first-child {
          padding-left: 0;
        }
      }
    }
  }

  #speakers {
    .illustration img {
      left: -60px;
      top: 0px;
      width: 398px;
    }

    #presentation {
      font-size: 150%;
    }

    .invitation {
      text-align: center;
      max-width: 310px !important;
    }
  }

  #about-magma {

    .heading {
      font-size: 20px;

      img {
        bottom: -60px !important;
        left: -132px !important;
        width: 350px;
      }
    }

    .invitation {
      width: 412px;
    }

    .btn-register.small {
      margin-left: 0px !important;
    }
  }

  #sponsoring {
    padding-top: 90px;
    .heading {
      font-size: 26px;
    }

    .big-sponsor-box {
      height: 220px;
      width: 220px;

      .sponsor-link {
        height: 220px;
      }

      #crowdint {
        padding: 68px 22px;
      }

      #github{
        padding: 52px 44px;
      }

      span {
        left: 20px;
        top: 90px;
      }
    }
    .normal-box {
      top: 40px;
      width: 105px;
      height: 105px;

      #honey-badger {
        padding: 37px 13px;
      }

      #engine {
        padding: 44px 11px;
        width: 80%;
      }

      span {
        top: 40px;
        width: 100px;
      }
    }
  }

  #schedule {
    .container {
      width: 95%;

      &.fixed .head {
        padding-top: 17px;

        &.es {
          padding-top: 15px;
        }
      }
    }
    #magma-legend p {
      font-size: 85%;
    }
    .small-stars {
      margin-top: 28px;
    }
    #right-mask{
      margin-left: 3px;
      margin-right: -9px;
    }
    #left-mask, #right-mask {
      margin-top: 10px;
    }
    .row {
      .language-image.en {
        width: 26px;
        height: 26px;
        margin-right: 0;
        margin-left: 21px
      }
      .speaker-name {
        margin-left: 25px;
      }
      .talk-name.en {
        margin-left: 53px;
        max-width: 175px;
      }
      &#keynote {
        div:last-child {
          .speaker-name, .keynotes-image {
            margin-left: 27px;
          }
        }
        .keynotes-image {
          width: 26px;
          height: 26px;
        }
      }
      div:last-child {
        .talk-name {
          margin-left: 27px;
          &.en {
            margin-left: 63px;
          }
        }
        .speaker-name {
          margin-left: 27px;
        }
        .language-image.en {
          margin-left: 24px;
        }
        .talk-name.en {
          margin-left: 59px;
        }
      }

      &.break {
        .legend {
          margin-left: 25px;
        }
        div:last-child .legend {
          margin-left: 27px;
        }
      }
      &.announcements {
        div:last-child .legend {
          margin-left: 26px;
          width: 180px;
        }
        .legend {
          margin-left: 25px;
        }
      }
    }
  }

  #accommodations{
    padding-top: 80px;
    #heading .container {
      font-size: 200%;
      width: 100%
    }
    #village-info {
      height: 614px;

      #village-image {
        height: 614px;
        width: 614px;
      }

      .description-text {
        width: 355px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 915px) {
  #newsletter {
    section {
      height: 165px;

      .banner {
        top: -28px;
        width: 472px;
      }
    }

    #thanks, #keep {
      left: 53%;
    }

    p {
      bottom: 197px;
      left: 45%;
      width: 410px;
    }

    #stay-up {
      display: none;
    }

    .form-container {
      bottom: 163px;
      left: 45%;
      margin-top: -32px;
      width: 410px;

      .submit {
        margin-top: 9px;
      }

      .field {
        &.name {
          margin-right: 10px;
        }
        input {
          width: 186px;
        }
      }
    }
  }

  #footer {
    .anti h3 {
      font-size: 95%;
    }
  }

  #accommodations{
    #heading{
      .container {
        font-size: 165%;
        .btn-register.small {
          margin-left: 35px;
        }
      }
      #beach-image {
        margin-top: 115px;
      }
    }

    .shadow.small {
      right: -18px;
    }
    #village-info {
      height: 461px;

      #village-image {
        height: 461px;
        width: 461px;
      }

      #description {
        .btn-register {
          height: 100px;
          left: 46px;
          padding: 12px 13px;
          top: 25px;
          width: 105px;
          img {
            max-width: 72px;
            width: 72px;
          }
        }
        .shadow {
          margin-bottom: 70px;
          right: 63px;
          top: 39px;
          width: 120px;
        }
        .description-text {
          margin-top: 12px;
          width: 265px;
        }
      }
    }
  }
  #main-menu {
    ul li {
      padding: 0 10px;
    }
  }
  #sponsoring {
    padding-top: 100px;
    .illustration {
      left: -130px;
    }
  }

  #schedule .line{
    &.talk, &.keynote {
      min-height: 98px;
    }
    .talk-name.en {
      margin-left: 90px;
    }
    &.announcements .legend {
      margin-left: 34px;
    }
    .legend {
      margin-left: 50px;
    }
    &.keynote {
      .keynotes-image {
        margin-left: 50px;
      }
      .language-image.en {
        margin-left: 0px;
      }
    }
    .speaker-name, .talk-name {
      margin-left: 50px;
    }
    .language-image.en {
      margin-left: 50px;
    }
  }
}
