@media screen and (max-width: 767px) {
  @include grid_generator;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  .keynotes {
    font-size: 5em !important;
    margin-top: 5px !important;
  }

  h1 {
    font-size: 4.1em;
  }

  h2, h4 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 3.3em;
  }

  .last-h5 {
    font-size: 2.67em !important;
  }

  .stb, .six-columns p, .three-columns p {
    display: none !important;
  }

  .accepted {
    font-size: 2.2em !important;
  }

  .yes-we {
    font-size: 2.39em !important;
  }

  .sponsr {
    font-size: 4.3em !important;
  }

  .six-columns p {
    font-family: 'Helvetica', sans-serif !important;
    word-spacing: 1px;
    line-height: 25px;
  }

  #daily #news p {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.2em;
    word-spacing: 1px;
    line-height: 25px;
  }

  .two-columns span:nth-child(2) {
    padding-left: 10% !important;
  }

  #text, #desi, #sandi, #sponsors {
    display: none;
  }

  #daily #news .we {
    margin-top: 0;
  }

  .title {
    width: 80% !important;
    margin: 15% 10% 4% 10%;
  }

  .two-columns {
    width: 30% !important;
  }

  .stars .eight-columns {
    width: 40% !important;
  }

  .logo, .mask {
    display: none;
  }

  .mask {
    padding-top: 3% !important;
  }

  .tit { display: none; }
  .tit-mob {
    display: block !important;
    margin: auto ;
  }

  .copy-right {
    text-align: center !important;
  }

  .mask-bottom {
    display: block !important;

    img {
      margin-top: 5%;
    }
  }
}

@media screen and (max-width: 617px) {
  #home .sponsors {
    width: 280px;
  }

  .top-copy-right {
    display: none !important;
  }

  .bottom-copy-right {
    display: block !important;
  }

  .arrow-top {
    display: block !important;
  }

  .arrow {
    display: none !important;
  }

  .social {
    border-bottom: 1px solid #483e39;
  }

  .june {
    width: 72% !important;
  }

  .accepted {
    font-size: 1.7em !important;
  }

  h2 {
    font-size: 1.6em !important;
  }

  h3 {
    font-size: 1.1em !important;
  }

  h5 {
    font-size: 2.6em !important;
  }

  .last-h5 {
    font-size: 2.1em !important;
  }

  .yes-we {
    font-size: 1.9em !important;
  }

  .sponsr {
    font-size: 3.4em !important;
  }
}
