//Iphone 5, 4
@media screen and (max-width: 320px) {
  @include grid_generator;

  #about-magma{
    height: 2148px;

    .heading{
      height: 230px;
      .invitation{
        margin: 25% 10% 0;
      }
    }
  }

  #footer{
    #copy-right{
      p:nth-child(2){
        height: auto;
      }
    }
  }
}
