//Iphone 5, 4
@media screen and (max-width: 568px) and (min-width: 361px) {
  @include grid_generator;

  #blog{
    p{
      font-size: 20px;
      width: 45%;
    }
  }
}

@media screen and (max-width: 320px) {
  @include grid_generator;

  #blog{
    position: relative;

    .shadow{
      left: 75px;
      top: 55px;
    }

    .btn-register{
      position: absolute;
      left: 27%;
      top: 10%;
    }

    p{
      margin: 18% 0 0 3%;
    }
  }
}
