// ------------ Variables ---------------- 

$bg_pricing: url('/assets/new/pricing/separator_02.png');
$bg_promo: url('/assets/new/pricing/separator_03.png');


// ------------ Mixins ---------------- 
@mixin encapsule {
  border: thick 1px solid transparent;
  overflow: hidden;
}

@mixin img_slide {
  overflow: hidden;
  width: 747px;
  height: 335px;
  border: 5px solid #fff;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
  margin: 20px 0 30px auto;
}
//-----------------------------------

body, html {
  font-family: 'Asap';
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.name {
  h1 {
    width: 127px;
    height: 46px;
    .center_logo {
      background-image: url('logo-magma-sprite.svg');
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      text-indent: -9999px;
      &:hover {
        background-position: 0 -52px;
      }
    }
  }
}

.menu-icon{
  cursor:pointer;
  position:relative;
  a{
    position:relative;
    z-index:20;
  }
}
.social ul { float: right; }
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -42px; /* the bottom margin is the negative value of the footer's height */
}
footer, #push {
  height: 42px; /* .push must be the same height as .footer */
}
#push {
  background-image: url('/assets/bkg.jpg');
}
footer {
  font-family: 'Oswald';
  background: white;
  padding: 5px 5px;
  color: gray;
  text-transform: uppercase;
  font-family: 'trebuchet ms';
  position: relative;
  bottom: 0;
  z-index: 2;
  img {float: left; margin-right: 20px}
  p {
    padding-top: 9px;
    font-size: 12px;
    margin-left: 98px;
  }
}

p {
  font-size: 18px;
}
.black-h2 {
  font-family: oswald;
  display: inline-block;
  color: white;
  background: black;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 0;
}
.top-bar {
  font-family: 'Oswald';
  height: 55px;
  .title-area {
    padding-top: 5px;
  }
  .center {
    ul {
      margin-top: 10px;
      text-align: center;
      // margin-left: 280px;
      li {
        display: inline;
        a {
          font-size: 12px;
          display: inline-block;
          letter-spacing: 2px;
          padding: 0 5px !important;
          color: gray;
          font-weight: normal;
          text-transform: uppercase;
          &.selected {
            color: black;
          }
          &:hover {
            background: none;
            color: black;
          }
        }
      }

      li + li:before{
        content: " | ";
        padding: 0 5px !important;
        color: #666;
      }
    }
  }
  .social ul {
    text-transform: uppercase;
    margin-top: 6px;
    li:first-child {
      padding-top: 10px;
    }
    li {
      height: 41px;
      display: inline-block;
      &.fb, &.twt, &.gplus {
        top: -10px;
        position: relative;
      }
      a {
        background-image: url('/assets/social-sprite.png');
        background-repeat: no-repeat;
        height: 41px;
        width: 41px;
        display: inline-block;
        text-indent: -9999px;
        padding: 0;
      }

      &.fb a {
        background-position: 0 0;
        &:hover {
          background-position: 0 -45px;
        }
      }
      &.twt a {
        background-position: -50px 0;
        &:hover {
          background-position: -50px -45px;
        }
      }
      &.gplus a {
        background-position: -97px 0;
        &:hover {
          background-position: -97px -45px;
        }
      }
    }
  }
}

section {
  min-height: 270px;
}


section#home {
  background-image: url('/assets/bkg2.jpg');
  border-top: 10px solid #c7e1d7;
  .row {
    .column {
      .staff {
        position: absolute;
        top: 50px;
      }
      #slider {
        @include img_slide;
        img {
          position: relative;
          float: left;
        }
      }
    }
  }
}

section#sponsorship {
  background-image: url('/assets/bkg.jpg');
  padding-bottom: 5%;
  border-top: 10px solid #c7e1d7;
  .row {
    .column.large-12.large-centered {
      @include encapsule;
      .spons {
        height: 346px;
        margin-top: 90px;
        img {
          height: 346px;
        }
      }
      .gold {
        @include encapsule;
        margin-top: -396px;
        a {
          float: left;
          display: block;
          width: 50%;
          &:nth-child(even) {
            img {
              margin-left: 40%;
            }
          }
          &:nth-child(5), &:nth-child(6), &:nth-child(7) {
            width: 33.333333333%;
            img { margin: 0 auto; }
          }
          img {
            margin-left: 10%;
          }
        }
      }
      .midium {
        overflow: hidden;
        margin-top: 40px;
        a {
          float: left;
          display: block;
          width: 33.33333333%;
        }
      }
      .silver {
        @include encapsule;
        margin-top: 40px;
        a {
          float: left;
          display: block;
          width: 25%;
        }
      }
      .spon_mobi {
        @include encapsule;
        display: none;
        a {
          display: block;
          float: left;
        }
      }
      a {
        img {
          margin: 0 auto;
        }
      }
    }
  }
  .media_sponsor {
    margin-top: 2.500em;
    padding: 0.625em 0;
    border-top: 1px solid #8bab9d;
    border-bottom: 1px solid #8bab9d;
    a, img {
      float: left;
    }
    a:nth-child(3), a:nth-child(4) {
      padding-left: 1em;
    }
  }
}
.fixed {
  z-index: 9999;
}

h3 { font-family: 'Oswald'; }
.margin_add_pricing { margin: 30px auto; }
.sponsor {
  margin: 70px auto 0 auto;
}
.spon_mobi { display: none; }
.img_mobile {
  background-image: url('/assets/mobile/bkg.jpg');
  height: 80px;
  float: left;
  border: thick 1px solid;
  overflow: hidden;
  img {
    width: 200%;
    height: 200%;
    margin: 0 auto;
    margin-top: -30px;
    background-repeat: no-repeat;
  }
}
.cli {
  a { top: 0 !important; }
}


/*---------------------------------------------------------*/

.hide {
  display: none;
}

.anti_harassment {
  margin-top: 40px;
}
