body, html {
  font-family: 'Asap';
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -42px; /* the bottom margin is the negative value of the footer's height */
}
footer, #push {
  height: 42px; /* .push must be the same height as .footer */
}
#push {
  background: #9bc2b2;
}
footer {
  background: white;
  padding: 5px 5px;
  color: gray;
  text-transform: uppercase;
  font-family: 'trebuchet ms';
  position: relative;
  bottom: 0;
  z-index: 2;
  img {float: left; margin-right: 20px}
  p {
    padding-top: 9px;
    font-size: 12px;
    margin-left: 5px;
  }
}

p {
  font-size: 18px;
}

.top-bar {
  height: 55px;
  .title-area {
    padding-top: 5px;
  }
  .center {
    ul {
      margin-top: 10px;
      // text-align: center;
      // margin-left: 280px;
      li {
        display: inline;
        a {
          font-size: 12px;
          display: inline-block;
          letter-spacing: 2px;
          padding: 0 5px !important;
          color: gray;
          font-weight: normal;
          text-transform: uppercase;
          &.selected {
            color: black;
          }
          &:hover {
            background: none;
            color: black;
          }
        }
      }

      li + li:before{
          content: " | ";
          padding: 0 5px !important;
          color: #666;
        }
      }
  }
  .social ul {
    text-transform: uppercase;
    margin-top: 6px;
    li:first-child {
      padding-top: 10px;
    }
    li {
      height: 41px;
      display: inline-block;
      &.fb, &.twt, &.gplus {
        top: -10px;
        position: relative;
      }
      a {
        background-image: url('/assets/social-sprite.png');
        background-repeat: no-repeat;
        height: 41px;
        width: 41px;
        display: inline-block;
        text-indent: -9999px;
        padding: 0;
      }

      &.fb a {
        background-position: 0 0;
        &:hover {
          background-position: 0 -45px;
        }
      }
      &.twt a {
        background-position: -50px 0;
        &:hover {
          background-position: -50px -45px;
        }
      }
      &.gplus a {
        background-position: -97px 0;
        &:hover {
          background-position: -97px -45px;
        }
      }
    }
  }
}

section {
  min-height: 470px;
}

section#home {
  a {
    position: relative;
    top: 75px;
    z-index: 2;
  }
  p:first-child {
    padding-top: 115px;
  }
}

section#speakers {
  background: #9ec6b6;
  padding-top: 40px;
  #keynotes {
    padding-bottom: 20px;
    border-bottom: 1px solid #c6ded5;
  }
  #speaker-wrap {
    // height: 500px;
    margin-bottom: 250px;
    h2 {
      display: inline-block;
      color: white;
      background: black;
      padding: 10px 15px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 25px;
      width: 100%;
      margin-bottom: 60px;
      margin-top: 0;
    }
    #speakers-list {
      // margin-top: 40px;
      li {
        list-style: none;
        position: relative;
        p.name {
          font-size: 11px;
          width: 167px;
          text-align: center;
          border: 5px solid black;
          background: white;
          text-transform: uppercase;
          padding: 5px;
          font-weight: 700;

        }
        &:hover {
          .info {
            display: block;
          }
        }
        &:nth-child(4n+4) {
          .info {
            left: -253px;
            right: 200px;
            &:before {
              left: 287px;
              border-width: 22px 0px 0 23px;
            }
          }
        }
        .info {
          display: none;
          position: absolute;
          background: white;
          border: 4px solid black;
          font-size: 14px;
          padding: 5px;
          z-index: 2;
          top: 0px;
          left: 138px;
          right: -179px;
          box-shadow: 1px 0px 1px #000,0px 1px 1px #000,2px 1px 1px #000,1px 2px 1px #000,3px 2px 1px #000,2px 3px 1px #000,4px 3px 1px #000,3px 4px 1px #000,5px 4px 1px #000,4px 5px 1px #000,6px 5px 1px #000;

          &:before {
              content: '';
              position: absolute;
              top: 100%;
              left: -4px;
              border-color: black transparent transparent transparent;
              border-style: solid;
              border-width: 26px 20px 0 1px;
              width: 0;
              height: 0;
          }
        }
      }
      .solo {
        margin-top: 40px;
      }
      a.help {
        position: relative;
        top: -225px;
        right: -147px;
        z-index: 2;
      }
    }
  }
}
section#location {
  background: #cee1d9;
  .location-title {
    position: relative;
    z-index: 2;
    margin-top: -185px;
    margin-bottom: 27px;
  }
}

section#venue {
  background: #9cc3b4;
  padding-top: 40px;
  border-bottom: 1px solid #c6ded5;
  a {
    color: white;
    text-decoration: underline;
    margin: 15px 0;
    display: block;
  }
  p, a, li{
    font-size: 14px;
  }
  p.address {
    margin-bottom: 0;
  }
  ul {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    border: none;
  }
}

section#sponsorship {
  background: #9bc2b2;
  padding-top: 40px;
}

