// ------------ Variables ---------------- 

$bg_pricing: url('/assets/new/pricing/separator_02.png');
$bg_promo: url('/assets/new/pricing/separator_03.png');


// ------------ Mixins ---------------- 
@mixin encapsule {
  border: thick 1px solid transparent;
  overflow: hidden;
}
//-----------------------------------

body, html {
  font-family: 'Asap';
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.name {
  h1 {
    width: 127px;
    height: 46px;
    .center_logo {
      background-image: url('logo-magma-sprite.svg');
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      text-indent: -9999px;
      &:hover {
        background-position: 0 -52px;
      }
    }
  }
}

.menu-icon{
  cursor:pointer;
  position:relative;
  a{
    position:relative;
    z-index:20;
  }
}
.social ul { float: right; }
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -42px; /* the bottom margin is the negative value of the footer's height */
}
footer, #push {
  height: 42px; /* .push must be the same height as .footer */
}
#push {
  background-image: url('/assets/bkg.jpg');
}
footer {
  font-family: 'Oswald';
  background: white;
  padding: 5px 5px;
  color: gray;
  text-transform: uppercase;
  font-family: 'trebuchet ms';
  position: relative;
  bottom: 0;
  z-index: 2;
  img {float: left; margin-right: 20px}
  p {
    padding-top: 9px;
    font-size: 12px;
    margin-left: 98px;
  }
}

p {
  font-size: 18px;
}
.black-h2 {
  font-family: oswald;
  display: inline-block;
  color: white;
  background: black;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 0;
}
.top-bar {
  font-family: 'Oswald';
  height: 55px;
  .title-area {
    padding-top: 5px;
  }
  .center {
    ul {
      margin-top: 10px;
      text-align: center;
      // margin-left: 280px;
      li {
        display: inline;
        a {
          font-size: 12px;
          display: inline-block;
          letter-spacing: 2px;
          padding: 0 5px !important;
          color: gray;
          font-weight: normal;
          text-transform: uppercase;
          &.selected {
            color: black;
          }
          &:hover {
            background: none;
            color: black;
          }
        }
      }

      li + li:before{
        content: " | ";
        padding: 0 5px !important;
        color: #666;
      }
    }
  }
  .social ul {
    text-transform: uppercase;
    margin-top: 6px;
    li:first-child {
      padding-top: 10px;
    }
    li {
      height: 41px;
      display: inline-block;
      &.fb, &.twt, &.gplus {
        top: -10px;
        position: relative;
      }
      a {
        background-image: url('/assets/social-sprite.png');
        background-repeat: no-repeat;
        height: 41px;
        width: 41px;
        display: inline-block;
        text-indent: -9999px;
        padding: 0;
      }

      &.fb a {
        background-position: 0 0;
        &:hover {
          background-position: 0 -45px;
        }
      }
      &.twt a {
        background-position: -50px 0;
        &:hover {
          background-position: -50px -45px;
        }
      }
      &.gplus a {
        background-position: -97px 0;
        &:hover {
          background-position: -97px -45px;
        }
      }
    }
  }
}

section {
  min-height: 470px;
}

section#home {
  a {
    position: relative;
    top: 75px;
    z-index: 2;
  }
  p:first-child {
    padding-top: 70px;
  }
}

section#speakers {
  background-image: url('/assets/bkg.jpg');
  border-top: 10px solid #c7e1d7;
  .row {
    .column.large-6.large-centered.hide-for-small {
      padding-top: 60px;
    }
  }
  #keynotes {
    padding-bottom: 20px;
  }
  #speaker-wrap {
    // height: 500px;
    border-top: 1px solid #c6ded5;
    margin-top: 20px;
    margin-bottom: 50px;
    h2 {
      @extend .black_h2;
    }
    #speakers-list {
      .globes {
        width: 25%;
        margin: 0 auto 45px auto;
        padding: 0 2.06185567%;
        float: left;
        position: relative;
        -webkit-perspective: 600px;
        -moz-perspective: 600px;
        -o-perspective: 600px;
        p.name {
          font-family: 'Oswald';
          font-size: 13px;
          width: 167px;
          text-align: center;
          border: 5px solid black;
          background: white;
          text-transform: uppercase;
          padding: 5px;
          font-weight: 700;
          margin: 0 auto;
        }
        &.flip .front {
          z-index: 900;
          border-color: #eee;
          background: #333;
          -webkit-transform: rotateY(180deg);
          -moz-transform: rotateY(180deg);
          -o-transform: rotateY(180deg);
        }
        &.flip .back {
          opacity: 1;
          z-index: 1000;
          background: white;
          -webkit-transform: rotateX(0deg) rotateY(0deg);
          -moz-transform: rotateX(0deg) rotateY(0deg);
          -o-transform: rotateX(0deg) rotateY(0deg);
        }
        .front {
          float: none;
          // position: absolute;
          top: 0;
          left: 0;
          z-index: 900;
          width: 100%;
          // height: 100%;
          -webkit-transform: rotateX(0deg) rotateY(0deg);
          -webkit-transform-style: preserve-3d;
          -moz-transform: rotateX(0deg) rotateY(0deg);
          -moz-transform-style: preserve-3d;
          -o-transform: rotateX(0deg) rotateY(0deg);
          -o-transform-style: preserve-3d;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
          -o-transition: all .4s ease-in-out;
          -ms-transition: all .4s ease-in-out;
          -moz-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
          img {
            margin: 0 auto;
            margin-bottom: 5px;
          }
        }
        .back {
          opacity: 0;
          background: white;
          float: none;
          position: absolute;
          padding: 17px;
          top: 0;
          left: 0;
          width: 100%;
          height: 230px;
          -webkit-transform: rotateY(-180deg);
          -webkit-transform-style: preserve-3d;
          -moz-transform: rotateY(-180deg);
          -moz-transform-style: preserve-3d;
          -o-transform: rotateY(-180deg);
          -o-transform-style: preserve-3d;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
          -o-transition: all .4s ease-in-out;
          -ms-transition: all .4s ease-in-out;
          -moz-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
          h4 {
            text-align: center;
            color: black;
            font-family: oswald;
            text-transform: uppercase;
            font-size: 17px;
            letter-spacing: 1px;
            margin-bottom: 20px;
            a {
              color: black;
            }
          }
          p {
            color: black;
            float: none;
            font-size: 14px;
            line-height: 18px;
          }
        }
        .accordion-group {
          display: none;
          @include encapsule;
          float: left;
          left: 0;
          width: 100%;
          .accordion-heading {
            @include encapsule;
            cursor: pointer;
            padding: 10px 0;
            .person_name {
              font-family: 'Oswald';
              text-transform: uppercase;
              color: black;
              display: block;
              padding: 7px 0;
              float: left;
              width: 100%;
              margin-bottom: 0;
            }
            [class*="icon_"] {
              width: 14px;
              height: 14px;
              background-image: url('/assets/glyphicons-halflings.png');
              line-height: 14px;
              display: inline-block;
            }
            .icon_search {
              background-position: -120px 0;
              background-repeat: no-repeat;
              top: 10px;
              float: left;
              margin: 7px 10px 0 15px;
            }
            .icon_chevron_down {
              background-position: -313px -119px;
              background-repeat: no-repeat;
              top: 10px;
              float: right;
              margin: 7px 15px 0 0;
            }
          }
          .accordion-body { /*  to show or hidde collapsed */
            position: relative;
            display: none;
            background: #cadfd5;
            padding-bottom: 10px;
            a {
              width: 100%;
              display: block;
              float: left;
              margin-left: 36px;
              color: #333;
              text-transform: uppercase;
            }
            img {
              margin: 0 auto;
              padding-top: 10px;
            }
            p {
              text-align: center;
              margin: 20px 20px 0 20px;
              padding-top: 10px;
              border-top: 1px solid #999e9d;
              line-height: 20px;
            }
          }
          .collapsed {
            background: #cadfd5;
            p {
              .icon_chevron_down {
                background-position: -288px -120px;
              }
            }
          }
        }
        &:nth-child(17) {
          margin-left: 25%;
        }
        &:last-child {
          margin-right: 25%;
        }
      }
      a.help {
        position: relative;
        top: -225px;
        right: -179px;
        z-index: 2;
      }
    }
  }
}
section#location {
  background: #cee1d9;
  .back_blue { background-image: url('/assets/bkg.jpg'); }
  .margin_add { margin-top: 40px; }
  .location-title {
    position: relative;
    z-index: 2;
    /*top: -185px;*/ /*------------------------------------*/
    margin-bottom: 30px;
    top: 50px;
    padding-top: 20px;
  }
}

section#venue {
  background-image: url('/assets/bkg.jpg');
  padding-top: 40px;
  a {
    color: white;
    text-decoration: underline;
    margin: 15px 0;
    display: block;
  }
  p, a, li{
    font-size: 14px;
  }
  p.address {
    margin-bottom: 0;
  }
  ul {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    border: none;
  }
}
$what: 0.098039215686275%;
section#pricing {
  background: white;
  min-height: 400px;
  background: url('bkg.jpg');
  .row {
    margin-bottom: 0;
  }
  .back_g {
    background-image: $bg_pricing;
    padding: 0;
    .row {
      ul {
        @include encapsule;
        .lin {
          height: 323px;
          width: $what * 7;
          float: left;
          display: block;
          background-image: url('/assets/new/pricing/bkg_dotted.png')
        }
        li {
          padding: 0 !important;
          text-transform: uppercase;
          text-align: center;
          width: 32.2%;
          .ticket-title {
            width: 100%;
            margin-top: 20px; 
          }
          .first_img { margin-bottom: 43px; }
          p.first {
            padding-top: 24px;
          }
          p {
            padding: 10px;
            margin-bottom: 0;
            padding-bottom: 0;
          }
          a {
            display: block;
            background: #f6b540;
            border: 5px solid #000;
            padding: 5px 10px;
            font-family: 'oswald';
            font-size: 22px;
            color: #000;
            letter-spacing: 2px;
            text-align: center;
            margin: 0 15px 15px 15px;
          }
          .money_reg, .mag {
            font-family: 'oswald';
            padding-top: 0;
            font-size: 28px;
          }
          .mail {
            border: 0;
            padding: 0;
            color: #d92817;
            background: transparent;
            font-size: 18px;
          }
          .around {
            padding-top: 0 !important;
            padding-bottom: 30px;
            font-size: 0.8em;
            line-height: 10px;
          }
          &.last {
            border: none;
          }
          .hosting {
            margin: 0 auto;
          }
          .magma-village {
            margin-top: 20px;
            padding: 0 39px;
            text-align: center;
            strong {
              font-size: 31px;
            }
            a {
              color: #d60a00;
            }
          }
        }
      }
    }
  }
  .promo {
    background-image: $bg_promo;
    border-top: 10px solid #c7e1d7;
    border-bottom: 10px solid #e7b25f;
    .row {
      .column {
        overflow: hidden;
        padding: 0;
        .prom {
          float: left;
          img {
            padding: 2em 2em 2em 0;
          }
          a {
            display: block;
            img {
              padding: 4em 2em 1em 0;
            }
            &:nth-child(1) {
              img {
                &:hover {
                  opacity: 0;
                }
              }
              &:hover {
                background: url('/assets/new/promo/angelhack_on.svg');
                background-repeat: no-repeat;
                background-position: 0 4em;
              }
            }
          }
          a.sg_yellow {
            img {
              padding: 3em 0 0;
            }
            &:hover {
              background: url('/assets/new/promo/SG-ON.svg');
              background-repeat: no-repeat;
              background-position: 0 3em;
            }
          }
        }
      }
    }
  }
  .title {
    margin-bottom: 30px;
    position: relative;
    padding-top: 80px;
  }
}

section#schedule {
  background-image: url('/assets/new/schedule/schedule_bkg.png');
  padding-bottom: 60px;
  .row {
    font-family: 'oswald';
    .column {
      .title {
        padding: 70px 0 10px 0;
      }
    }
    .large-4 {
      padding: 0;
      .day {
        margin: 30px auto 30px auto;
      }
      .row-schedule {
        @include encapsule;
        width: 100%;
        border-bottom: 1px solid #000;
        padding: 0.5375em 0.9375em;
        height: 100px;
        .hour {
          float: left;
          width: 20%;
          font-size: 20px;
        }
        .name { width: 70%; }
        .name2 { width: 90%; padding-left: 1.4em; }
        .name, .name2 {
          float: left;
          font-size: 20px;
          text-transform: uppercase;
        }
        .img-key {
          float: left;
          width: 10%;
        }
        .name-presentation {
          float: left;
          width: 70%;
          margin-left: 20%;
          line-height: 20px;
        }
        .name-presentation2 {
          float: left;
          width: 90%;
          padding-left: 1.75em;
          line-height: 20px;
        }
        .img {
          float: left;
          width: 10%;
        }
      }
    }
  }
}

section#sponsorship {
  background-image: url('/assets/bkg.jpg');
  padding-bottom: 5%;
  .row {
    .column.large-12.large-centered {
      @include encapsule;
      .spons {
        height: 346px;
        margin-top: 90px;
        img {
          height: 346px;
        }
      }
      .gold {
        @include encapsule;
        margin-top: -396px;
        a {
          float: left;
          display: block;
          width: 50%;
          &:nth-child(even) {
            img {
              margin-left: 40%;
            }
          }
          &:nth-child(5), &:nth-child(6), &:nth-child(7) {
            width: 33.333333333%;
            img { margin: 0 auto; }
          }
          img {
            margin-left: 10%;
          }
        }
      }
      .midium {
        overflow: hidden;
        margin-top: 40px;
        a {
          float: left;
          display: block;
          width: 33.33333333%;
        }
      }
      .silver {
        @include encapsule;
        margin-top: 40px;
        a {
          float: left;
          display: block;
          width: 25%;
          &:nth-child(5) {
            margin-left: 12.5%;
          }
        }
      }
      .spon_mobi {
        @include encapsule;
        display: none;
        a {
          display: block;
          float: left;
        }
      }
      a {
        img {
          margin: 0 auto;
        }
      }
    }
  }
  .media_sponsor {
    margin-top: 2.500em;
    padding: 0.625em 0;
    border-top: 1px solid #8bab9d;
    border-bottom: 1px solid #8bab9d;
    a, img {
      float: left;
    }
    a:nth-child(3) {
      padding-left: 1em;
    }
  }
}
.fixed {
  z-index: 9999;
}

h3 { font-family: 'Oswald'; }
.margin_add_pricing { margin: 30px auto; }
.sponsor {
  margin: 70px auto 0 auto;
}
.spon_mobi { display: none; }
.img_mobile {
  background-image: url('/assets/mobile/bkg.jpg');
  height: 80px;
  float: left;
  border: thick 1px solid;
  overflow: hidden;
  img {
    width: 200%;
    height: 200%;
    margin: 0 auto;
    margin-top: -30px;
    background-repeat: no-repeat;
  }
}
.cli {
  a { top: 0 !important; }
}


/*---------------------------------------------------------*/

.hide {
  display: none;
}