
@media only screen and (min-width : 768px) and (max-width: 979px) {
  .navbar-fixed-top {
    position: fixed;
    margin-left: 0;
    margin-right:0;
  }
  nav {
    height: 48px;
    .main-nav, .span3 {
      display: none;
    }
  }
  .navbar {
    margin-bottom: 0;
  }
  nav .logo {
    display: block;
    width: 81px;
    margin: 0 auto;
    float: none;
    margin-top: -32px;
    img.mobile {display: block}
    img.desktop {display: none}
  }
  .menu-mobile-handler {
    display: block;
  }

  #slider {
    margin-top: 16px;
    top: 33px;
  }
  .row {
    margin-left: 0px;
  }

  footer  {
    display: none;
    font-size: 9px;

  }
  .magmazine {
    // display: none;
  }
  #slider .slide#spotlight.mask, #slider .slide#spotlight  {
    .img-color{
      top: -1000px;
      margin-bottom: -1000px;
    }
  }
  ul.social {
    li:first-child {
      display: none;
    }
    li {
      margin-left: 20%;
      a {
        background-position-y: -45px !important;
      }
    }
  }
  .move-bottom {
    position: absolute;
    bottom: 0;
  }
}



@media (max-width: 480px) {
  body {
    padding: 0;
  }
  .navbar-fixed-top {
    position: fixed;
    margin-left: 0;
    margin-right:0;
  }
  nav {
    height: 48px;
    .main-nav, .span3 {
      display: none;
    }
  }
  .navbar {
    margin-bottom: 0;
  }
  nav .logo {
    display: block;
    width: 81px;
    margin: 0 auto;
    float: none;
    margin-top: -32px;
    img.mobile {display: block}
    img.desktop {display: none}
  }
  .menu-mobile-handler {
    display: block;
  }

  #slider {
    margin-top: 16px;
    top: 32px;
    // min-height: 350px;
  }

  footer p {
    font-size: 9px;
  }

  .magmazine {
    display: none;
  }

  #slider .slide#spotlight.mask, #slider .slide#spotlight  {
    .img-gray{
      opacity: 0;
      filter: alpha(opacity=0);
      z-index: 0;
    }

    .img-color{
      opacity: 1;
      filter: alpha(opacity=100);
      z-index: 1;
      top: -450px;
      margin-bottom: -450px;
    }
    #unmask {
      display: none;
    }
  }
  ul.social {
    li:first-child {
      display: none;
    }
    li {
      margin-left: 12%;
      a {
        background-position-y: -45px !important;
      }
    }
  }

  #slider .slide#venue {
    img {
      margin-top: 110px;
    }
    .venue-images {
      margin-top: -1439px;
      div {
        height: 249px;
        margin:10px 0;
      }
    }
  }

  #slider .slide#sponsorship {
    input {
      background-color: white;
    }
    .input::-webkit-input-placeholder { color: gray; }
    .input::-moz-placeholder { color: gray; } /* firefox 19+ */
    .input:-ms-input-placeholder { color: gray; } /* ie */
    .input:-moz-placeholder { color: gray; }
    .add-on {
      display:none;
    }
    .form .submit {
      font-size: 22px;
      margin: 0 10%;
    }

  }
}



@media (min-width: 1200px) {
 .navbar .container {
    width: 1170px;
  }
}
 // iPad (portrait)
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
  .navbar-fixed-top {
    position: fixed;
    margin-left: 0;
    margin-right:0;
  }
  nav {
    height: 48px;
    .main-nav, .span3 {
      display: none;
    }
  }
  .navbar {
    margin-bottom: 0;
  }
  nav .logo {
    display: block;
    width: 81px;
    margin: 0 auto;
    float: none;
    margin-top: -32px;
    img.mobile {display: block}
    img.desktop {display: none}
  }
  .menu-mobile-handler {
    display: block;
  }

  #slider {
    margin-top: 16px;
    top: 33px;
  }
  .row {
    margin-left: 0px;
  }

  footer  {
    display: none;
    font-size: 9px;

  }
  .magmazine {
  //   display: none;
  }
  #slider .slide#spotlight.mask, #slider .slide#spotlight  {
    .img-color{
      top: -1000px;
      margin-bottom: -1000px;
    }
  }

  ul.social {
    li:first-child {
      display: none;
    }
    li {
      margin-left: 20%;
      a {
        background-position-y: -45px !important;
      }
    }
  }
}

@media (max-width: 650px) and (orientation: portrait)  {
  body {
    padding: 0;
  }
  .navbar-fixed-top {
    position: fixed;
    margin-left: 0;
    margin-right:0;
  }
  nav {
    height: 48px;
    .main-nav, .span3 {
      display: none;
    }
  }
  .navbar {
    margin-bottom: 0;
  }
  nav .logo {
    display: block;
    width: 81px;
    margin: 0 auto;
    float: none;
    margin-top: -32px;
    img.mobile {display: block}
    img.desktop {display: none}
  }
  .menu-mobile-handler {
    display: block;
  }

  #slider {
    margin-top: 16px;
    top: 32px;
    // min-height: 350px;
  }

  footer p {
    font-size: 9px;
  }

  .magmazine {
    display: none;
  }

  #slider .slide#spotlight.mask, #slider .slide#spotlight  {
    .img-gray{
      opacity: 0;
      filter: alpha(opacity=0);
      z-index: 0;
    }

    .img-color{
      opacity: 1;
      filter: alpha(opacity=100);
      z-index: 1;
      top: -450px;
      margin-bottom: -450px;
    }
    #unmask {
      display: none;
    }
  }
  ul.social {
    li:first-child {
      display: none;
    }
    li {
      margin-left: 12%;
      a {
        background-position-y: -45px !important;
      }
    }
  }
}

//Andriod HTC desire like
@media (max-width : 360px) and (orientation: portrait)  {
  #slider .slide#venue {
    img {
      margin-top: 90px;
    }
    .venue-images {
      margin-top: -1119px;
      div {
        height: 200px;
        margin:10px 0;
      }
    }
  }

}

//Damm iphone super only
@media (max-width : 320px) and (orientation: portrait)  {
  #slider .slide#venue {
    img {
      margin-top: 70px;
    }
    .venue-images {
      margin-top: -979px;
      div {
        height: 172px;
        margin:10px 0;
      }
    }
  }
}
