.accordion-group
  .accordion-heading
    %p.luchador-name-md= locals[:name]
    -#.luchador-nickname-md= locals[:nickname]
    %i.arrow
  .accordion-body
    %img.speaker-mobile{ src: locals[:image_src] }
    %p.luchador-name-md= locals[:name]
    %p.bio= locals[:bio]
