#buy-ticket {
  background-color: #fff;
  font-family: oswald;
  line-height: 25px;

  p {
    color: #000;
    font-size: 150%;
    margin: 50px auto;
    text-align: center;
    width: 320px;
  }

  .box-office {
    text-align: center;
    height: 398px;
    img {
      position: relative;
      left: -18px;
      bottom: 21px;
    }
  }

  .register {
    text-align: center;
    background-color: #392f2c;

    a {
      margin: 141px 0
    }
  }
}