.gallery-box.tweet.large
  .tweet-avatar
    %img{ src: data.avatar }
  .tweet-content
    .tweet-header
      %p.tweet-fullname= data.fullname
      %p.tweet-username= data.username
      = render 'pages/2015/partials/gallery/twitter_share_buttons', tweet: data
    .tweet-body
      %p= paint_tweet data.text

